.DS_Store

/.htaccess
/authorize.php
/cron.php
/includes
/index.php
/install.php
/misc
/modules
/notsites
/profiles
/robots.txt
/scripts
/sites/default/
/sites/all/themes/asb/.sass-cache/
/themes
/update.php
/web.config
/xmlrpc.php
*~
/dev/sync.asb
/dev/sync.local
