/**
 * @file
 * Positioning for responsive layout .
 *
 * Define CSS classes to create a table-free, 3-column, 2-column, or single
 * column layout depending on whether blocks are enabled in the left or right
 * columns.
 *
 * This layout uses the Zen Grids plugin for Compass: http://zengrids.com
 */

@import "base";

// We are going to create a 980px wide, 5 column grid with 20px gutters between
// columns (applied as 10px of left/right padding on each column).
$zen-column-count:  8;
$zen-gutter-width:  10px;

// IE6-7 don't support box-sizing: border-box. We can fix this in 1 of 3 ways:
// - Drop support for IE 6/7. :-) In the _base.scss, set $legacy-support-for-ie6
//   and $legacy-support-for-ie7 to false.
// - (Preferred) Install the box-sizing polyfill and set the variable below to
//   the absolute path URL to the boxsizing.htc file.
//   @see https://github.com/Schepp/box-sizing-polyfill
//   $box-sizing-polyfill-path: "/path/to/boxsizing.htc";
// - Use the same CSS unit for grid width and gutter width (use px for both or
//   use % for both, etc.) and set the box-sizing variable to content-box.
//   $zen-box-sizing: content-box;

// You can generate more efficient CSS if you manually apply the
// zen-grid-item-base mixin to all grid items from within a single ruleset.
$zen-auto-include-item-base: false;
// $zen-auto-include-flow-item-base: false;



// Region Search
.front {
  .region-search {
    position: relative;
    padding: 30px 0 0 0;
  }
}

// Tour
#tour.hidden {
  iframe {
    @include element-invisible();
  }
}

#tour.active {
  @include element-invisible-off();
  display: none;
}

// Schemes Pager
#add_page_scroll_wrapper {
  #load_more_schemes_button,
  .views-widget-filter-field_issues_goals_target_id,
//  #pager_issue_filter,
  #edit-keys-wrapper {
    width: 100%;
  }
}



.front #content {
  padding-top: 3em;
}

// Navigation bar

@media all and (min-width: 480px) {
  #main {
    position: relative;
  }
  #navigation {
    position: absolute;
    top: 0; /* Move the navbar up inside #main's padding. */
    // height: 3em;
    width: $zen-grid-width;
  }
}

@media all and (min-width: 720px) and (max-width: 959px) {

  $zen-grid-width: 720px;
  $zen-gutter-width: 10px;
  $zen-column-count: 6;

  #header {
    width: 100%;
  }

  #header section.content,
  #content-wrapper,
  #footer section.content,
  #add_page_scroll_wrapper {
    /* For screen sizes larger than 960px, prevent excessively long lines of text by setting a max-width. */
    margin-left: auto;
    margin-right: auto;
    max-width: 720px;
  }

  header section.content,
  #content .scheme-collection-view,
  #footer section.content {
    @include zen-grid-container();
  }

  #content {
    @include zen-grid-item( 6, 0 );
    margin-left: 0;
  }

  aside#sidebar {
    @include zen-grid-item( 1, 5 );
    @include box-sizing(content-box);
  }


  .scheme-collection-view .views-row {
    @include zen-float();
    @include zen-grid-flow-item( 2 );
  }

}

@media all and ( min-width: 740px ){
  // Schemes Pager
  #add_page_scroll_wrapper {
    #load_more_schemes_button,
    .views-widget-filter-field_issues_goals_target_id,
    //#pager_issue_filter,
    #edit-keys-wrapper {
      float: left;
    }
    .views-widget-filter-field_issues_goals_target_id {
      @include zen-grid-flow-item( 2 );
    }
    #load_more_schemes_button {
      @include zen-grid-flow-item( 4 ); 
    }
    #edit-keys-wrapper {
      @include zen-grid-flow-item( 2 );            
      padding-left: 1em;
    }

  }

}
@media all and (min-width: 960px) {

  $zen-grid-width: 960px;
  $gutter-width: 20px;
  // Use 8 grid columns for larger screens. (we only need four, but more is sometimes more!)
  $zen-column-count: 8;
  
  #header,
  #content,
  footer#footer section.content {
    @include zen-grid-container;
  }

  #header,
  #block-views-exp-scheme-search-page,
  .not-front .main-content {
    width: 960px;
    margin: 0 auto;
  }

  .not-front.page-node #content,
  .not-front.page-user #content {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  #page {
    #header {
      #name-and-slogan{
        display: inline-block;
        width: 428px
      }
      
      section#navigation {
        display: inline-block;
        width: auto;
      }
    }
  }

  #content article>header, {
    @include clearfix;    
  }

  article .wrapper>section.content,
  .sidebar-second section.page-content {
    @include zen-grid-item(6, 0);
    @include zen-grid-container;
    margin-left: 0;
  }
  
  #content aside.scheme-meta,
  #content aside.user-meta,
  #content aside#sidebar {
    @include zen-grid-item(2, 6);
    @include box-sizing(content-box);
  }


  .scheme-collection-view .views-row {
    @include zen-float;
    @include zen-grid-flow-item(2);
  }

  #header-image-strip {
    position: absolute;
    top: 46px;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    z-index: -1;
    font-size: 0;
    ul,li { margin:0; padding:0; }
    li { display: inline-block; }
    img{
     display: block ;
    }
  }

  .logged-in.admin-menu #header-image-strip{
    top: 66px;
  }

  /* node editing */
  .page-node-add-scheme {
    #content {
      width: $zen-grid-width;
      position: relative;
      @include box-sizing( border-box );
      padding-left: 150px;
      .form-field-type-text-long,
      .form-type-textfield,
      .form-wrapper {
        max-width: 500px;
      }
    }
  }

}

// Center the page.
#header,
#content article>header .wrapper,
#content article>.wrapper,
#content .scheme-collection-view,
#content>header .page-wrapper,
#footer section.content,
.messages__list,
.views-exposed-widgets,
.page-node-add-scheme #main,
.node-type-scheme.og-context.og-context-node.section-node-edit #content,
// .page-user-edit #content,
.page-user.not-logged-in #content,
#add_page_scroll_wrapper,
.no-sidebars section.page-content {
  /* For screen sizes larger than 960px, prevent excessively long lines of text by setting a max-width. */
  margin-right: auto;
  margin-left: auto;
  max-width: 960px;
}