/**
 * @file
 * Positioning for responsive layout .
 *
 * Define CSS classes to create a table-free, 3-column, 2-column, or single
 * column layout depending on whether blocks are enabled in the left or right
 * columns.
 *
 * This layout uses the Zen Grids plugin for Compass: http://zengrids.com
 */

@import "base";





// We are going to create a 980px wide, 5 column grid with 20px gutters between
// columns (applied as 10px of left/right padding on each column).
$zen-column-count:  5;
$zen-gutter-width:  20px;


// IE6-7 don't support box-sizing: border-box. We can fix this in 1 of 3 ways:
// - Drop support for IE 6/7. :-) In the _base.scss, set $legacy-support-for-ie6
//   and $legacy-support-for-ie7 to false.
// - (Preferred) Install the box-sizing polyfill and set the variable below to
//   the absolute path URL to the boxsizing.htc file.
//   @see https://github.com/Schepp/box-sizing-polyfill
//   $box-sizing-polyfill-path: "/path/to/boxsizing.htc";
// - Use the same CSS unit for grid width and gutter width (use px for both or
//   use % for both, etc.) and set the box-sizing variable to content-box.
//   $zen-box-sizing: content-box;


// You can generate more efficient CSS if you manually apply the
// zen-grid-item-base mixin to all grid items from within a single ruleset.
$zen-auto-include-item-base: false;
// $zen-auto-include-flow-item-base: false;

.not-front #header-image-strip { display: none }

// Center the page.
header#header,
#content article>header .wrapper,
#content article>.wrapper,
#content .scheme-collection-view,
#footer section.content,
.messages__list{
  /* For screen sizes larger than 960px, prevent excessively long lines of text by setting a max-width. */
  margin-left: auto;
  margin-right: auto;
  max-width: 960px;
}


// Apply the shared properties of grid items in a single, efficient ruleset.
// #content,
// #footer section.content{
//   @include zen-grid-item-base();
// }

// Containers for grid items and flow items.



// Navigation bar

@media all and (min-width: 480px) {
  #main {
    // padding-top: 3em; /* Move all the children of #main down to make room. */
    position: relative;
  }
  #navigation {
    position: absolute;
    top: 0; /* Move the navbar up inside #main's padding. */
    height: 3em;
    width: $zen-grid-width;
  }
}

@media all and (min-width: 720px) and (max-width: 959px) {

  $zen-grid-width: 720px;
  $zen-gutter-width:  10px;
  $zen-column-count: 6;

  header#header,
  header section.content,
  #content-wrapper,
  #footer section.content {
    /* For screen sizes larger than 960px, prevent excessively long lines of text by setting a max-width. */
    margin-left: auto;
    margin-right: auto;
    max-width: 720px;
  }

  header section.content,
  #content .scheme-collection-view,
  #footer section.content {
    @include zen-grid-background();
    @include zen-grid-container();
  }

  #content {
    @include zen-grid-item( 6, 0 );
    margin-left: 0;
  }

  aside#sidebar {
    @include zen-grid-item( 6, 0 );
  }

  // .front .scheme-collection-view {
  //   @include zen-grid-item( 6, 0 );
  //   // margin-left: 0;
  // }

  .scheme-collection-view .views-row {
    @include zen-float();
    @include zen-grid-flow-item( 2 );
  }

}

@media all and (min-width: 960px) {

  $zen-grid-width: 960px;
  // Use 8 grid columns for larger screens. (we only need four, but more is sometimes more!)
  $zen-column-count: 8;
  
  header#header,
  #content,
  footer#footer section.content {
    @include zen-grid-container();
  }

  #page {
    #header {
      #name-and-slogan{
        display: inline-block;
        width: 428px
      }
      section#navigation {
        display: inline-block;
        width: auto;
      }
    }
  }

  #content article>header {
    @include clearfix;    
  }

  article .wrapper>section.content{
    @include zen-grid-item( 6, 0 );
    margin-left: 0;
    border: 1px #f00 solid;
  }

  #content aside.scheme-meta,
  #content aside#sidebar {
    @include zen-grid-item( 2, 6 );
  }

  // .front .scheme-collection-view {
  //   @include zen-grid-item( 8, 0 );
  // }

  .scheme-collection-view .views-row {
    @include zen-float;
    @include zen-grid-flow-item( 2, 8 );
  }

  #header-image-strip {
    position: absolute;
    top: 73px;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    z-index: -1;
    font-size: 0;
    img{ 
      display: inline-block;
      margin: 0;
      padding: 0;
    }
  }


}
