//
// "base" partial
//
// To make it easier to use all variables and mixins in any Sass file in this
// theme, each .scss file has a @import "base" declaration. And this _base.scss
// file is in charge of importing all the other partials needed for the theme.
//
// This base partial is organized in this way:
// - First we set any shared Sass variables.
// - Next we import Compass plug-ins (Sass mixin libraries).
// - Last we import a _custom.scss partial that includes our custom mixins.
//

//
// Legacy IE support
//
// These variables are used by many mixins to add additional CSS to support
// specific versions of IE or specific vendor prefixes.
//
// To turn on support for IE6 or IE7, set those variables to true.
//
// Zen does not require special handling for IE8 or later. But Compass uses that
// variable for a couple edge cases. We include it for completeness sake. See
// the documentation at http://compass-style.org/reference/compass/support/
$legacy-support-for-ie6: false;
$legacy-support-for-ie7: false;
$legacy-support-for-ie8: true;

//
// Colors, etc.
//
$accent: #EF3F26; //orange
$accent-secondary: #F15D38; //links etc.
$panel: #F3F2E0; //beige background
$brand: #912A1B;//wine
$backdrop: #2D2D2E; //#141414;	//dark grey background
$even-backdrop: white;
$odd-backdrop: #EFF0F0; 
$rules-color: #e8e8e8; // gray horizontal and vertical rules
$text-color: #7C7F7E; // body copy
// $text-color-prominent: #303332; // dark grey headers
$text-color-prominent: #414042;
$text-color-secondary: #808080;
$button: #826853; // brown
$membership-backdrop: #E8EAEA; // only used in "scheme leader and membership panel"
//same as wine, but both things are unique enough to have separate vars
$skills: #912A1B;
$funds: #56CBC8;
$supplies: #5FC86C;
$site-title-color: white;
$nav-title-color: white;
$nav-description-color: $text-color;
$gray-medium: #ccc;

// The amount lists, blockquotes and comments are indented.
$indent-amount: 30px;


//
// Partials to be shared with all .scss files.
//

@import "compass/support";  // Add Compass' IE and vendor prefix support variables.
@import "compass/utilities/general/clearfix"; // Better than Drupal's clearfix.
@import "compass/utilities/sprites"; // See http://compass-style.org/help/tutorials/spriting/
@import "compass/utilities/sprites/base";
@import "compass/css3";     // Use one CSS3 mixin instead of multiple vendor prefixes.
@import "custom";           // Import our custom mixins last.
@import "zen";              // Add the Zen Grids responsive layout mixins.
@import "zen/background";
@import "compass/typography/text/replacement";
@import "compass/typography/vertical_rhythm"; // Helps set up a vertical rhythm.
@import "type"; // Helps set up a vertical rhythm.
@import "font-icons";
