%fullwidth {
  width: 100% !important;
}

%full-centered {
  width: 100%;
  margin: 0 auto;
  @media (min-width: $screen-md ) {
    max-width: $screen-md;
  }
}

.civi-button {

  @include button($height: 30px, $font-size: $h3-font-size + 6px);
  border: none !important;
  text-shadow: none !important;
  color: $nav-title-color !important;
  span {
    line-height: 2;
    .icon {
      display: none !important;
    }
  }

}


.clearfix {
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
   clear: both;
  }
}
