//
// Custom sass mixins
//
// To use a mixin in this file, add this line to the top of your .scss file:
//   @import "base";
// Then to use a mixin for a particular rule, add this inside the ruleset's
// curly brackets:
//   @include mix-in-name;

//
// mixin for bullet proof font declaration syntax
// http://pivotallabs.com/bulletproof-font-face-syntax-with-sass/
// modified to have font-id argument for SVG fonts (otherwise identifier and font id always have to be the same)
//

@mixin font-face($font-family, $font-id, $file-path, $weight: normal, $style: normal ) {
  @font-face {
      font-family: $font-family;
      src: url('#{$file-path}.eot');
      src: url('#{$file-path}.eot?#iefix') format('embedded-opentype'),
           url('#{$file-path}.woff') format('woff'),
           url('#{$file-path}.ttf') format('truetype'),
           url('#{$file-path}.svg##{$font-id}') format('svg');
      font-weight: $weight;
      font-style: $style;
      font-stretch: none;
  }
}


@mixin font-icon-base($family:"entypo", $font-size: 1em, $width: 1em, $margin: 0.2em, $align: left, $valign: middle, $color: inherit, $line-height: 1) {
  @if $family == "entypo-social" {
    $family:"entypo-social";
    $file:"entypo-social";
  }
  @else if $family == "entypo" {
    $family:"entypo";
    $file:"entypo";
  }
  &:before {
    font-family: "#{$family}";
    font-style: normal;
    font-size: $font-size;
    line-height: $line-height;
    margin-right: $margin;
    text-align: $align;
    display: inline-block;
    width: $width;
    color: $color;
    vertical-align: $valign;
  }
}

@mixin header-style ($family: $header-font-family, $size: $h2-font-size, $transform: uppercase, $color: $text-color-prominent, $weight: normal) {
  font-size: $size;
  font-family: $family;
  color: $color;
  text-transform: $transform;
  font-weight: $weight;
}

@mixin body-text ($family: $font-body, $size: $base-font-size, $line-height: $base-line-height + 2, $color: $text-color, $weight: normal, $transform: none ) {
  font-size: $size;
  font-family: $family;
  color: $color;
  font-weight: $weight;
  line-height: $line-height;
  text-transform: $transform;
}

@mixin standard-border($color: $rules-color, $width: 1px, $style: solid) {
  color: $color;
  width: $width;
  style: $style;
}

@mixin standard-links ($color: $accent, $vcolor: darken($accent,10%), $hcolor: $brand, $weight: normal, $text-decoration: none, $text-transform: none, $border: none) {
  a,
  a:link {
    border: $border;
    color: $color;
    font-weight: $weight;
    text-decoration: $text-decoration;
  }
  a:visited {
    border: $border;
    color: $vcolor;
    text-decoration: $text-decoration;
  }
  a:hover {
    border: $border;
    color: $hcolor;
    text-decoration: $text-decoration;
  }
}

@mixin mini-pager( $dimension: 13px ) {
  li {
    padding: 0;
    a {
      @include font-icon-base($font-size: 22px, $margin: 0, $width: $dimension, $align: center, $color: $even-backdrop);
      &:before {
        background: $text-color;
        border-radius: 50%;
        height: $dimension;
        line-height: $dimension;
      }
    }
    &.pager-previous a {
      @extend %entypo-triangle-left;
    }
    &.pager-next a {
      @extend %entypo-triangle-right;
    }
    &.pager-last {
      display: none;
    }
    &.pager-current {
      color: $text-color;
      font-weight: normal;
    }
  }
}

@mixin hidden-text {
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
}

@mixin hide-content {
  font: 0/0;
  display: none;
  line-height: 0;
}

@function blackTranslucent($opacity){
    @return rgba(0,0,0,$opacity)
}
@function whiteTranslucent($opacity){
    @return rgba(255,255,255,$opacity)
}

@mixin whiteOverlay($opacity){
  background: whiteTranslucent($opacity);
}

@mixin blackOverlay($opacity){
  background: blackTranslucent($opacity);
}

@mixin abs( $top: 0, $right: none, $bottom: none, $left: 0, $zindex: 0 ){
  //position the element
  position: absolute;
  top: $top;
  left: $left;
  z-index: $zindex;
}

@mixin triangle ($size, $color, $direction) {
  height: 0;
  width: 0;

  @if ($direction == up) or ($direction == down) or ($direction == right) or ($direction == left) {
    border-color: transparent;
    border-style: solid;
    border-width: $size / 2;

    @if $direction == up {
      border-bottom-color: $color;

    } @else if $direction == right {
      border-left-color:   $color;

    } @else if $direction == down {
      border-top-color:    $color;

    } @else if $direction == left {
      border-right-color:  $color;
    }
  }

  @else if ($direction == up-right) or ($direction == up-left) {
    border-top: $size solid $color;

    @if $direction == up-right {
      border-left:  $size solid transparent;

    } @else if $direction == up-left {
      border-right: $size solid transparent;
    }
  }

  @else if ($direction == down-right) or ($direction == down-left) {
    border-bottom: $size solid $color;

    @if $direction == down-right {
      border-left:  $size solid transparent;

    } @else if $direction == down-left {
      border-right: $size solid transparent;
    }
  }
}
// element-invisible as defined by http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
@mixin element-invisible {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  @if $legacy-support-for-ie6 or $legacy-support-for-ie7 {
    clip: rect(1px 1px 1px 1px); // IE6 and IE7 use the wrong syntax.
  }
  clip: rect(1px, 1px, 1px, 1px);
}

// Turns off the element-invisible effect.
@mixin element-invisible-off {
  position: static !important;
  clip: auto;
  height: auto;
  width: auto;
  overflow: auto;
}

@mixin element-focusable {
  @include element-invisible;

  &:active,
  &:focus {
    @include element-invisible-off;
  }
}

// The word "Unpublished" displayed underneath unpublished nodes and comments.
@mixin unpublished-div {
  height: 0;
  overflow: visible;
  color: #d8d8d8;
  font-size: 75px;
  line-height: 1;
  font-family: Impact, "Arial Narrow", Helvetica, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  word-wrap: break-word; // A very nice CSS3 property

  @if $legacy-support-for-ie6 or $legacy-support-for-ie7 {
    .lt-ie8 &>* {
      position: relative; // Otherwise these elements will appear below the "Unpublished" text.
    }
  }
}

@mixin zigzag-border ($foreground-color: $odd-backdrop, $background-color: $even-backdrop, $background: transparent, $angle: 135deg, $size: 12px) {
    background:
      linear-gradient(-$angle, $foreground-color 5px, transparent 0) 0 5px,
      linear-gradient($angle, $foreground-color 5px, $background-color 0) 0 5px;
    background-image: 
      -webkit-gradient(-$angle, $foreground-color 5px, transparent 0) 0 5px,
      -webkit-gradient($angle, $foreground-color 5px, $background-color 0) 0 5px;
    background-color: $background;
    background-position: left bottom;
    background-position-x: left;
    background-position-y: bottom;
    background-repeat: repeat-x;
    background-size: $size $size;
}

// similar to above, but allows for transparency... and sets up &before as opposed to belonging to :before/:after declarations
@mixin zigzag-fringe( $color: #f00, $bg:  #000 , $loc: 'bottom' , $size: 15px, $deg: 45deg ) {
  position: relative;
  @include rotate(360deg); // helps some browsers render with anti-aliasing
  &:before {      
    content: '';
    position: absolute;
    background-repeat: repeat;
    z-index: -1;
    background-color: $color;
    @include background(
      linear-gradient( $deg, $bg, $bg 75%, $color 75%, $color ),
      linear-gradient( -$deg, $bg, $bg 75%, $color 75%, $color )
    );
    background-position: 0.5*$size 0, 0.5*$size 0, 0 0.5*$size, 0 0.5*$size;
    background-size: $size $size;
    left: 0;
    height: $size;
    bottom: -$size;
    width: 100%;
  }
}



@mixin shadow ($h-shadow: 10px, $v-shadow: 10px, $blur: 5px, $spread: 5px, $color: #888888){
  box-shadow: $h-shadow $v-shadow $blur $spread $color;
}

@mixin vertical-ticks ($angle: 90deg, $color: $text-color-secondary, $width: 1px, $spacing: 50%) {
    background-image: 
      linear-gradient($angle, $color $width, transparent $width);
    background-size: $spacing;
    background-position: -$width;
}

@mixin button($height: 24px, $color: $button-color-primary, $radius: 4px, $font-size: $base-font-size, $font-color: $nav-title-color, $font-family: $header-font-family, $transform: uppercase, $display: inline-block, $hvfontcolor: $nav-title-color, $hvcolor: $brand) {
  display: $display;
  padding: 0 20px;
  height: $height;
  line-height: $height;
  background-color: $color;
  color: $font-color;
  font-size: $font-size;
  font-family: $font-family;
  border-radius: $radius;
  text-align: center;
  text-transform: $transform;
  &:hover,
  &:focus {
    // background-color: darken($button-color-primary, 10%);
    background-color: $hvcolor;
    color: $hvfontcolor;
  }
}

@mixin load-spinner( $bgcolor: #fff, $opacity: .8 ) {
  position: absolute;
  top: 0;
  left : 0;
  height: 100%;
  width: 100%;
  background-color : rgba( $bgcolor, $opacity );
  background-image : url( ../images/spinner.gif );
  background-position: center center;
  background-repeat: no-repeat;
}

@mixin offscreen {
  position: absolute;
  top: -99999em;
  width: 1px;
  height: 1px;
  overflow: hidden;
  outline: 0;
}

@mixin breakpoint( $point, $maxmin: min-width ) {
  @if $point == xs {
    @media ( $maxmin: $screen-xs) {
      @content;
    }
  }
  @if $point == sm {
    @media ( $maxmin: $screen-sm ) {
      @content;
    }
  }
  @else if $point == md {
    @media ( $maxmin: $screen-md)  {
      @content;
    }
  }
  @else if $point == lg {
    @media ( $maxmin: $screen-lg)  {
      @content;
    }
  }
}

