

//
// Font faces, stacks and sizes.
//

// Compass' vertical_rhythm extension is a powerful tool to set up a vertical
// rhythm for your entire page. You can see some of its mixins and functions in
// use in the normalize.scss file.
// @see http://compass-style.org/reference/compass/typography/vertical_rhythm/
// Typography
// -------------------------
$sansFontFamily:        SourceSansPro, Tahoma, sans-serif;
$monoFontFamily:        Monaco, Menlo, Consolas, "Courier New", monospace;

$header-font-family:   League, sans-serif;
$header-font-weight:   normal;
$header-color:         inherit;

$base-font-size:   12px; // The font size set on the root html element.

// $base-line-height set to px instead of a factor because 
// it was resulting in the following error
// error sass/normalize.scss (Line 108 of _vertical_rhythm.scss: 0.08571em/px isn't a valid CSS value.) 
// this is a vertical rhythm bug
$base-line-height: 14.4px; // This line-height determines the basic unit of vertical rhythm.


// $h1-font-size: 2.7857 * $base-font-size;
$h1-font-size: 4.85 * $base-font-size;
$h2-font-size: 2.7857 * $base-font-size;
$h3-font-size: 1.17 * $base-font-size;
$h4-font-size: 1    * $base-font-size;
$h5-font-size: 0.83 * $base-font-size;
$h6-font-size: 0.75 * $base-font-size;

@include establish-baseline;

// Now create some variables for the font stacks we want to use on this site.
$base-font-family: $sansFontFamily; // The font family set on the html element.
$font-body:        $sansFontFamily;
$font-monospace:   $monoFontFamily;
$header-line-height: 1.2;

@include font-face('League', 'leaguegothic', '../fonts/league_gothic' );
@include font-face('SourceSansPro', 'source_sans_proregular', '../fonts/sourcesanspro-regular' );
@include font-face('SourceSansPro', 'source_sans_proitalic', '../fonts/sourcesanspro-italic', normal, italic);
@include font-face('SourceSansPro', 'source_sans_probold', '../fonts/sourcesanspro-bold', bold );
@include font-face('SourceSansPro', 'source_sans_probold_italic', '../fonts/sourcesanspro-bolditalic', bold, italic);
@include font-icon-family(entypo);

$header-font-family: League, Helvetica, sans;

@mixin header-style ($family: $header-font-family, $size: $h2-font-size, $transform: uppercase, $color: $text-color-prominent, $weight: normal) {
  font-size: $size;
  font-family: $family;
  color: $color;
  text-transform: $transform;
  font-weight: $weight;
}

@mixin body-text ($family: $font-body, $size: $base-font-size, $color: $text-color, $weight: normal) {
  font-size: $size;
  font-family: $family;
  color: $color;
  font-weight: $weight;
  line-height: $base-line-height + 2px;
}

h1,
h2,
h3,
h4,
h5 {
  text-transform: uppercase;
  color: $text-color-prominent;
  font-family: $header-font-family;
  font-weight: $header-font-weight;
}

h1 {
  font-size: $h1-font-size;
}

h2 {
  font-size: $h2-font-size;
}

h3 {
  font-size: $h3-font-size;
}

h4 {
  font-size: $h4-font-size;
}

a,
a:link,
h3.scheme-name a {
  text-decoration: none;
  color: $accent;
  &:hover {
    color: darken($accent, 20%);
  }
}

h2#site-name,
h1#site-name {
  font-size: 4.5em;
  color: $site-title-color;
  a, a:link, a:visited {
    color: inherit;
  }
}

h1#page-title {
  font-size: $h1-font-size;
  line-height: 1.1em;
  // line-height: $h1-font-size;
}

h6,
.issue dt {
  font-size: $base-font-size;
  font-family: $base-font-family;
  font-weight: $header-font-weight;
  color: $text-color;
}

header#header {
  #block-system-user-menu,
  .block-menu-block ul li {
    span.title {
      font-size: 15px;
      color: $nav-title-color;
    }
    span.username,
    span.description {
      display: block;
      clear: both;
      color: $nav-description-color;
    }

    a.login,
    a.logout { color: $nav-title-color; }
  }
}


#stepper-add-scheme {
  font-family: $header-font-family;
}