

//
// Font faces, stacks and sizes.
//

// Compass' vertical_rhythm extension is a powerful tool to set up a vertical
// rhythm for your entire page. You can see some of its mixins and functions in
// use in the normalize.scss file.
// @see http://compass-style.org/reference/compass/typography/vertical_rhythm/
// Typography
// -------------------------
$sansFontFamily:        SourceSansPro, Tahoma, sans-serif;
$monoFontFamily:        Monaco, Menlo, Consolas, "Courier New", monospace;

$header-font-family:   League, sans-serif;
$header-font-weight:   normal;
$header-color:         inherit;

$base-font-size:   12px; // The font size set on the root html element.

// $base-line-height set to px instead of a factor because 
// it was resulting in the following error
// error sass/normalize.scss (Line 108 of _vertical_rhythm.scss: 0.08571em/px isn't a valid CSS value.) 
// this is a vertical rhythm bug
$base-line-height: 18px; // This line-height determines the basic unit of vertical rhythm.


$h1-font-size: 2.7857 * $base-font-size;
$h2-font-size: 2.7857 * $base-font-size;
$h3-font-size: 1.17 * $base-font-size;
$h4-font-size: 1    * $base-font-size;
$h5-font-size: 0.83 * $base-font-size;
$h6-font-size: 0.75 * $base-font-size;

@include establish-baseline;

// Now create some variables for the font stacks we want to use on this site.
$base-font-family: $sansFontFamily; // The font family set on the html element.
$font-body:        $sansFontFamily;
$font-monospace:   $monoFontFamily;
$header-line-height: 1.2;

@include font-face('League', 'leaguegothic', '../fonts/league_gothic' );
@include font-face('SourceSansPro', 'source_sans_proregular', '../fonts/sourcesanspro-regular' );
@include font-face('SourceSansPro', 'source_sans_proitalic', '../fonts/sourcesanspro-italic', normal, italic);
@include font-face('SourceSansPro', 'source_sans_probold', '../fonts/sourcesanspro-bold', bold );
@include font-face('SourceSansPro', 'source_sans_probold_italic', '../fonts/sourcesanspro-bolditalic', bold, italic);

$header-font-family: League, Helvetica, sans;

h1,
h2,
h3,
h4,
h5 {
  text-transform: uppercase;
  color: $text-color-prominent;
  font-family: $header-font-family;
  font-weight: normal;
}

h2#site-name,
h1#site-name {
  font-size: 4.5em;
  color: $site-title-color;
  a, a:link, a:visited {
    color: inherit;
  }
}
