// A place to put small little special use reusable classes that may not belong in with mixins
//
// sets transition duration to 0 so that something that has a transition, can when having this class hide/show without transition
// used for showing search region in search results without it animating in.
//

.atrest {
  @include transition-duration(0);  
}

.invisible {
  @include element-invisible();  
}
