// Base:
@import "base";

.admin-menu-icon.expandable { 
  img { width: 16px; }
}

//@import "ui-icons/*.png";
//@include all-ui-icons-sprites;
body {
  header#header {
    position: relative;
    z-index: 10;
    height: 75px;
    h1#site-name {
      // width: 428px;
      margin: 0 auto;
      a{
        display: block;
        text-indent: -9000px;
        overflow: hidden;
        text-align: left;
        background-repeat: no-repeat;
      }
    }
    section#navigation{
        background-color: $backdrop;
    }
  }
}

#page:before {
  content: " ";
  position: absolute;
  // left: -13px;
  width: 100%;
  height: 75px;
  z-index: 10;
  background: url( ../images/header-fringe.png ) repeat-x bottom center;    
}

#main { 
  position: relative;
  top: -5px;
}

.not-front #main>header .content-header {
  background-color: $panel;
}

// inside pages
#name-and-slogan h1#site-name {
  height: 75px;
  a {
    background-image: url('../images/logo.png?1376927784');
  }
}

// homepage style
.front{
  #header {
    height: 201px;
  }
  #name-and-slogan {
    h1#site-name {
      width: 428px;
        a{
        background-image: url('../images/logo-home.png?1376927784');
        height: 201px;
        z-index: 10;
      }
    }
  }
}

