@import "base";
@import "type";
@import "util";
@import "modals";
@import "header";
@import "layout";           // Layout stuff


// Base:

html, body {
  min-height : 100%;
  width: 100%; 
}

html, p {
  @include body-text;
}

.main-content p {
  @include body-text ($size: $base-font-size + 2, $line-height: $base-line-height + 4);
}

.state {
  @include header-style($color: $funds, $family: $font-body, $size: $base-font-size)
}

.node-type-scheme iframe.media-youtube-player {
  width: 100%;
  max-width: 700px;
}

.status-info h6 {
  display: inline-block;
  margin-bottom: 0;
}

span.screen-reader-text {
  display: none;
}

div.messages {
  margin: 0;
  &.error {
    background-image: none;
  }
  @include breakpoint( md ) {
    padding-top: 3em;
  }
}
.not-front div.messages {
  margin: 1em 0 0 0;
}

.admin-menu-icon.expandable { 
  img { width: 16px; }
}

.page-scheme-created p {
  @include body-text ($size: $base-font-size + 2, $line-height: 1.5em)
}


// //////////////////////
// Search filters region
// .region-search
//

.region-search .views-widget-filter-keys{
  float: none;
  @include font-icon-base( $family:"entypo", $font-size: 2em, $margin: 0em, $width: 1em);
  @extend %entypo-search;
  &:before {
    position: absolute;
    z-index: 10;
    padding-left: .25em;
    // width: 48px;
    content: "\1F50D";
  }

  input {    
    background-color: $search-input;
    border: none;
    font-size: .875em;
    border-radius: 1em;
    width: 450px;
    padding-left: 2em;
    position: relative;
  }
}

.front .region-search .views-widget-filter-keys {
  @include breakpoint( md ){
    width: 50%;
    margin-left: 50%;
  }    
}
.region-search {

  .chosen-container {
    display: block !important;
    width: 100% !important;
    border: none;
  }

  .chosen-container-single .chosen-single {
    border-radius: .25em !important;
    border: none !important;
    box-shadow: none !important;
    background: none !important;
    background-image: none !important;
    background-color: #dde4cc !important;
  }

}

.region-search {

  @include clearfix;
  @include breakpoint( md, max-width ){
    .views-exposed-form .views-exposed-widget {
      margin-top: .25em;
      @include box-sizing( border-box );
      padding: 0 1em !important;
      float: none !important;
      input {
        width: 95%;
      }

    }
    .views-reset-button,
    .views-submit-button {
      width: 100%;
      @include box-sizing( border-box );
      // override views.css
      padding: 0 1em !important;
      #edit-submit-scheme-overview-filtered,
      #edit-reset {
        display: block;
        width: 100%;
      }
    }
  }
  @include breakpoint( md ) {
    width: 100%;
    padding-top: 1em;
    .views-reset-button,
    .views-submit-button {
      width: auto;
      #edit-submit-scheme-overview-filtered,
      #edit-reset {
        width: auto;
      }
    }
  }
}

.page-schemes .region-search.hidden {
  overflow: visible;
}

.region-search {
  background-color: $panel;
  border-bottom: 1px $rules-color solid;
}

.front .region-search,
.page-schemes .region-search {
  background-color: none;
  border-bottom: none;
  @include zigzag-border ($panel, $odd-backdrop);
}

.region-search {
  @include transition-property(padding,max-height);
  @include transition-duration(.5s);
  @include transition-timing-function(ease-in-out);
  padding: 1em 0 2em 0;
  overflow: visible;  
  max-height: auto;
  .views-exposed-form {
    display: block;
    @include transition-property(opacity);
    @include transition-delay( .15s );
    @include transition-duration( .35s );
    @include transition-timing-function(ease-in-out);    
  }
  &.atrest {
    @include transition-duration(0);  
  }
  &.hidden, &.atrest {
    max-height: 0px;
    padding: 0;
    overflow: hidden;
    .views-exposed-form {
      display: block;
      opacity: 0;
    }
  }
}


$headers: sprite-map("headers/*.png", $position: -4px);
@import "headers/*.png";
@include all-headers-sprites;

.scheme-collection {
  h2.block-title {
    @include box-sizing( border-box );
    box-sizing: border-box !important;
    margin-top: 15px;
    padding-left: 50px;
    margin-bottom: 4px;
  }

  #block-views-scheme-overview-block-1 {
    h2.block-title {
      @extend .headers-added;
      background-position: sprite-position( $headers, added, 0, -2px);
    }
  }
  #block-views-scheme-overview-block-2 {
    h2.block-title {
      @extend .headers-popular;
      background-position: sprite-position( $headers, popular, 0, -2px);
    }
  }
  #block-views-scheme-overview-block-3 {
    h2.block-title {
      @extend .headers-completed;
      background-position: sprite-position( $headers, completed, 0, -2px);
    }
  }
}


// ////////////////////////////
// Icons
// entypo-

mark.new {
  background: transparent;
  @include font-icon-base($family:"entypo", $font-size: 2em, $margin: 2em, $width: .3em);
  @extend %entypo-new;
  &:before {
    color: $accent;
    vertical-align: baseline;
  }
  span {
    @include hidden-text;
  }
}

.field-location {
  @include font-icon-base($family:"entypo", $font-size: 2em, $margin: .25em 0 0 0, $width: .3em);
  @extend %entypo-location;
  &:before{
    width: .5em;
    text-align: center;
  }
}
.status-info a.icon {
  @extend %entypo-pencil;
  color: $text-color;
}

section.content,
article.comment,
.scheme-leader-contact,
.status-info,
.modal-edit {
  a {
      @include font-icon-base($family:"entypo", $font-size: 1.75em, $margin: 0.1em, $width: .5em);
      color: $text-color;
      text-align: left;
      &.edit,
      &.ctools-use-modal { @extend %entypo-pencil; }
      &:after {
        line-height: 1.2em;
      }
    // @include replace-text();
  }
  ul.links.inline li {
    &.comment-delete a{ @extend %entypo-circled-cross; }
    &.comment-edit a { @extend %entypo-pencil; }
    &.comment-reply a { @extend %entypo-reply; }
    &.comment-add a { @extend %entypo-comment; }
  }
  
  a.contact-me { 
    @extend %entypo-mail;
    &:before {}
  }
}

aside.scheme-meta {
  h6 {
    padding: 0;
    margin: 0;
  }
}

//Lists
ul#ui-button {
  @include clearfix;
}

ul#ui-button,
ul.tags {
  margin: 0;
  padding: 0;
  li {
    @include inline-list;
    @include zen-float;
    &:nth-child(2) {
      padding-left: 10px;
    }
  }
}
ul.tags li a {
  padding: 0;
}

aside {
  .item-list ul {
    margin: 0;
    padding: 0;
    li {
      list-style: none;
      padding: 5px 0;
      margin-right: 0;
      margin-left: 0;
      border-bottom: {
        @include standard-border;
      }
    }
  }
}

//Definition list
dl.issue dd {
  margin: 0;
  padding: 0;
}

//Buttons
a.ui-button,
.ui-button a,
ul.ui-button li.ui-button a,
.add-goal a {
  @include button($color: $button-color-secondary, $font-family: $base-font-family, $transform: none);
  &:link,
  &:visited,
  &:hover {
    color: #fff;
  }
}

ul.tags {
  list-style:none;
  li {
    display: inline-block;
    a {
      display: block;
      padding: .25em .5em;
    }
  }
}

.loading_spinner {
  @include load-spinner;
}


// //////////////////////
// Content Headers
// //////////////////////

#content {
  &> header,
  &> article > header {
    min-height: 75px;
    padding: 25px 0;
    background-color: $panel;

    section.content,
    aside {
      // padding: 1em;
    }
    section.content {
      h6 {
        padding-top: 0;
        margin-top:0;
      }
    }
    aside {}
  }
}

// Scheme Detail and User Profile pages have two column content header
.node-type-scheme,
.page-user {
  #content {
    header {
      section.content {}
      aside {
        border-left: {
          @include standard-border($style: dashed);
        }
        padding-left: 10px;
      }
    }
  }
} 

// ////////////////////////////
// Scheme Detail
// ////////////////////////////

.node-type-scheme {
  header {
    section.methods {
      @include zen-float(right);
    }
  }

  h3.field-label {
    font-size: 1em;
    margin: 0;
    padding: 12px 0 0 0;
    @include header-style ($family: $base-font-family, $size: $h3-font-size + 3px, $transform: capitalize, $weight: normal);
  }

  ul.links.inline li.comment_forbidden {
    display: none;
  }

  iframe.media-youtube-player {
    border: 8px solid $rules-color-accent;
  }

  #content {
    .related-schemes {
      h2 {
      border-top: {
        @include standard-border;
      }
      padding-top: 10px;
      }
    }
  }

  #scheme-content {
    margin-top: 1.5em;
    .field-body,
    .field-private-description {
      border-top: {
        @include standard-border;
      }
      margin-top: 10px;
      p {
        @include body-text ($family: $font-body, $size: $base-font-size + 2, $line-height: $base-line-height + 8 );
      }
      h3 {
        font-size: 1em;
        @include header-style ($family: $base-font-family, $size: $h3-font-size + 3px, $transform: capitalize, $weight: normal);
      }
    }
    .field-private-description:before {
      margin-top: 1.5em;
      content: 'Information For Scheme Members Only';
      display: block;
      font-size: 1em;
      @include header-style ($family: $base-font-family, $size: $h3-font-size + 3px, $transform: capitalize, $weight: normal);
    }
  }

// ////////////////////////////
// Updates Tab
// ////////////////////////////

  article.node-by-viewer {
    #scheme-content {
      .view-content {
        .views-row {
          @include body-text;
          @include zen-clear;
          border-top: {
            @include standard-border;
          }
          padding-top: 10px;
          a {
            color: $accent;
          }
          div {
            &:first-child,
            &:nth-child(2) {
              display: inline;
              em {
                font-style: normal;
              }
            }
            &:first-child {
              &:after {
                content: ' posted ';
              }
            }
            &:last-child {
              @include zen-clear;
              p {
                @include body-text($size: $base-font-size + 2, $line-height: $base-line-height + 4);
              }
              // a.views-more-link {
              //   @include zen-float(right);
              // }
            }
            p+a.views-more-link  {
              padding-bottom: 0;
            }
          }
          &:first-child {
            border-top: {
              @include standard-border;
            }
          }
          &:last-child {
            // border: none;
          }
        }
      }
    }
  }

section.content {
  aside {
    @include box-sizing(content-box);

    margin: 0 10px;
    padding: 2.375em 10px;

    .contextual-links-region {
      background-color: $sidebar-panel-primary;
      &:nth-child(1),
      &:nth-child(2) {
        background-color: $sidebar-panel-secondary;
      }
    }

    &.scheme-meta {
      h6, dt {
        line-height: $base-line-height;
      }
      .created {
        @include zen-float(left);
        margin-right: 20px;
      }
      .issue {
        @include zen-float(left);
        margin: 0;
      }
      .goals {
        @include zen-clear;
        padding-top: 10px;
      }
    }

  }
  .view-header {
    .item-list {
      ul {
        list-style: none;
        margin: 0;
        padding: 0 0 20px 0;
        li {
          margin: 0;
          padding: 0;
          a {
            @include font-icon-base( $family:"entypo", $font-size: 2.5em, $margin: 0.1em, $width: .5em, $align: center );
            color: $text-color;
          }
          &:first-child a {
            @extend %entypo-comment;
          }
          &:nth-child(2) a {
            @extend %entypo-calendar;
          }
          &:nth-child(3) a {
            @extend %entypo-megaphone;
          }
        }
      }
    }
  }

}

// Updates tab

/* ----------------------- */
/* Slideshow:              */
/* ----------------------- */

  #outer-carousel-wrapper {
    width: 100%;
    position: relative;

    #carousel-wrapper {
      z-index: -1;
      max-width: 960px;
      height: auto;
      margin: 0 auto;
      position: relative;

      .carousel-div {
        width: 100%;
        text-align: center;

        &:first-child {
          position: relative !important;
          display: block !important;
          height: auto !important;
        }

        img {
          max-width:100%;
          min-width: 200px;
        }
      }
    }

    #scheme-images-nav {
      @include zen-float(right);

      a {
        @include font-icon-base($font-size: 3em, $width: 1, $margin: 0.2em);
        &#scheme-images-previous {
          @extend %entypo-circled-left;
        }
        &#scheme-images-next {
          @extend %entypo-circled-right;
        }
        &:hover {
          color: $brand;
        }
      }
    }
  }

  div.field-body {
    @include zen-clear;
  }
   
}

// ////////////////////////////
// Scheme Members
// ////////////////////////////

.page-node-members {
  .scheme-members {
    @include standard-links ($color: $accent, $vcolor: $accent, $hcolor: $brand);

    .item-list {
     ul {
      @include no-bullets;
      padding: 0;
      margin: 0;
      li {
        padding: 1em 0;
        border-top: {
          @include standard-border();
        }
        &:first-child {
          border: none;
        }
        .user-picture,
        .member-name {
          display: inline-block;
          vertical-align: middle;
        }
        .user-picture {
          padding-right: 10px;
        }
        .member-name {}

        h3.member-name {
          padding: 0;
          margin: 0;
          @include body-text($transform: capitalize, $weight: bold, $size: 1.25em);
        }
      }
    }
    }

  }
}

// ////////////////////////////
// Private Messages
// ////////////////////////////

.page-user-messages {
  #content {
    form#privatemsg-list {


    }
  }
}

#edit-actions input,
form .form-actions input{
  float: none !important;
} 


.no-more-results {
  background-color: #dedede !important;
}

// #sidebar .ctools-use-modal,
.icon.edit {
  position: relative;
  display: block;
  left: -30px;
  top: 43px;
  width: 24px;
  height: 24px;
  font-size: 20px;
  span {
    display: none;
  }
  &:before {
    margin-left: .125em;
    line-height: .675;
  }
  &:hover {
    vertical-align: middle;
    border-radius: 24px;
    padding: 0;
    margin: 0;
    background: $brand;
    text-align: center;
    color: white;
  }
}

#field_image-mfe-modal-style {
  top: 20px;
}

#field_progress-mfe-modal-style {
  top: 39px;
}

#title-mfe-modal-style {
  top: 100px;
}

// ////////////////////////////
// User Profile
// ////////////////////////////

.page-user {
  #user-content {
    @include zen-grid-container;
    padding: 10px 10px 0 10px;
    aside.user-details {
      @include zen-grid-item(2, 1);

      .user-picture {
        img {
          width: 100%;
          height: auto;
          }
        }
      ul.user-contact {
        list-style: none;
        li {
          a {
            text-align: center;
            @include font-icon-base($family:"entypo-social", $font-size: 2.25em, $width: .5em, $margin: 0, $align: center );
            &.facebook {
              @extend %entypo-social-facebook;
              span {
                display: none;
              }
            }
            &.twitter {
              @extend %entypo-social-twitter;
              span {
                display: none;
              }
            }
            &.linkedin {
              @extend %entypo-social-linkedin;
              span {
                display: none;
              }
            }
            margin-right: .25em;
            &.user-contact { 
              span {
                vertical-align: top;
              }
              @include font-icon-base($family:"entypo", $font-size: 2.5em, $width: .5em, $margin: .25em, $align: center );
              @extend %entypo-mail; 
            }
            padding: 0 .5em;
          }
        }
      }  

    }
    div.user-bio {
      @include zen-grid-item(6, 3);
      padding-left: 20px;

      h2{
        margin-top: 0;
      }
    }
  }

  .user-profile {

    header.user-profile-header {
      section.content {}
      aside {
        &.user-meta {

          section {
            margin-top: 10px;
            &:first-child {
              margin-top: 0;
            }
            h6 {
              line-height: $base-line-height;
              margin: 0;
            }

            ul {
              li,
              &.tags a {
                &:after {
                  content: ',';
                  padding-right: 4px;
                }
                &:last-child:after {
                  content: none;
                  padding-right: none;
                }
                &:nth-child(2) {
                  padding-left: 0;
                }
              }
            }
          }
        }
      }
    }
  }
  #content {
    .block-views {
      @include zen-clear;
      h2.block-title {
        @include box-sizing( border-box );
        max-width: 960px;
        margin: 0 auto; 
        padding: 10px 10px 0 10px;      
      }
    }
    .block-views.even {
      margin-top: 25px;
      background: $even-backdrop;
      .scheme-collection-view {
        @include zen-clear;
        background: $even-backdrop;
        @include zigzag-border ($even-backdrop, $odd-backdrop);
      }
    }
    .scheme-collection:nth-child(2n+1) {
      border: none;
    }
    .block-views {
      .scheme-collection {
        border: none;
      }
    }
  }
  .block-views:first-child {
  }
}

#content {
  form.confirmation {
    @include box-sizing( border-box );
    max-width: 960px;
    margin: 0 auto;
    &>div {
      padding-top: 10px;
      &:first-line {
        @include body-text($size: $base-font-size + 2, $line-height: $base-line-height + 4);
      }
    }
  }
}

// ////////////////////////////
// User Dashboards
// ////////////////////////////

.page-facilitator-dashboard,
.page-dashboard {
  .quicktabs-style-asbtabs {
    .quicktabs_main { 
      background-color: transparent;
      border: none;
      border-left: {
        @include standard-border($width: 2px, $style: dashed);
      }
    }
    ul.quicktabs-tabs { // Tabs
      li {
        padding-bottom: .5em;
        a {
          text-align: inherit;
          @include body-text($size: 1.25em, $color: $text-color-secondary);
        }
        &.active {
          border: none;
          background: transparent;
          a {
            color: $accent;
          }
        }
      }
    }
  }

  #quicktabs-container-notifications,
  #quicktabs-container-schemes,
  #block-views-90f7e874863d363adf55056301e69084 {
    min-height: 300px;
    overflow: hidden;

    div.view-content,
    div.view-empty {
      min-height: 270px;
      h3 {
        padding: 0 20px;
        @include body-text($size: $base-font-size + 2);
      }
    }
    div.item-list {
      height: 30px;
    }
  }
  .view-clone-of-facilitator-civicrm-contacts-search {
    min-height: 300px;
  }
  #block-quicktabs-notifications { // Notifications
    ul.quicktabs-tabs {
      li {
        a {
          @include font-icon-base($family:"entypo", $font-size: 2.25em, $margin: 0.1em, $width: .5em, $color: $gray-medium);
        }
        &:first-child a { // Messages
          @extend %entypo-comment;
        }
        &:nth-child(2) a { // Alerts
          @extend %entypo-warning;
        }
        &:nth-child(3) a { // Updates
          @extend %entypo-megaphone;
        }
        &:last-child a { // Events
          @extend %entypo-calendar;
        }
      }
    }
    span.ui-button {
      // @include zen-float(right);
      .ui-button.new-message {
        @include button($color: $button-color-primary, $font-family: $font-body);
      }
    }
  }

  div.notifications-wrap {
    // display: table;
    @include zen-grid-container;
    h2.block-title {
      @include zen-grid-item( 7, 1 );
    }
    span.ui-button {
      @include zen-grid-item( 1, 8 );
      padding-top: 10px;
    }

  }

  input[type="text"] {
    border-radius: 14px;
    &:before {
      @include font-icon-base($family:"entypo", $font-size: 2.25em, $margin: 0.1em, $width: .5em, $color: $gray-medium);
      @extend %entypo-search;
    }
  }

  .form-type-select {
    .form-select {}  
  }
  
  div.item-list {
    position: relative;
    ul.pager {
      position: absolute;
      padding-top: 0;
      margin-top: 0;
      right: 0;
      li {
        padding: 0;
        a {
          @include font-icon-base($font-size: 3em, $margin: 0.1em, $width: .5em, $color: $text-color-secondary);
        }
        &.pager-previous a {
          @extend %entypo-circled-left;
        }
        &.pager-current a {}
        &.pager-next a {
          @extend %entypo-circled-right;
        }
      }
    }
  }

  #block-views-90f7e874863d363adf55056301e69084 { // Civi contact block
    @include zen-clear;
    .views-exposed-widget label,
    .views-widget {
      display: inline-block;
    }

    div.dashboard-contacts,
    &> .view {
      border-left: {
        @include standard-border($width: 2px, $style: dashed);
      }
    }
  }
}

// ///////////////////////
// Issues Detail
// ///////////////////////

.node-type-issue {
  #content {
    article:first-child {
      margin-top: 2.5em;
    }
    .block-views {
      padding-top: 25px;
      h2.block-title {
        padding-top: 5px;
        border-top: {
          @include standard-border;
        }
      }
    }

  }
}


// ///////////////////////
// Node Add
// ///////////////////////

.page-node-add {
  .main-content {
    dl.node-type-list {
      overflow:hidden;
        dt,
        dd {
          float: left;
          margin-top: .75em;
          margin-bottom: .75em;
          min-height: 2em;
          border-bottom: {
            @include standard-border;
          }
          &:last-child {
            border: none;
          }
        }

       dt {
        clear: left;
        width: 5em;
        margin-right: 1em;
        @include button($color: $button-color-secondary, $font-family: $base-font-family, $transform: none);
        a {
          color: $nav-title-color;
        }
      }
      dd {
        width: 50%;
        margin: 0;
        padding: .5em 0;
        font-size: $base-font-size + 2;
      }
    }
  }
}


.page-node-edit {
  #content {
    header {}
  }
}

// ////////////////////////////
// Footer
// ////////////////////////////


#footer {

  section.content {
    padding-top: 10px;

    td,
    li {
      color: $nav-title-color;
    }

    tr {
      background: transparent;
    }

    h2.block-title {
      color: lighten($text-color, 20%);
      padding-top: 0;
      padding-bottom: 10px;
      border-top: none;
    }

    ul {
      @include no-bullets;
      padding: 0;
      margin: 0;
    }

    .block-views {
      padding-top: 0;
    }

    #block-views-goals-and-schemes-block {
      a {
        color: $nav-title-color;
      }
      td {
        border-bottom: {
          @include standard-border($color: $text-color);
        }
        padding-top: 4px;
        padding-bottom: 4px;
      }

    }
    #block-views-inspiration-footer-block {
      @include zen-nested-container;
      a {
        color: $accent;
      }
      li:first-child {
        @include zen-grid-item(1, 1);
      }
      li:nth-child(2) {
        @include zen-grid-item(1, 2);
      }
      li:last-child {
        @include zen-grid-item(1, 3);
      }
    }
    #block-menu-menu-as {
      h2 {
        color: $nav-title-color;
      }
      li {
        padding-top: 2px;
        padding-bottom: 2px;
      }
      a {
        color: $accent;
      }
      text-transform: uppercase;
    }
  }
}

// ////////////////////////////
// Documents
// ////////////////////////////

.node-type-document {
  .field-body {
    @include body-text($size: $base-font-size + 2);
    p,
    li {
       @include body-text($size: $base-font-size +2, $line-height: $base-line-height +2);
    }
    h2,
    h3,
    h4,
    h5 {
      @include body-text($size: $base-font-size +2, $weight: bold, $line-height: $header-line-height, $color: $text-color-prominent);
    }
    h2 {
      font-size: 1.75em;
    }
    h3 {
      font-size: 1.5em;
    }
    h4 {
      font-size: 1.25em;
    }
    a,
    a:link {
      color: $accent;
    }
  }

  .field-document-type {
    a {
      color: $accent;
      @include font-icon-base($family:"entypo", $color: $text-color, $font-size: 2em, $margin: .4em, $width: .3em);
      @extend %entypo-tag;
    }  
  }
  .links.inline {
    @include zen-float(right);
    a {
      @include font-icon-base($family:"entypo", $color: $text-color, $font-size: 2em, $margin: .4em, $width: .3em);
    }
    .book_add_child a {
       @extend %entypo-circled-plus;
    }
    .book_printer a {
      @extend %entypo-print;
    }

  }
}



// Operation Get Rid of Civi Formatting

.crm-container .crm-section .label,
.crm-container-snippet .crm-section .label {
  margin-left: 0;
  width: 100%;
  text-align: left;
}



// ////////////////////////////
// Scheme Member Management
// ////////////////////////////

.page-group-node,
.page-node-group {
  #content {
    .view-header {
      h3 {
        @include header-style;
        line-height: 1.2em;
        margin: 0;
        padding-top: 10px;
      }
      ul {
        width: 40%;
        @include no-bullets;
        margin: 0;
        padding: 0;
        li {
          @include body-text ($size: $base-font-size + 2, $line-height: 1.9em);
          border-bottom: {
            @include standard-border;
          }
          &:last-child {
            border: none;
          }
        }
      }
    }
    .view-filters { // This filter is confusing, so hiding. Unhide if this causes functional problems
      display: none;
    }
    .view-content {
      margin-top: 25px;  
      .fieldset-legend {
        display: none;
      }
      legend:before {
        content: 'Manage Members';
        @include header-style ($size: $h2-font-size);

      }
      table {
        margin-top: 10px;
      }
    }
    dl.admin-list {
      dt {
        margin-top: 10px;
        border-top: {
          @include standard-border;
        }
        @include header-style($size: $h2-font-size - 4);
        line-height: 1.5em;
        a {
          color: $text-color-prominent;
        }
        &:first-child {
          border: none;
          margin-top: 0;
        }
      }
      dd {
        margin-left: 0;
      }
    }
  }
}

.page-group-node {
  #content {
    .view-header {
      display: none;
    }
  }
}

.page-user-messages {
  #content {
    margin-top: 35px;
  }
}


// #content div.wrapper section.main-content section.content dl.admin-list

// Flexbox

div#quicktabs-notifications,
div#quicktabs-schemes { // wrapper - flex-box
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */

  &> div.item-list {  // tabs
    width: 20%;               /* For old syntax, otherwise collapses. */
  }

  div#quicktabs-container-notifications,
  div#quicktabs-container-schemes { // main content
    -webkit-box-flex: 1;      /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-flex: 1;         /* OLD - Firefox 19- */
    width: 80%;               /* For old syntax, otherwise collapses. */
    -webkit-flex: 1;          /* Chrome */
    -ms-flex: 1;              /* IE 10 */
    flex: 1;    

    padding: 0;

    .view-filters {
      padding: 0 20px;
    }
  } 
}

div#block-views-90f7e874863d363adf55056301e69084 { // Civi contacts block
  div.dashboard-contacts,
  &> .view {
    width: 80%;
    @include zen-float(right);

    .view-filters {
      padding: 0 20px;
    }
  }
}

// Hide modal edit link if user isn't logged in
.not-logged-in {
  .modal-edit,
  .view-scheme-members div.view-header {
    @include hide-content;
  }
}

.badge {
  height: 16px;
  padding: 0 5px;
  margin-left: 2px;
  background: $brand;
  line-height: 16px;
  color: white;
  border-radius: 10px;
}

/* Goals hierarchy */
li.sub-goal {
  margin-left: 1em;
}

li.sub-goal.sub-sub-goal {
  margin-left: 2em;
}
