/**
 * @file
 * Block Styling
 */

@import "base";


.block { /* Block wrapper */
  margin-bottom: 6px;

  &.first { /* The first block in the region */
  }

  &.last { /* The last block in the region */
  }

  &.odd { /* Zebra striping for each block in the region */
  }

  &.even { /* Zebra striping for each block in the region */
  }

  h2.block-title { /* Block title */
  }
}


aside {
  .block { /* Block wrapper */
    padding: 12px;
    background: $sidebar-panel-primary;
    color: $text-color-prominent;

    &:first-child { /* The first block in the region */
    }

    &:nth-child(2) {
    }

    &.last { /* The last block in the region */
    }

    &.odd { /* Zebra striping for each block in the region */
    }

    &.even { /* Zebra striping for each block in the region */
    }

    h2.block-title { /* Block title */
      // border-bottom: {
      //   @include standard-border;
      // }
    }
    .view-scheme-members div.view-header p {
      border: none;
    }
    h6 {
      color: $text-color-prominent;
      margin-bottom: 0;
      &:first-letter {
        font-size: $h2-font-size - 4px;
      }
    }
    .view-header h3 {
      margin: 0;
      padding-top: 10px;
      border-top: {
        @include standard-border;
      }
      @include body-text ($size: $h3-font-size, $weight: bold, $transform: uppercase, $color: $text-color-prominent);
    }
  }

  //Once styles specified in scheme-layout.tpl.php are implemented, these styles will apply
  #needs {
    a#bigbutton {
      @include button($height: 58px, $font-size: $h2-font-size, $font-color: #fff, $font-family: $header-font-family);
      width: 100%;
    }
    #needs-skills {
      a#bigbutton {
        background: $skills;
      }
    }
    #needs-supplies {
      a#bigbutton {
        background: $supplies;
      }
    }
    #needs-funds {
      a#bigbutton {
        background: $funds;
      }
    }
  }

  //Temporary until scheme-layout.tpl.php are implemented
  .block-views {
    .view-scheme-contribute {
      margin-bottom: 6px;
      .view-footer,
      .donate-button {
        width: 100%;
        p {
          margin-bottom: 0;
        }
        a {
          @include button($height: 58px, $font-size: $h2-font-size, $font-color: #fff, $font-family: $header-font-family, $display: block);
        }
        &.skills a {
          background: $skills;
        }
        &.supplies a {
          background: $supplies;
        }
        &.funds a {
          background: $funds;
        }
      }
    }
    &:nth-child(3) {
      .view-scheme-contribute .view-footer a {
        background: $skills;
      }
    }
    &:nth-child(4) {
      .view-scheme-contribute .view-footer a {
        background: $supplies;
      }
    }
    &:nth-child(5) {
      .view-scheme-contribute .view-footer a {
        background: $funds;
      }
    }
  }
}

.node-type-scheme {
  aside > .block { /* Block wrapper */
    padding: 18px 15px 10px 15px;
    background: $sidebar-panel-primary;

    .view-header p {
        margin-top: 0;
        padding-top: 4px;
        @include header-style ($family: $base-font-family, $size: $h3-font-size, $transform: uppercase, $weight: bold);
        border-top: {
          @include standard-border;
        }
    }

    &.block-asb-scheme {

      .scheme-leader {
        min-height: 72px;
        .scheme-leader-name {
          @include header-style ($family: $base-font-family, $size: $h3-font-size, $transform: capitalize, $weight: bold);
        }
        .scheme-leader-thumb {
          @include zen-float;
          width: 71px;
        }
        .scheme-leader-name,
        .scheme-leader-contact {}
      }
    }

    &:first-child { /* The first block in the region */
      display: block;
      margin-top: 1.5em;
      margin-bottom: 0;
      background-color: $sidebar-panel-secondary;
      h2.block-title {
        @include header-style ($family: $base-font-family, $size: $h3-font-size + 3px, $transform: capitalize, $weight: bold);
        border: none;
      }
    }

    &:nth-child(2) {
      background-color: $sidebar-panel-secondary;
      margin-bottom: 1.5em;
      h2.block-title {
        padding-top: 10px;
        @include header-style ($family: $base-font-family, $size: $h3-font-size, $transform: capitalize, $weight: bold);
        border-top: {
          @include standard-border;
        }
        border-bottom: none;
      }
      .schemers {
        ul.scheme-members {
          width: 100%;
          margin: 0;
          padding: 0;
          list-style: none;
          text-align: justify;
          li {
            padding: 0 5px 5px 0;
            margin: 0;
            display: inline-block;
            &:nth-child(5n) {
              padding-right: 0;
            }
          }
        }
      }
    }

    &:nth-child(3) {
      .view-header p {
        border-top: none;
      }
    }

    &.last { /* The last block in the region */
    }

    &.odd { /* Zebra striping for each block in the region */
    }

    &.even { /* Zebra striping for each block in the region */
    }

    h2.block-title { /* Block title */
    }
}
}


#block-aggregator-category-1 { /* Block for the latest news items in the first category */
}

#block-aggregator-feed-1 { /* Block for the latest news items in the first feed */
}

#block-block-1 { /* First block created with "Add block" link */
}

#block-blog-recent { /* "Recent blog posts" block */
}

#block-book-navigation { /* "Book navigation" block for the current book's table of contents */
}

#block-comment-recent { /* "Recent comments" block */
}

#block-forum-active { /* "Active forum topics" block */
}

#block-forum-new { /* "New forum topics" block */
}

#block-locale-language { /* Language switcher block */
}

#block-menu-menu-NAME { /* Custom menu block */
}

#block-node-recent { /* "Recent content" block */
}

#block-node-syndicate { /* "Syndicate" block for primary RSS feed; see also page.css's .feed-icon */
}

#block-poll-recent { /* "Most recent poll" block */
}

#block-profile-author-information { /* "Author information" block for the profile of the page's author */
}

#block-search-form { /* "Search form" block */
}

#block-shortcut-shortcuts { /* "Shortcuts" block */
}

#block-statistics-popular { /* "Popular content" block */
}

#block-system-main-menu { /* "Main menu" block */
}

#block-system-management { /* "Management" block for Drupal management menu */
}

#block-system-navigation { /* "Navigation" block for Drupal navigation menu */
}

#block-system-user-menu { /* "User menu" block for Drupal user menu */
}

#block-system-help { /* "System help" block */
}

#block-system-main { /* "Main page content" block */
}

#block-system-powered-by { /* "Powered by Drupal" block */
}

#block-user-login { /* "User login form" block */
}

#block-user-new { /* "Who's new" block for a list of the newest users */
}

#block-user-online { /* "Who's online" block for a list of the online users */
}
