//Modals

@import "base";

#modalContent {
	span.modal-update-title {
		background: none
	}
	.modal-header {
		background: none;
		height: auto;
		span {

		}
	}
	div.ctools-modal-content {
		padding: 25px 10px;
		background: $panel;
		border: none;
		@include border-radius( 2px );
		@include box-shadow( 4px 4px 6px rgba( black, .2 ) );  

		div.modal-head-wrapper {}
	}

	div.modal-content {
		padding: 0;
	}

	div.vertical-tabs {
		&.clearfix {
			display: none;
		}
		ul.vertical-tabs-list {
			display: none;
		}
		div.vertical-tabs-panes {
			display: none;
		}
	}

}



