/**
 * @file
 * Node Styling
 *
 * Style anything that isn't in the $content variable.
 */

@import "base";


.node { /* Node wrapper */

  .preview & { /* Preview of the content before submitting new or updated content */
    /* background-color: #ffffea; */ /* Drupal core uses a #ffffea background */
  }

  .node-title { /* Node title */
  }

  .user-picture { /* The picture of the node author */
  }

  .submitted { /* The "posted by" information */
  }

  .content { /* Node's content wrapper */
  }

  ul.links { /* Node links. See also the ul.links declaration in the pages.css. */
  }

}

.node-promoted { /* A node that has been promoted to the front page */
}

.node-sticky { /* A sticky node (displayed before others in a list) */
}

.node-by-viewer { /* A node created by the current user */
}

.node-teaser { /* A node displayed as teaser */
}

/*
 * All nodes are given a node-FOO class that describes the type of content that
 * it is. If you create a new content type called "my-custom-type", it will
 * receive a "node-my-custom-type" class.
 */

.node-page { /* Page content node */
}

.node-article { /* Article content node */
}

.node-unpublished { /* Unpublished nodes */
  /* background-color: #fff4f4; */ /* Drupal core uses a #fff4f4 background */

  p.unpublished { /* The word "Unpublished" displayed underneath the content. */
    @include unpublished-div;
  }
}

// ////////////////////////////
// Scheme Detail
// 

.node-type-scheme {

  h3.field-label {
    font-size: 1em;
    margin: 0;
    padding: 12px 0 0 0;
    @include header-style ($family: $base-font-family, $size: $h3-font-size + 3px, $transform: capitalize, $weight: normal);
  }

  ul.links.inline li.comment_forbidden {
    display: none;
  }

  iframe.media-youtube-player {
    border: 8px solid $rules-color-accent;
  }

  #scheme-content {
    margin-top: 1.5em;
    div.field-body,
    .field-private-description {
      border-bottom: {
        @include standard-border;
      }
      p {
        @include body-text ($family: $font-body, $size: $base-font-size + 2, $line-height: $base-line-height + 8 );
      }
      h3 {
        font-size: 1em;
        @include header-style ($family: $base-font-family, $size: $h3-font-size + 3px, $transform: capitalize, $weight: normal);
      }
    }
    .field-private-description:before {
      margin-top: 1.5em;
      content: 'Information For Scheme Members Only';
      display: block;
      font-size: 1em;
      @include header-style ($family: $base-font-family, $size: $h3-font-size + 3px, $transform: capitalize, $weight: normal);
    }
  }

  aside {

    @include box-sizing(content-box);

    margin: 0 10px;
    padding: 0 10px;

    .contextual-links-region {
      background-color: $sidebar-panel-primary;
      &:nth-child(1),
      &:nth-child(2) {
        background-color: $sidebar-panel-secondary;
      }
    }

    &.scheme-meta {
      h6, dt {
        line-height: $base-line-height;
      }
      .created {
        @include zen-float(left);
        margin-right: 20px;
      }
      .issue {
        @include zen-float(left);
        margin: 0;
      }
      .goals {
        @include zen-clear;
        padding-top: 10px;
      }
    }

  }
  .view-header {
    .item-list {
      ul {
        list-style: none;
        margin: 0;
        padding: 0 0 20px 0;
        li {
          margin: 0;
          padding: 0;
          a {
            @include font-icon-base( $family:"entypo", $font-size: 2.5em, $margin: 0.1em, $width: .5em, $align: center );
            color: $text-color;
          }
          &:first-child a {
            @extend %entypo-comment;
          }
          &:nth-child(2) a {
            @extend %entypo-calendar;
          }
          &:nth-child(3) a {
            @extend %entypo-megaphone;
          }
        }
      }
    }
  }
  //Slideshow

  #outer-carousel-wrapper {
    width: 100%;
    position: relative;

    #carousel-wrapper {
      z-index: -1;
      max-width: 960px;
      height: auto;
      margin: 0 auto;
      position: relative;

      .carousel-div {
        width: 100% !important;
        text-align: center;

        &:first-child {
          position: relative !important;
          display: block !important;
          height: auto !important;
        }

        img {
          max-width:100%;
          min-width: 200px;
        }
      }
    }

    nav#scheme-images-nav {
      z-index: 1;
      a {
        // display: inline-block;
        height: 42px;
        line-height: 42px;
        font-size: 42px;
        width: 25px;
        color: $rules-color;
        margin-top: -30%;

        &#scheme-images-previous {
          @include zen-float(left);
          @include replace-text($previous-image);
        }
        &#scheme-images-next {
          @include zen-float(right);
          @include replace-text($next-image);
        }
      }
    }

  }

  div.field-body {
    @include zen-clear;
  }
   
}

.node-type-issue {

  #node-content {
    border-bottom: {
      @include standard-border;
    }
    h3 {
      @include body-text ($size: 2em, $color: $text-color-prominent);
    }
    p {
      @include body-text ($size: 1.25em, $weight: normal);
      line-height: 1.25em;
    }
  }

}

