/**
 * @file
 * Node Styling
 *
 * Style anything that isn't in the $content variable.
 */

@import "base";


.node { /* Node wrapper */

  .preview & { /* Preview of the content before submitting new or updated content */
    /* background-color: #ffffea; */ /* Drupal core uses a #ffffea background */
  }

  .node-title { /* Node title */
  }

  .user-picture { /* The picture of the node author */
  }

  .submitted { /* The "posted by" information */
  }

  .content { /* Node's content wrapper */
  }

  ul.links { /* Node links. See also the ul.links declaration in the pages.css. */
  }

}

.node-promoted { /* A node that has been promoted to the front page */
}

.node-sticky { /* A sticky node (displayed before others in a list) */
}

.node-by-viewer { /* A node created by the current user */
}

.node-teaser { /* A node displayed as teaser */
}

/*
 * All nodes are given a node-FOO class that describes the type of content that
 * it is. If you create a new content type called "my-custom-type", it will
 * receive a "node-my-custom-type" class.
 */

.node-page { /* Page content node */
}

.node-article { /* Article content node */
}

.node-unpublished { /* Unpublished nodes */
  /* background-color: #fff4f4; */ /* Drupal core uses a #fff4f4 background */

  p.unpublished { /* The word "Unpublished" displayed underneath the content. */
    @include unpublished-div;
  }
}

.node-type-scheme {

  h3.field-label {
    margin: 0;
    padding: 12px 0 0 0;
    border-top: {
      @include standard-border($color: $rules-color);
    }
    @include header-style ($family: $base-font-family, $size: $h3-font-size + 3px, $transform: capitalize, $weight: bold);
  }

  iframe.media-youtube-player {
    border: 8px solid $rules-color-accent;
  }

  #scheme-content {
    div.field-body {
      border-bottom: {
        @include standard-border;
      }
    }
  }

  aside {

    @include box-sizing(content-box);

    margin: 0 10px;
    padding: 0 10px;

    .contextual-links-region {
      background-color: $sidebar-panel-primary;
      &:nth-child(1),
      &:nth-child(2) {
        background-color: $sidebar-panel-secondary;
      }
    }

    &.scheme-meta {
      h6, dt {
        line-height: $base-line-height;
      }
      .created {
        @include zen-float(left);
        margin-right: 20px;
      }
      .issue {
        @include zen-float(left);
        margin: 0;
      }
      .goals {
        @include zen-clear;
        padding-top: 10px;
      }
    }

  }
  .view-header {
    .item-list {
      ul {
        list-style: none;
        margin: 0;
        padding: 0 0 20px 0;
        li {
          margin: 0;
          padding: 0;
          a {
            @include font-icon-base($family:"entypo", $font-size: 2.5em, $margin: 0.1em, $width: .5em);
            color: $text-color;
          }
          &:first-child a {
            @extend %entypo-comment;
          }
          &:nth-child(2) a {
            @extend %entypo-calendar;
          }
          &:nth-child(3) a {
            @extend %entypo-megaphone;
          }
        }
      }
    }
  }
}


