/**
 * @file
 * Tabs Styling
 *
 * Adds styles for the primary and secondary tabs.
 *
 * Compare this with default CSS found in the system module's stylesheet (a copy
 * of which is in drupal7-reference.css.)
 */

@import "base";


// Some variables to make altering the styling easier.
$tabs-container-bg: $panel;
$tabs-border: #bbb;


/*
 * Basic positioning styles shared by primary and secondary tabs.
 */

ul.primary { margin: -2px 0 0 -25px;

  li {
    margin: 0;
    padding: 0;
    height: 23px;
    line-height: 23px;
    display: inline-block;
    border-top: 23px solid $tabs-container-bg;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    a {
      color: $text-color-prominent;
      font-size: $base-font-size + 2px;
      display: block;
      margin-top: -25px;
      padding: 0 10px;
      text-decoration: none;
      text-align: center;
      border-top: 1px solid $rules-color;
      &.active {
        border-top: none;
      }
      &.ctools-use-ajax {
        @include font-icon-base($family:"entypo", $font-size: 2.5em, $margin: .25em 0 0 0, $width: .3em);
        @extend %entypo-megaphone;
      }
    }
  }
}

