/**
 * @file
 * Tabs Styling
 *
 * Adds styles for the primary and secondary tabs.
 *
 * Compare this with default CSS found in the system module's stylesheet (a copy
 * of which is in drupal7-reference.css.)
 */

@import "base";


// Some variables to make altering the styling easier.
$tabs-container-bg: $panel;
$tabs-border: #bbb;


/*
 * Basic positioning styles shared by primary and secondary tabs.
 */

ul.tabs-primary.primary { 
  margin: -2px 0 0 -25px;

  li {
      position: relative;
      display: inline-block;
      padding: .5em 1em;
      margin: 0 .5em;
      // line-height: 16px;

      &::before {
        box-shadow: inset 0 6px 2px -3px $text-color;
        content: ''; /* To generate the box */
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;
        z-index: -1;
        background: $tabs-container-bg;
        transform: perspective(3px) rotateX(-2deg);
        -ms-transform: perspective(3px) rotateX(-2deg);
        -webkit-transform: perspective(3px) rotateX(-2deg);
        // line-height: 16px;
      }

    a {
      @include font-icon-base($family:"entypo", $font-size: 1.65em, $margin: 0.1em, $width: .75em);
      color: $text-color-prominent;
      font-size: $base-font-size + 2px;
      text-decoration: none;
      padding: 0;
      margin: 0;
      line-height: 18px;
      &.active {
        border-top: none;
        // line-height: 16px;
      }
      &.use-ajax {
        @extend %entypo-megaphone;
        // line-height: 16px;
      }

      &:before {
        padding: 0;
        margin: 0;
        line-height: 18px;
      }
    }
    &:first-child a {
      @extend %entypo-eye;
    }
    &:nth-child(2) a {
      @extend %entypo-pencil;
    }

  }
}

// ul.tabs-primary {
//   li {
//     a {
//       @include font-icon-base($family:"entypo", $font-size: 1.65em, $margin: 0.1em, $width: .5em);
//     }
//     &.ctools-use-ajax a { 
//       @extend %entypo-megaphone;
//     }
//     &:first-child a {
//       @include font-icon-base($family:"entypo", $font-size: 1.75em, $margin: 0.2em, $width: .5em);
//       @extend %entypo-eye;
//     }

//   }
// }

// p {
//   position: relative;
//   display: inline-block;
//   padding: 1em;
//   margin: 2em;
// }

// p::before {
//   content: ''; /* To generate the box */
//   position: absolute;
//   top: 0; right: 0; bottom: 0; left: 0;
//   z-index: -1;
//   background: skyblue;
//   transform: perspective(4px) rotateX(1deg);
// }

// p.tab::before {
//   /* Tip by @krofdrakula */
//   border-radius: 10px 10px 0 0;
// }



ul.tabs-secondary {
  margin: 0;
  padding: 0;
  li {
    margin: 0;
    padding: 0;
    // height: 23px;
    // line-height: 23px;
    display: inline-block;
    a {
      @include button($color: $button-color-secondary, $font-family: $font-body);
      &.active {
        @include button($font-family: $font-body);
      }
    }
  }
}

