/**
 * @file
 * Views Styling
 */

@import "base";


/*
 * Views' admin tabs
 *
 * The views admin tabs use the same classes as the secondary tabs. We prevent
 * some of our tab styling from bleeding into (and breaking) the Views admin
 * pages. If your sub-theme isn't used for admin pages, you can remove this
 * entire section.
 */
.views-displays .secondary {
  li {
    float: none;
    margin: 0 6px 0;
  }

  a:link,
  a:visited {
    @include single-text-shadow(none);
    padding: 2px 7px 3px;
  }

  .open > a {
    @include border-radius(7px 7px 0 0);
    &:hover {
      color: #333;
    }
  }

  .action-list li {
    margin: 0;
    &:first-child {
      @include border-radius(0 7px 0 0);
    }
    &:last-child {
      @include border-radius(0 0 7px 7px);
    }
  }
}

// $needs-layout:horizontal; 
$needs: sprite-map("needs/*.png", $my-needs-position: 2 0);
@import "needs/*.png"; 
@include all-needs-sprites;

.front .scheme-collection-view {
  // border: 1px solid red; //debugging
  color: $text-color;

  a {
    color: $accent-secondary
  }
  &.even {
    background: $even-backdrop;
  }
  &.odd {
    background: $odd-backdrop;
  }
  h2.block-title {
    // padding-right: 10px;
    // padding-left: 10px;
  }

  .view-content{

    .views-row {
      border-right: 2px solid $rules-color; 
      padding: 0 10px;

      .field-image img {
        width: 100%;
        max-width: 220px;
        height: auto;
      }
        &.views-row-first {
          &.before {
            content: " < ";
          }
        }
        &.views-row-last {
          border-right: none;
          &.after {
            content: " > ";
        }
      }
      h3.scheme-name {
        font-family: $font-body;
        font-weight: bold;
        text-transform: none;
        // line-height: $base-line-height;
        font-size: $h4-font-size + 1;
        margin: 0;
      }
      .scheme-leader {
        &:before {
          content: "by ";
        }
      }
      .field-body p {
        margin: 5px 0 12px 0;
      }
      .scheme-info {

        ul.scheme-needs {
          padding: 0 0 20px 0;
          margin: 0;
          list-style-type: none;

          li {
            @include zen-float;
            @include zen-grid-flow-item( 2, 8 );
            width: 23%;
            padding: 0 0 4px 23px;
            margin-right: 0;
            height: 12px;
            line-height: 12px;
            overflow: hidden;
            font-weight: bold;
            h4 {
              padding-bottom: 4px;
              margin-bottom: 4px;
              line-height: inherit;
              font-family: $font-body;
              text-transform: uppercase;
              color: $text-color-secondary;
              font-size: $h5-font-size;
              border: {
                bottom: {
                  @include standard-border($rules-color);
                }
              }
            }            
            &.needed-skills {
              @extend .needs-skills;
              // @include sprite-background-position($needs-sprites, skills, 2, 0);
            };
            &.needed-supplies {
              @extend .needs-supplies;
              // @include needs-sprite (supplies);
              // @include sprite-background-position($needs-sprites, supplies, 2, 0);
            };
            &.needed-funds {
              @extend .needs-funds;
              // @include needs-sprite (funds);
              // @include sprite-background-position($needs-sprites, funds, 2, 0);
            };

          }
        }
        h4 {
          padding-bottom: 4px;
          margin-bottom: 4px;
          line-height: inherit;
          font-family: $font-body;
          text-transform: uppercase;
          color: $text-color-secondary;
          font-size: $h5-font-size;
          border: {
            bottom: {
              @include standard-border($rules-color);
            }
          }
          
        }
      }
    }
  }
}

