/**
 * @file
 * Views Styling
 */

@import "base";


/*
 * Views' admin tabs
 *
 * The views admin tabs use the same classes as the secondary tabs. We prevent
 * some of our tab styling from bleeding into (and breaking) the Views admin
 * pages. If your sub-theme isn't used for admin pages, you can remove this
 * entire section.
 */
.views-displays .secondary {
  li {
    float: none;
    margin: 0 6px 0;
  }

  a:link,
  a:visited {
    @include single-text-shadow(none);
    padding: 2px 7px 3px;
  }

  .open > a {
    @include border-radius(7px 7px 0 0);
    &:hover {
      color: #333;
    }
  }

  .action-list li {
    margin: 0;
    &:first-child {
      @include border-radius(0 7px 0 0);
    }
    &:last-child {
      @include border-radius(0 0 7px 7px);
    }
  }
}

$needs: sprite-map("needs/*.png", $my-needs-position: 2 0);
@import "needs/*.png";
@include all-needs-sprites;

.scheme-collection {
    @include zen-grid-container;
    padding-bottom: 10px;
    &:nth-child(even) {
      @include zigzag-border ($even-backdrop, $odd-backdrop);
    }
    &:nth-child(odd) {
      @include zigzag-border ($odd-backdrop, $even-backdrop);
    }
  }
// .scheme-collection-view .views-row {
//     @include zen-float;
//     @include zen-grid-flow-item(1);
//   }
.scheme-collection-view {
  color: $text-color;

  a {
    color: $accent-secondary
  }
  h2.block-title {
    @include zen-clear(both);
    // padding-right: 10px;
    // padding-left: 10px;
  }

  ul.pager {
    $next-image: url('/sites/all/themes/asb/images/pager/next.png');
    $previous-image: url('/sites/all/themes/asb/images/pager/previous.png');
    $pager-height: image-height('pager/previous.png');
    $pager-width: image-width('pager/previous.png');
    $scheme-height: 300px;
    line-height: inherit;
    margin: 0;
    padding: 0;
    li {
      $pager-hmargin: -35px;
      $pager-font-size: 0px;
      margin-top: - $scheme-height + ($pager-height + 35px);
      padding: 0;
      &.pager-current,
      &.pager-item,
      &.pager-first,
      &.pager-last {
        display: none;
      }
      a {
        display: block;
        height: $pager-height;
        width: $pager-width;
        line-height: $pager-height;
        font-size: $pager-font-size;
        color: $rules-color;
      }     
      &.pager-next {
        @include zen-float(right);
        margin-right: $pager-hmargin;
        a {
          @include replace-text($next-image);
          text-indent: 0 !important;
        }
      }
      &.pager-previous {
        @include zen-float(left);
        margin-left: $pager-hmargin;
        a {
          @include replace-text($previous-image);
          text-indent: 0 !important;
        }
      }
    }
  }

  .view-content{
    @include zen-clear();

    .views-row {
      border-right: {
        @include standard-border($rules-color, 2px);
      }
      min-height: 300px;
      padding: 0 10px;
      margin: 0;

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        border: none;
      }

      img {
        width: 100%;
        max-width: 240px;
        height: auto;
      }
      h3.scheme-name {
        font-family: $font-body;
        font-weight: bold;
        text-transform: none;
        font-size: $h4-font-size + 1;
        margin: 0;
      }
      .scheme-leader {
        &:before {
          content: "by ";
        }
      }
      h4 {
        margin: 0;
        padding: 0;
        line-height: inherit;
        font-family: $font-body;
        text-transform: uppercase;
        color: $text-color-secondary;
        font-size: $h5-font-size;
      }
      .scheme-progress {
      @include zen-clear(both);
      padding-bottom: 12px;
        h4 {
          @include zen-float;
          width: 25%;
        }
        .scheme-progress-bar {
          @include zen-float;
          width: 75%;
          margin: 0;
          padding: 0;
          line-height: inherit;
        }
      }
      .scheme-info {
        @include zen-clear(both);
        line-height: 12px;
        height: 12px;
        margin-top: 8px;
        padding-top: 8px;
        border-top: {
          @include standard-border;
        }
        h4 {
          @include zen-float;
        }

        ul.scheme-needs {
          @include zen-float;
          padding: 0;
          margin: 0;
          list-style-type: none;

          li {
            @include zen-float;
            // @include zen-grid-flow-item( 1, 3 );
            padding-left: 23px;
            margin-right: 0;
            margin-left: 10px;
            font-weight: bold;            
            &.needed-skills {
              @extend .needs-skills;
            };
            &.needed-supplies {
              @extend .needs-supplies;
            };
            &.needed-funds {
              @extend .needs-funds;
              white-space: nowrap;
            };

          }
        }
      }
    }
  }
}

//Once styles specified in scheme-layout.tpl.php are implemented, these styles will apply
#needs {
  a#bigbutton {
    width: 100%;
    display: block;
    height: 58px;
    line-height: 58px;
    text-align: center;
    @include header-style ($color: #fff);
    border-radius: 4px;
  }
  #needs-skills {

    a#bigbutton {
      background: $accent;
    }
  }
  #needs-supplies {

    a#bigbutton {
      background: #74CCD4;
    }
  }
  #needs-funds {

    a#bigbutton {
      background: #85C770;
    }
  }
}

//Temporary until scheme-layout.tpl.php are implemented
.block-views {
  .view-scheme-contribute {
    .view-footer,
    .donate-button {
      width: 100%;
       a {
        @include button($height: 58px, $display: block);
        @include header-style ($color: #fff);
      }
      &.skills a {
        background: $skills;
      }
      &.supplies a {
        background: $supplies;
      }
      &.funds a {
        background: $funds;
      }
    }
  }
  &:nth-child(3) {
    .view-scheme-contribute .view-footer a {
      background: $skills;
    }
  }
  &:nth-child(4) {
    .view-scheme-contribute .view-footer a {
      background: $supplies;
    }
  }
  &:nth-child(5) {
    .view-scheme-contribute .view-footer a {
      background: $funds;
    }
  }
}


