/**
 * @file
 * Views Styling
 */

@import "base";


/*
 * Views' admin tabs
 *
 * The views admin tabs use the same classes as the secondary tabs. We prevent
 * some of our tab styling from bleeding into (and breaking) the Views admin
 * pages. If your sub-theme isn't used for admin pages, you can remove this
 * entire section.
 */

.views-displays .secondary {

  li {
    float: none;
    margin: 0 6px 0;
  }

  a:link,
  a:visited {
    @include single-text-shadow(none);
    padding: 2px 7px 3px;
  }

  .open > a {
    @include border-radius(7px 7px 0 0);
    &:hover {
      color: #333;
    }
  }

  .action-list li {
    margin: 0;
    &:first-child {
      @include border-radius(0 7px 0 0);
    }
    &:last-child {
      @include border-radius(0 0 7px 7px);
    }
  }

}



$needs: sprite-map("needs/*.png", $my-needs-position: 2 0);
@import "needs/*.png";
@include all-needs-sprites;


/* ---------------------- */
/*  Scheme Collections:   */
/*  .scheme-collection    */
/* ---------------------- */



#content .scheme-collection {
  padding-bottom: 10px;
  font-size: $base-font-size + 1px;
  color: $text-color;
  @include zen-grid-container;
  // Row background color

  p {
    font-size: $base-font-size + 1px;
  }

  a {
    color: $accent-secondary
  }

  h2.block-title {
    @include zen-clear(both);
  }

  h3.scheme-name {
    @include header-style ($family: $font-body, $size: $h4-font-size + 1, $transform: none, $weight: bold);
    line-height: $base-line-height;
    min-height: 2.875em;
    margin: 0 0 .25em 0;
  }
}

// Don't show on the Goals Detail page
.page-taxonomy-term {
  #content {
    .scheme-collection {
    &:last-child:nth-child(even),
    &:last-child:nth-child(odd) {
      background: transparent;
      background-image: none;
      background-color: none;
    }
  }

  }
}

#main .scheme-collection {

  .views-row {
    @include zen-float();
    @include zen-grid-flow-item( 4, 8 );
    width: 50%;
  }

  @include breakpoint( sm ) {
    margin: 0 auto;
  }

  @include breakpoint( md ) {
    .views-row {
      @include zen-grid-flow-item( 2, 8 );
      border-right: {
        @include standard-border($rules-color, 1px);
      }
      &:nth-child(4n+4),
      &:last-child {
        border: none;
        margin-right: 0;
      }
      #scheme-images img {
        width: 100%;
        height: auto;
      }
    }

  }

  .views-row {
    padding-left: 1em;
    padding-right: 1em;
    margin: 0 0 2em 0;
    @include box-sizing( border-box );
  }
}


// /////////////////////////////
// ZigZags
// /////////////////////////////

// last scheme collection has border that blends into the footer
// filtered by children of #content

// Home page only
.front {
  #content .scheme-collection {
    &:nth-child(even) {
      @include zigzag-border ($even-backdrop, $odd-backdrop );
      background-color: $even-backdrop;
    }
    &:nth-child(odd) {
      @include zigzag-border ($odd-backdrop, $even-backdrop);
      background-color: $odd-backdrop;
    }
  }
}

.page-user {
  #content>.block-views{
    &:nth-child(even) {
      @include zigzag-border ($even-backdrop, $odd-backdrop );
      background-color: $even-backdrop;
    }
    &:nth-child(odd) {
      @include zigzag-border ($odd-backdrop, $even-backdrop);
      background-color: $odd-backdrop;
    }
  }
}

#content>.scheme-collection:last-child {
  &:nth-child(even) {
    @include zigzag-border ($even-backdrop, $backdrop);
    background-color: $even-backdrop;
  }
  &:nth-child(odd) {
    @include zigzag-border ($odd-backdrop, $backdrop);
    background-color: $odd-backdrop;
  }
}


.page-user #content>.block-views:last-child {
  &:nth-child(even) {
    @include zigzag-border ($even-backdrop, $backdrop);
    background-color: $even-backdrop;
  }
  &:nth-child(odd) {
    @include zigzag-border ($odd-backdrop, $backdrop);
    background-color: $odd-backdrop;
  }
}

.section-location,
.section-goals,
.section-issue,
.view-empty {
  .scheme-collection {
    border: none !important;
    background-image: none !important;
  }
}


// /////////////////////////////
// Scheme Detail & Issues Detail
// /////////////////////////////

.node-type-scheme,
.node-type-issue {
  #main .scheme-collection {
    @include breakpoint(md){
    // padding-top: 1em;
    padding-bottom: 1em;
    background: transparent;
      .views-row {
        @include zen-grid-flow-item( 2, 6 );
        &:first-child {
          padding-left: 0;
        }
        &:nth-child(3) {
          padding-right: 0;
        }
      }
    }
  }
}

#main .scheme-collection {

 .view-content {

    // @include zen-clear();
    @include clearfix;

    // Row of Schemes
    .views-row {
      min-height: 420px;
      padding: 0 10px;
      margin: 1em 0 1.5em 0;
      .scheme-progress {
        @include zen-clear(both);
        padding-bottom: 12px;
        h4 {
          @include zen-float;
          width: 25%;
          margin: 0;
          padding: 0;
          }
        .scheme-progress-bar {
          @include zen-float;
          width: 75%;
          margin: 0;
          padding: 0;
          line-height: inherit;
        }
      }
    }

  }

  .field-body {
    vertical-align: top;
  }

  .scheme-header {
    min-height: 6.375em;
    @include breakpoint( md, max-width ){
      min-height: 6.5em;
    }
    .scheme-leader:before { line-height: inherit; }
  }

  .scheme-info {

    @include zen-clear(both);
    margin-top: .5em;
    padding: .25em 0 0 0;
    line-height: 1.2;

    border-top: {
      @include standard-border;
    }

    .field-issues-goals {
      margin-bottom: .5em;
      overflow: hidden;
      width: auto;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    // Completed Schemes
    &.completed-scheme {
      margin-top: 1em;
      .field-issues-goals {
          text-transform: uppercase;
      }
    }

    .scheme-meta {
      @include clearfix;
      margin: 0;
      padding: 0;
      list-style-type: none;
      font-size: $h5-font-size;
      li {
        vertical-align: top;
        width: 30%;
        display: inline-block;
        font-weight: bold;
      }
    }

    .scheme-needs {
      li {
        @include box-sizing( border-box );
        padding-left: 23px;
      }
      .needed-skills {
        @extend .needs-skills;
      };
      .needed-supplies {
        @extend .needs-supplies;
      };
      .needed-funds {
        @extend .needs-funds;
        white-space: nowrap;
      };
    }

    h4 {
      @include header-style($family: $font-body, $size: $h5-font-size, $transform: uppercase, $color: $text-color-secondary);
      display: inline-block;
      line-height: inherit;
      padding: 0;
      margin: 0;
    }

  }

  .scheme-leader {
    @include font-icon-base($family:"entypo", $font-size: 2em, $margin: .25em 0 0 0, $width: .3em);
    @extend %entypo-user;
    a {
      margin-left: .25em;
    }
    &:before{
      width: .5em;
      text-align: center;
    }
  }

  div.field-item {
    img {
      width: 100%;
      height: auto;
    }
  }

  .scheme-description {
    min-height: 7.125em;
    margin-top: .25em;
    margin-bottom: .5em;
    vertical-align: top;
  }

}

.front,
.section-user {
  #main .scheme-collection {

    position: relative;

    .item-list {

      position: relative;
      display: block;

      ul.pager {

        li {
          &.pager-current,
          &.pager-item,
          &.pager-first,
          &.pager-last {
            display: none;
          }
          a {
            display: block;
            height: $pager-height;
            line-height: $pager-height;
          }
        }
      }
    } /* /.item-list */
    @include breakpoint( md ) {
      .item-list {
        ul.pager {
          position: relative;
          background: rgba( red, .2 );
          max-width: 960px;
          margin: 0 auto;
          width: 100%;
          li {
            position: absolute;
            top: -405px; //$pager-vmargin;
            a {
              display: block;
              height: $pager-height;
              width: $pager-width;
              line-height: $pager-height;
              font-size: 0;
              color: $rules-color;
            }
            &.pager-next {
              right: $pager-hmargin;
              a {
                @include replace-text($next-image);
                text-indent: 0 !important;
              }
            }
            &.pager-previous {
              left: $pager-hmargin;
              a {
                @include replace-text($previous-image);
                text-indent: 0 !important;
              }
            }
          }
        }
      }
    }
    @include breakpoint( md, max-width ) {

      .item-list {
        ul.pager {
          li {
            margin-bottom: 1em;
            @include box-sizing( border-box );
            display: inline-block;
            float: left;
            &.pager-previous,
            &.pager-next {
              padding: .25em .5;
              font-size: 1.25em;
              background-repeat: no-repeat;
              @include box-sizing( border-box );
            }
            &.pager-previous {
              padding-left: 2em;
              background-image: $previous-image;
            }
            &.pager-next {
              padding-right: 2em;
              background-image: $next-image;
              background-position: right top;
            }
          }
        }
      }
    }
  } /* /.#main .scheme-collection */
}


.not-front {
  #content {
    // .scheme-collection-view {
    //   background: transparent;
    // }
  }
}

.section-schemes header.page-header {
  display: none;
}

/* .front .view-grand-tour */
.front {
  .view-grand-tour {
    margin-left: 38px;
    .view-footer {
      ul.pager {
        position: relative;
        background: rgba( red, .2 );
        max-width: 960px;
        margin: 0 auto;
        width: 100%;
        li {
          position: absolute;
          top: -210px; //$pager-vmargin;
          list-style: none;
          a {
            display: block;
            height: $pager-height;
            width: $pager-width;
            line-height: $pager-height;
            font-size: 0;
            color: $rules-color;
            }
            &.pager-next {
              right: $pager-hmargin - 20px;
              a {
                @include replace-text($next-image-dark);
                text-indent: 0 !important;
                }
              }
            &.pager-item {
              left: $pager-hmargin;
              a {
                @include replace-text($previous-image-dark);
                text-indent: 0 !important;
              }
            }
        }
      }
    }
  }
}
