/* prevents all the images from showing up on page load */
/* this does harm non javascript users */

#scheme-images {
  border: 8px #F3F2E0 solid;
  width: 666px;
  height: 370px;
}

#scheme-images .field-item {
  display: none;
};
#scheme-images .field-item:first-child {
  display: block;
};