/* line 61, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
* html {
  font-size: 87.5%;
}

/* line 64, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 14px;
  line-height: 1.28571em;
}

@font-face {
  font-family: "League";
  src: url("../fonts/league_gothic.eot");
  src: url("../fonts/league_gothic.eot?#iefix") format("embedded-opentype"), url("../fonts/league_gothic.woff") format("woff"), url("../fonts/league_gothic.ttf") format("truetype"), url("../fonts/league_gothic.svg#leaguegothic") format("svg");
  font-weight: normal;
  font-style: normal;
  font-stretch: none;
}

@font-face {
  font-family: "SourceSansPro";
  src: url("../fonts/sourcesanspro-regular.eot");
  src: url("../fonts/sourcesanspro-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/sourcesanspro-regular.woff") format("woff"), url("../fonts/sourcesanspro-regular.ttf") format("truetype"), url("../fonts/sourcesanspro-regular.svg#source_sans_proregular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-stretch: none;
}

@font-face {
  font-family: "SourceSansPro";
  src: url("../fonts/sourcesanspro-italic.eot");
  src: url("../fonts/sourcesanspro-italic.eot?#iefix") format("embedded-opentype"), url("../fonts/sourcesanspro-italic.woff") format("woff"), url("../fonts/sourcesanspro-italic.ttf") format("truetype"), url("../fonts/sourcesanspro-italic.svg#source_sans_proitalic") format("svg");
  font-weight: normal;
  font-style: italic;
  font-stretch: none;
}

@font-face {
  font-family: "SourceSansPro";
  src: url("../fonts/sourcesanspro-bold.eot");
  src: url("../fonts/sourcesanspro-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/sourcesanspro-bold.woff") format("woff"), url("../fonts/sourcesanspro-bold.ttf") format("truetype"), url("../fonts/sourcesanspro-bold.svg#source_sans_probold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-stretch: none;
}

@font-face {
  font-family: "SourceSansPro";
  src: url("../fonts/sourcesanspro-bolditalic.eot");
  src: url("../fonts/sourcesanspro-bolditalic.eot?#iefix") format("embedded-opentype"), url("../fonts/sourcesanspro-bolditalic.woff") format("woff"), url("../fonts/sourcesanspro-bolditalic.ttf") format("truetype"), url("../fonts/sourcesanspro-bolditalic.svg#source_sans_probold_italic") format("svg");
  font-weight: bold;
  font-style: italic;
  font-stretch: none;
}

/* line 56, ../sass/_type.scss */
h1,
h2,
h3,
h4,
h5 {
  text-transform: uppercase;
  color: #7c7f7e;
  font-family: League, Helvetica, sans;
  font-weight: normal;
}

/* line 64, ../sass/_type.scss */
h2#site-name,
h1#site-name {
  font-size: 4.5em;
  color: white;
}
/* line 67, ../sass/_type.scss */
h2#site-name a, h2#site-name a:link, h2#site-name a:visited,
h1#site-name a,
h1#site-name a:link,
h1#site-name a:visited {
  color: inherit;
}

/* line 5, ../sass/asb.scss */
.admin-menu-icon.expandable img {
  width: 16px;
}

/* line 11, ../sass/asb.scss */
body header#header {
  position: relative;
  z-index: 10;
  height: 75px;
}
/* line 15, ../sass/asb.scss */
body header#header h1#site-name {
  width: 428px;
  display: inline-block;
}
/* line 18, ../sass/asb.scss */
body header#header h1#site-name a {
  display: block;
  text-indent: -9000px;
  overflow: hidden;
  text-align: left;
  background-repeat: no-repeat;
}
/* line 26, ../sass/asb.scss */
body header#header section#navigation {
  background-color: #2d2d2e;
}

/* line 32, ../sass/asb.scss */
#page:before {
  content: " ";
  position: absolute;
  width: 100%;
  height: 75px;
  z-index: 10;
  background: url(../images/header-fringe.png) repeat-x bottom center;
}

/* line 42, ../sass/asb.scss */
#main {
  position: relative;
  top: -5px;
}

/* line 47, ../sass/asb.scss */
.not-front #main > header .content-header {
  background-color: #f3f2e0;
}

/* line 52, ../sass/asb.scss */
#name-and-slogan h1#site-name {
  height: 75px;
}
/* line 54, ../sass/asb.scss */
#name-and-slogan h1#site-name a {
  background-image: url("../images/logo.png?1376927784");
}

/* line 61, ../sass/asb.scss */
.front #header {
  height: 201px;
}
/* line 65, ../sass/asb.scss */
.front #name-and-slogan h1#site-name {
  width: 428px;
  display: inline-block;
}
/* line 68, ../sass/asb.scss */
.front #name-and-slogan h1#site-name a {
  background-image: url("../images/logo-home.png?1376927784");
  height: 201px;
  z-index: 10;
}
