/* line 61, ../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
* html {
  font-size: 75%;
}

/* line 64, ../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 12px;
  line-height: 1.2em;
}

@font-face {
  font-family: "League";
  src: url("../fonts/league_gothic.eot");
  src: url("../fonts/league_gothic.eot?#iefix") format("embedded-opentype"), url("../fonts/league_gothic.woff") format("woff"), url("../fonts/league_gothic.ttf") format("truetype"), url("../fonts/league_gothic.svg#leaguegothic") format("svg");
  font-weight: normal;
  font-style: normal;
  font-stretch: none;
}

@font-face {
  font-family: "SourceSansPro";
  src: url("../fonts/sourcesanspro-regular.eot");
  src: url("../fonts/sourcesanspro-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/sourcesanspro-regular.woff") format("woff"), url("../fonts/sourcesanspro-regular.ttf") format("truetype"), url("../fonts/sourcesanspro-regular.svg#source_sans_proregular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-stretch: none;
}

@font-face {
  font-family: "SourceSansPro";
  src: url("../fonts/sourcesanspro-italic.eot");
  src: url("../fonts/sourcesanspro-italic.eot?#iefix") format("embedded-opentype"), url("../fonts/sourcesanspro-italic.woff") format("woff"), url("../fonts/sourcesanspro-italic.ttf") format("truetype"), url("../fonts/sourcesanspro-italic.svg#source_sans_proitalic") format("svg");
  font-weight: normal;
  font-style: italic;
  font-stretch: none;
}

@font-face {
  font-family: "SourceSansPro";
  src: url("../fonts/sourcesanspro-bold.eot");
  src: url("../fonts/sourcesanspro-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/sourcesanspro-bold.woff") format("woff"), url("../fonts/sourcesanspro-bold.ttf") format("truetype"), url("../fonts/sourcesanspro-bold.svg#source_sans_probold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-stretch: none;
}

@font-face {
  font-family: "SourceSansPro";
  src: url("../fonts/sourcesanspro-bolditalic.eot");
  src: url("../fonts/sourcesanspro-bolditalic.eot?#iefix") format("embedded-opentype"), url("../fonts/sourcesanspro-bolditalic.woff") format("woff"), url("../fonts/sourcesanspro-bolditalic.ttf") format("truetype"), url("../fonts/sourcesanspro-bolditalic.svg#source_sans_probold_italic") format("svg");
  font-weight: bold;
  font-style: italic;
  font-stretch: none;
}

@font-face {
  font-family: "entypo";
  src: url('fonts/entypo.eot');
  src: url('fonts/entypo.eot?#iefix') format("embedded-opentype"), url('fonts/entypo.woff') format("woff"), url('fonts/entypo.ttf') format("truetype"), url('fonts/entypo.svg#entypo') format("svg"), url('fonts/entypo.otf') format("opentype");
  font-weight: normal;
  font-style: normal;
}

/* line 65, ../sass/_type.scss */
h1,
h2,
h3,
h4,
h5 {
  text-transform: uppercase;
  color: #414042;
  font-family: League, Helvetica, sans;
  font-weight: normal;
}

/* line 72, ../sass/_type.scss */
a, a:link, a:visited {
  text-decoration: none;
}

/* line 77, ../sass/_type.scss */
h2#site-name,
h1#site-name {
  font-size: 4.5em;
  color: white;
}
/* line 80, ../sass/_type.scss */
h2#site-name a, h2#site-name a:link, h2#site-name a:visited,
h1#site-name a,
h1#site-name a:link,
h1#site-name a:visited {
  color: inherit;
}

/* line 88, ../sass/_type.scss */
header#header #block-system-user-menu span.title,
header#header .block-menu-block ul li span.title {
  font-size: 15px;
  color: white;
}
/* line 93, ../sass/_type.scss */
header#header #block-system-user-menu span.username,
header#header #block-system-user-menu span.description,
header#header .block-menu-block ul li span.username,
header#header .block-menu-block ul li span.description {
  display: block;
  clear: both;
  color: #7c7f7e;
}
/* line 100, ../sass/_type.scss */
header#header #block-system-user-menu a.login,
header#header #block-system-user-menu a.logout,
header#header .block-menu-block ul li a.login,
header#header .block-menu-block ul li a.logout {
  color: white;
}

/* line 62, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/font-icons-1.0.5.beta/stylesheets/base/_entypo-vars.scss */
.field-location:before {
  content: "";
}

/* line 4, ../sass/asb.scss */
div.messages {
  margin: 0;
  padding-top: 1em;
}

/* line 7, ../sass/asb.scss */
.admin-menu-icon.expandable img {
  width: 16px;
}

/* line 13, ../sass/asb.scss */
body header#header {
  position: relative;
  z-index: 10;
  height: 75px;
}
/* line 17, ../sass/asb.scss */
body header#header h1#site-name {
  width: 428px;
  display: inline-block;
  margin: 0 auto;
}
/* line 21, ../sass/asb.scss */
body header#header h1#site-name a {
  display: block;
  text-indent: -9000px;
  overflow: hidden;
  text-align: left;
  background-repeat: no-repeat;
}
/* line 29, ../sass/asb.scss */
body header#header section#navigation {
  background-color: #2d2d2e;
}

/* line 35, ../sass/asb.scss */
#page:before {
  content: " ";
  position: absolute;
  width: 100%;
  height: 75px;
  z-index: 10;
  background: url(../images/header-fringe.png) repeat-x bottom center;
}

/* line 45, ../sass/asb.scss */
#main {
  position: relative;
  top: -0.425em;
}

/* line 50, ../sass/asb.scss */
#content article > header {
  background-color: #f3f2e0;
  padding-top: 1em;
}

/* line 56, ../sass/asb.scss */
#name-and-slogan h1#site-name {
  height: 75px;
}
/* line 58, ../sass/asb.scss */
#name-and-slogan h1#site-name a {
  background-image: url("../images/logo.png?1376927784");
  background-position: top center;
}

/* line 66, ../sass/asb.scss */
.front header#header {
  height: 201px;
}
/* line 70, ../sass/asb.scss */
.front #name-and-slogan h1#site-name {
  width: 428px;
}
/* line 72, ../sass/asb.scss */
.front #name-and-slogan h1#site-name a {
  background-image: url("../images/logo-home.png?1376927784");
  background-position: top center;
  height: 75px;
  z-index: 10;
}
/* line 79, ../sass/asb.scss */
.front #name-and-slogan h2#what-is-an-action-switchboard {
  margin: 0;
}
/* line 81, ../sass/asb.scss */
.front #name-and-slogan h2#what-is-an-action-switchboard a {
  display: block;
  height: 125px;
  width: 428px;
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url("../images/logo-home.png?1376927784");
  background-position: bottom center;
}

/* line 94, ../sass/asb.scss */
footer#footer {
  background: #2d2d2e;
}

/* line 100, ../sass/asb.scss */
.not-front #header-image-strip {
  display: none;
}

/* line 102, ../sass/asb.scss */
ul.tags {
  list-style: none;
}
/* line 104, ../sass/asb.scss */
ul.tags li {
  display: inline-block;
}
/* line 106, ../sass/asb.scss */
ul.tags li a {
  display: block;
  padding: .25em .5em;
}

/* line 82, headers/*.png */
.headers-sprite, .headers-added, .scheme-collection #block-views-scheme-overview-block-1 h2.block-title, .headers-completed, .scheme-collection #block-views-scheme-overview-block-3 h2.block-title, .headers-featured, .headers-following, .headers-leading, .headers-popular, .scheme-collection #block-views-scheme-overview-block-2 h2.block-title {
  background: url('../images/headers-s0351238bef.png') no-repeat;
}

/* line 60, ../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.headers-added, .scheme-collection #block-views-scheme-overview-block-1 h2.block-title {
  background-position: 0 -45px;
}

/* line 60, ../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.headers-completed, .scheme-collection #block-views-scheme-overview-block-3 h2.block-title {
  background-position: 0 -135px;
}

/* line 60, ../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.headers-featured {
  background-position: 0 -90px;
}

/* line 60, ../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.headers-following {
  background-position: 0 -225px;
}

/* line 60, ../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.headers-leading {
  background-position: 0 -180px;
}

/* line 60, ../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.headers-popular, .scheme-collection #block-views-scheme-overview-block-2 h2.block-title {
  background-position: 0 0;
}

/* line 122, ../sass/asb.scss */
.scheme-collection h2.block-title {
  padding-left: 50px;
  margin-bottom: 4px;
}
/* line 127, ../sass/asb.scss */
.scheme-collection #block-views-scheme-overview-block-1 h2.block-title {
  background-position: 4px -47px;
}
/* line 133, ../sass/asb.scss */
.scheme-collection #block-views-scheme-overview-block-2 h2.block-title {
  background-position: 4px -2px;
}
/* line 139, ../sass/asb.scss */
.scheme-collection #block-views-scheme-overview-block-3 h2.block-title {
  background-position: 4px -137px;
}

/* line 32, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/font-icons-1.0.5.beta/stylesheets/base/_font-mixins.scss */
.field-location:before {
  font-family: "entypo";
  font-style: normal;
  font-size: 1em;
  margin-right: 0.8em;
  text-align: center;
  display: inline-block;
  width: 1em;
}
