/**
 * @file
 * Block Styling
 */
/* line 61, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
* html {
  font-size: 87.5%;
}

/* line 64, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 14px;
  line-height: 1.28571em;
}

@font-face {
  font-family: "League";
  src: url("../fonts/league_gothic.eot");
  src: url("../fonts/league_gothic.eot?#iefix") format("embedded-opentype"), url("../fonts/league_gothic.woff") format("woff"), url("../fonts/league_gothic.ttf") format("truetype"), url("../fonts/league_gothic.svg#leaguegothic") format("svg");
  font-weight: normal;
  font-style: normal;
  font-stretch: none;
}

@font-face {
  font-family: "SourceSansPro";
  src: url("/sites/all/fonts/sourcesanspro-regular.eot");
  src: url("/sites/all/fonts/sourcesanspro-regular.eot?#iefix") format("embedded-opentype"), url("/sites/all/fonts/sourcesanspro-regular.woff") format("woff"), url("/sites/all/fonts/sourcesanspro-regular.ttf") format("truetype"), url("/sites/all/fonts/sourcesanspro-regular.svg#source_sans_proregular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-stretch: none;
}

@font-face {
  font-family: "SourceSansPro";
  src: url("../fonts/sourcesanspro-italic.eot");
  src: url("../fonts/sourcesanspro-italic.eot?#iefix") format("embedded-opentype"), url("../fonts/sourcesanspro-italic.woff") format("woff"), url("../fonts/sourcesanspro-italic.ttf") format("truetype"), url("../fonts/sourcesanspro-italic.svg#source_sans_proitalic") format("svg");
  font-weight: normal;
  font-style: italic;
  font-stretch: none;
}

@font-face {
  font-family: "SourceSansPro";
  src: url("../fonts/sourcesanspro-bold.eot");
  src: url("../fonts/sourcesanspro-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/sourcesanspro-bold.woff") format("woff"), url("../fonts/sourcesanspro-bold.ttf") format("truetype"), url("../fonts/sourcesanspro-bold.svg#source_sans_probold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-stretch: none;
}

@font-face {
  font-family: "SourceSansPro";
  src: url("../fonts/sourcesanspro-bolditalic.eot");
  src: url("../fonts/sourcesanspro-bolditalic.eot?#iefix") format("embedded-opentype"), url("../fonts/sourcesanspro-bolditalic.woff") format("woff"), url("../fonts/sourcesanspro-bolditalic.ttf") format("truetype"), url("../fonts/sourcesanspro-bolditalic.svg#source_sans_probold_italic") format("svg");
  font-weight: bold;
  font-style: italic;
  font-stretch: none;
}

/* line 56, ../sass/_type.scss */
h1,
h2,
h3,
h4,
h5 {
  text-transform: uppercase;
  color: #7c7f7e;
  font-family: League, Helvetica, sans;
  font-weight: normal;
}

/* line 64, ../sass/_type.scss */
h2#site-name,
h1#site-name {
  font-size: 4.5em;
  color: white;
}
/* line 67, ../sass/_type.scss */
h2#site-name a, h2#site-name a:link, h2#site-name a:visited,
h1#site-name a,
h1#site-name a:link,
h1#site-name a:visited {
  color: inherit;
}

/* line 9, ../sass/blocks.scss */
.block {
  /* Block wrapper */
  margin-bottom: 1.5em;
}
/* line 12, ../sass/blocks.scss */
.block.first {
  /* The first block in the region */
}
/* line 15, ../sass/blocks.scss */
.block.last {
  /* The last block in the region */
}
/* line 18, ../sass/blocks.scss */
.block.odd {
  /* Zebra striping for each block in the region */
}
/* line 21, ../sass/blocks.scss */
.block.even {
  /* Zebra striping for each block in the region */
}
/* line 24, ../sass/blocks.scss */
.block h2.block-title {
  /* Block title */
}

/* line 29, ../sass/blocks.scss */
#block-aggregator-category-1 {
  /* Block for the latest news items in the first category */
}

/* line 32, ../sass/blocks.scss */
#block-aggregator-feed-1 {
  /* Block for the latest news items in the first feed */
}

/* line 35, ../sass/blocks.scss */
#block-block-1 {
  /* First block created with "Add block" link */
}

/* line 38, ../sass/blocks.scss */
#block-blog-recent {
  /* "Recent blog posts" block */
}

/* line 41, ../sass/blocks.scss */
#block-book-navigation {
  /* "Book navigation" block for the current book's table of contents */
}

/* line 44, ../sass/blocks.scss */
#block-comment-recent {
  /* "Recent comments" block */
}

/* line 47, ../sass/blocks.scss */
#block-forum-active {
  /* "Active forum topics" block */
}

/* line 50, ../sass/blocks.scss */
#block-forum-new {
  /* "New forum topics" block */
}

/* line 53, ../sass/blocks.scss */
#block-locale-language {
  /* Language switcher block */
}

/* line 56, ../sass/blocks.scss */
#block-menu-menu-NAME {
  /* Custom menu block */
}

/* line 59, ../sass/blocks.scss */
#block-node-recent {
  /* "Recent content" block */
}

/* line 62, ../sass/blocks.scss */
#block-node-syndicate {
  /* "Syndicate" block for primary RSS feed; see also page.css's .feed-icon */
}

/* line 65, ../sass/blocks.scss */
#block-poll-recent {
  /* "Most recent poll" block */
}

/* line 68, ../sass/blocks.scss */
#block-profile-author-information {
  /* "Author information" block for the profile of the page's author */
}

/* line 71, ../sass/blocks.scss */
#block-search-form {
  /* "Search form" block */
}

/* line 74, ../sass/blocks.scss */
#block-shortcut-shortcuts {
  /* "Shortcuts" block */
}

/* line 77, ../sass/blocks.scss */
#block-statistics-popular {
  /* "Popular content" block */
}

/* line 80, ../sass/blocks.scss */
#block-system-main-menu {
  /* "Main menu" block */
}

/* line 83, ../sass/blocks.scss */
#block-system-management {
  /* "Management" block for Drupal management menu */
}

/* line 86, ../sass/blocks.scss */
#block-system-navigation {
  /* "Navigation" block for Drupal navigation menu */
}

/* line 89, ../sass/blocks.scss */
#block-system-user-menu {
  /* "User menu" block for Drupal user menu */
}

/* line 92, ../sass/blocks.scss */
#block-system-help {
  /* "System help" block */
}

/* line 95, ../sass/blocks.scss */
#block-system-main {
  /* "Main page content" block */
}

/* line 98, ../sass/blocks.scss */
#block-system-powered-by {
  /* "Powered by Drupal" block */
}

/* line 101, ../sass/blocks.scss */
#block-user-login {
  /* "User login form" block */
}

/* line 104, ../sass/blocks.scss */
#block-user-new {
  /* "Who's new" block for a list of the newest users */
}

/* line 107, ../sass/blocks.scss */
#block-user-online {
  /* "Who's online" block for a list of the online users */
}
