/**
 * @file
 * Field Styling
 *
 * The Fences module allows site builders to pick the semeantic HTML5 element
 * for each field while editing the field's settings. There's no way a theme
 * can ever know which element to use for the fields on your site, so Zen
 * just uses lets Drupal core or Fences decide. Since you DO NOT want 3 wrapping
 * divs around every field (do you?), we highly recommend Fences.
 *
 * http://drupal.org/project/fences
 */
/*@import "font-icons";*/
/* line 13, ../sass/_extends.scss */
.civi-button {
  display: inline-block;
  padding: 0 20px;
  height: 30px;
  line-height: 30px;
  background-color: #EF3F26;
  color: white;
  font-size: 20.04px;
  font-family: League, sans-serif;
  border-radius: 4px;
  text-align: center;
  text-transform: uppercase;
  border: none !important;
  text-shadow: none !important;
  color: white !important;
}
/* line 318, ../sass/_mixins.scss */
.civi-button:hover, .civi-button:focus {
  background-color: #912A1B;
  color: white;
}
/* line 19, ../sass/_extends.scss */
.civi-button span {
  line-height: 2;
}
/* line 21, ../sass/_extends.scss */
.civi-button span .icon {
  display: none !important;
}

/* line 30, ../sass/_extends.scss */
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
/* line 35, ../sass/_extends.scss */
.clearfix:after {
  clear: both;
}

/*
 * Field wrappers when the Fences module is enabled.
 */
/* line 21, ../sass/fields.scss */
.field-label {
  /* The optional label for a field. */
}

/* line 24, ../sass/fields.scss */
.field-FIELDNAME {
  /* Underscores in field name are replaced with dashes. */
}

/*
 * If you don't use the Fences module, that's fine. Really. I think. Just use
 * these selectors instead:
 */
/* line 33, ../sass/fields.scss */
.field {
  /* Wrapper for any field. */
}

/*
 * Field types (Core)
 */
/* line 40, ../sass/fields.scss */
.field-video {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

/* line 85, ../sass/fields.scss */
.progress-bar {
  width: 100%;
  height: 12px;
  background-color: #e1eaea;
  border-radius: 6px;
  border: none;
  z-index: -2;
}
/* line 93, ../sass/fields.scss */
.progress-bar .progress {
  width: 100%;
  height: 12px;
  background-color: #EF3F26 !important;
  border-radius: 6px;
  z-index: -1;
}

/* line 103, ../sass/fields.scss */
.view-scheme-overview .progress-bar .scheme-major-ticks {
  display: none;
}
/* line 105, ../sass/fields.scss */
.view-scheme-overview .progress-bar .scheme-major-ticks .scheme-minor-ticks {
  display: none;
}

/* line 111, ../sass/fields.scss */
.field-progress {
  position: relative;
  margin: 0 0 20px 0;
  padding-bottom: 20px;
}
/* line 119, ../sass/fields.scss */
.field-progress .progress-bar {
  z-index: -2;
}
/* line 121, ../sass/fields.scss */
.field-progress .progress-bar .progress {
  z-index: -1;
}
/* line 126, ../sass/fields.scss */
.field-progress .scheme-major-ticks {
  width: 98%;
  height: 16px;
  position: relative;
  margin: -16px auto 0 auto;
  background-image: linear-gradient(90deg, #808080 1px, rgba(0, 0, 0, 0) 1px);
  background-size: 50%;
  background-position: -1px;
  z-index: 100;
}
/* line 133, ../sass/fields.scss */
.field-progress .scheme-major-ticks .scheme-minor-ticks {
  background-image: linear-gradient(90deg, #808080 1px, rgba(0, 0, 0, 0) 1px);
  background-size: 5%;
  background-position: -1px;
  height: 6px;
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: 200;
}

/*
 * Field types (Contrib)
 */
/* line 158, ../sass/fields.scss */
.field-type-datetime {
  /* Always use "datetime" when creating new CCK date fields. "date" and "datestamp" are legacy types. */
}

/*
 * Named fields
 */
/* line 180, ../sass/fields.scss */
.field-name-field-FIELDNAME {
  /* Underscores in field name are replaced with dashes. */
}
