@charset "UTF-8";
/**
 * @file
 * Form Styling
 */
/*@import "font-icons";*/
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
/* '' */
.civi-button {
  display: inline-block;
  padding: 0 20px;
  height: 30px;
  line-height: 30px;
  background-color: #EF3F26;
  color: white;
  font-size: 20.04px;
  font-family: League, sans-serif;
  border-radius: 4px;
  text-align: center;
  text-transform: uppercase;
  border: none !important;
  text-shadow: none !important;
  color: white !important;
}
.civi-button:hover, .civi-button:focus {
  background-color: #912A1B;
  color: white;
}
.civi-button span {
  line-height: 2;
}
.civi-button span .icon {
  display: none !important;
}

.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}

form {
  font-size: 12px;
  font-family: SourceSansPro, Tahoma, sans-serif;
  color: #7C7F7E;
  font-weight: normal;
  line-height: 16.4px;
  text-transform: none;
}
form input[type="button"],
form input[type="reset"],
form input[type="submit"],
form .button-no.fake-cancel {
  display: inline-block;
  padding: 0 20px;
  height: 30px;
  line-height: 30px;
  background-color: #EF3F26;
  color: white;
  font-size: 20.04px;
  font-family: League, sans-serif;
  border-radius: 4px;
  text-align: center;
  text-transform: uppercase;
  border: none;
  margin-right: 5px;
  letter-spacing: 0.05em;
  cursor: pointer;
}
form input[type="button"]:hover, form input[type="button"]:focus,
form input[type="reset"]:hover,
form input[type="reset"]:focus,
form input[type="submit"]:hover,
form input[type="submit"]:focus,
form .button-no.fake-cancel:hover,
form .button-no.fake-cancel:focus {
  background-color: #912A1B;
  color: white;
}
form fieldset {
  border: none;
  padding: 4px 0;
}
form .crm-container input[type="text"],
form .crm-container input[type="password"],
form .crm-container textarea {
  font-size: 14px;
  font-family: SourceSansPro, Tahoma, sans-serif;
  color: #7C7F7E;
  font-weight: normal;
  line-height: 16.4px;
  text-transform: none;
}
form .form-actions {
  margin-top: 0;
}
form input[type="text"],
form input[type="password"],
form textarea,
form select,
form .chosen-container-single .chosen-single {
  border-color: #cfcfcf;
  border-width: 1px;
  border-style: solid;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding: 4px 7px;
  outline: 0;
  -webkit-appearance: none;
}
form input[type="text"]:focus,
form input[type="password"]:focus,
form textarea:focus,
form select:focus,
form .chosen-container-single .chosen-single:focus {
  border-color: #56CBC8;
  border-width: 1px;
  border-style: solid;
}
form input[type="text"],
form input[type="password"],
form textarea,
form select {
  font-size: 14px;
  font-family: SourceSansPro, Tahoma, sans-serif;
  color: #7C7F7E;
  font-weight: normal;
  line-height: 16.4px;
  text-transform: none;
}
form input[type="password"] {
  padding: 4px 0;
}
form .chosen-container-active .chosen-single {
  border-color: #56CBC8;
  border-width: 1px;
  border-style: solid;
}

/* fieldset#edit-contact,
/* fieldset#edit-field-user-bio-und-0-format,
/* div.form-type-checkboxes {
/*   display: none;
/* } */
fieldset#edit-timezone legend {
  display: none;
}

#load_more_schemes_button {
  display: inline-block;
  padding: 0 20px;
  height: 50px;
  line-height: 50px;
  background-color: #EF3F26;
  color: white;
  font-size: 33.4284px;
  font-family: League, sans-serif;
  border-radius: 4px;
  text-align: center;
  text-transform: uppercase;
}
#load_more_schemes_button:hover, #load_more_schemes_button:focus {
  background-color: #912A1B;
  color: white;
}

.page-node-add-scheme form input[type="button"],
.page-node-add-scheme form input[type="reset"],
.page-node-add-scheme form input[type="submit"] {
  display: inline-block;
  padding: 0 20px;
  height: 50px;
  line-height: 50px;
  background-color: #EF3F26;
  color: white;
  font-size: 33.4284px;
  font-family: League, sans-serif;
  border-radius: 4px;
  text-align: center;
  text-transform: uppercase;
}
.page-node-add-scheme form input[type="button"]:hover, .page-node-add-scheme form input[type="button"]:focus,
.page-node-add-scheme form input[type="reset"]:hover,
.page-node-add-scheme form input[type="reset"]:focus,
.page-node-add-scheme form input[type="submit"]:hover,
.page-node-add-scheme form input[type="submit"]:focus {
  background-color: #912A1B;
  color: white;
}

.page-user-register #edit-account {
  margin-top: 35px;
}
.page-user-register #edit-account:before {
  content: 'Basic Information';
  font-size: 29.4284px;
  font-family: League, sans-serif;
  color: #414042;
  text-transform: uppercase;
  font-weight: normal;
}
.page-user-register #edit-picture legend {
  display: none;
}
.page-user-register #edit-picture:before {
  content: 'User Photo';
  font-size: 29.4284px;
  font-family: League, sans-serif;
  color: #414042;
  text-transform: uppercase;
  font-weight: normal;
}
.page-user-register #edit-civicrm-profile-register legend {
  display: none;
}
.page-user-register #edit-civicrm-profile-register fieldset .label {
  float: none;
  text-align: left;
}
.page-user-register #edit-civicrm-profile-register .edit-value.content {
  margin-left: 0;
}
.page-user-register #edit-civicrm-profile-register label:first-child,
.page-user-register #edit-civicrm-profile-register #edit-field-user-bio-und-0-value > div.label,
.page-user-register #edit-civicrm-profile-register #editrow-custom_53 > div:nth-child(1) > label:nth-child(1),
.page-user-register #edit-civicrm-profile-register #editrow-custom_23 > div:nth-child(1) > label:nth-child(1),
.page-user-register #edit-civicrm-profile-register label[for=edit-field-issue-reference-un],
.page-user-register #edit-civicrm-profile-register label[for=edit-field-user-bio-und-0-value] {
  font-size: 18.04px;
  font-family: SourceSansPro, Tahoma, sans-serif;
  color: #414042;
  text-transform: uppercase;
  font-weight: bold;
  width: 100%;
  margin-left: 0;
}
.page-user-register #edit-civicrm-profile-register div {
  margin-left: 0;
}
.page-user-register #edit-civicrm-profile-register label[for=first_name],
.page-user-register #edit-civicrm-profile-register label[for=last_name],
.page-user-register #edit-civicrm-profile-register label[for=street_address-1],
.page-user-register #edit-civicrm-profile-register label[for=city-1],
.page-user-register #edit-civicrm-profile-register label[for=postal_code-1],
.page-user-register #edit-civicrm-profile-register label[for=country-1],
.page-user-register #edit-civicrm-profile-register label[for=state_province-1],
.page-user-register #edit-civicrm-profile-register label[for=custom_54],
.page-user-register #edit-civicrm-profile-register label[for=custom_37],
.page-user-register #edit-civicrm-profile-register label[for=custom_63],
.page-user-register #edit-civicrm-profile-register label[for=custom_72],
.page-user-register #edit-civicrm-profile-register label[for=custom_73],
.page-user-register #edit-civicrm-profile-register label[for=custom_57],
.page-user-register #edit-civicrm-profile-register label[for=custom_54] {
  display: inherit;
  font-size: 12px;
  font-family: SourceSansPro, Tahoma, sans-serif;
  color: #7C7F7E;
  font-weight: bold;
  line-height: 16.4px;
  text-transform: none;
}
.page-user-register #edit-civicrm-profile-register:before {
  content: 'User Details';
  font-size: 29.4284px;
  font-family: League, sans-serif;
  color: #414042;
  text-transform: uppercase;
  font-weight: normal;
}
.page-user-register #edit-civicrm-profile-register table.form-layout-compressed tbody td.labels {
  line-height: 1.5em;
}
.page-user-register #edit-civicrm-profile-register .edit-value input[type="checkbox"],
.page-user-register #edit-civicrm-profile-register .label input[type="checkbox"] {
  display: block;
  float: left;
  width: 25px;
  clear: left;
}
.page-user-register #edit-civicrm-profile-register .edit-value label,
.page-user-register #edit-civicrm-profile-register .label label {
  font-size: 12px;
  font-family: SourceSansPro, Tahoma, sans-serif;
  color: #7C7F7E;
  font-weight: normal;
  line-height: 16.4px;
  text-transform: none;
  display: block;
  float: left;
  line-height: 1.5em;
}
.page-user-register #edit-civicrm-profile-register .crm-section div.edit-value {
  margin-left: 0;
}
.page-user-register #edit-civicrm-profile-register #editrow-custom_23 .label:first-child {
  display: inherit;
}
.page-user-register #edit-civicrm-profile-register #editrow-custom_23 table {
  clear: left;
}
.page-user-register #edit-civicrm-profile-register #editrow-custom_23 table tbody {
  border: none;
}
.page-user-register #edit-civicrm-profile-register #editrow-custom_53 > label {
  clear: both;
  display: block;
  margin-left: 20px;
  margin-top: -15px;
}

form .form-textarea-wrapper,
form .ctools-modal-content,
form span.cke_skin_kama {
  border: none;
  padding: 0;
  border-radius: 0;
}
form .form-textarea-wrapper .cke_wrapper,
form .ctools-modal-content .cke_wrapper,
form span.cke_skin_kama .cke_wrapper {
  background-image: none;
  background-color: #cfcfcf;
}
form .form-textarea-wrapper span.cke_browser_gecko .cke_wrapper,
form .ctools-modal-content span.cke_browser_gecko .cke_wrapper,
form span.cke_skin_kama span.cke_browser_gecko .cke_wrapper {
  border-radius: 0;
  padding: 5px 1px;
}
form .form-textarea-wrapper span.cke_browser_gecko .cke_wrapper span.cke_toolbar,
form .ctools-modal-content span.cke_browser_gecko .cke_wrapper span.cke_toolbar,
form span.cke_skin_kama span.cke_browser_gecko .cke_wrapper span.cke_toolbar {
  margin-left: 5px;
}
form .form-textarea-wrapper .wysiwyg-toggle-wrapper,
form .ctools-modal-content .wysiwyg-toggle-wrapper,
form span.cke_skin_kama .wysiwyg-toggle-wrapper {
  display: none;
}
form fieldset.filter-wrapper {
  display: block;
}
form #edit-actions,
form .form-actions {
  clear: left;
  display: block;
  margin-top: 10px;
}
form #edit-actions input,
form .form-actions input {
  float: right;
}

.form-item {
  /* Wrapper for a form element (or group of form elements) and its label */
  margin: 1.5em 0;
}
.form-item input.error,
.form-item textarea.error,
.form-item select.error {
  /* Highlight the form elements that caused a form submission error */
  border: 1px solid #c00;
}
.form-item label {
  /* The label for a form element */
  display: block;
  font-weight: bold;
}
.form-item label.option {
  /* The label for a radio button or checkbox */
  display: inline;
  font-weight: normal;
}
.form-item .form-required {
  /* The part of the label that indicates a required field */
  color: #c00;
}
.form-item .description {
  /* The descriptive help text (separate from the label) */
  font-size: 12px;
  font-family: SourceSansPro, Tahoma, sans-serif;
  color: #7C7F7E;
  font-weight: normal;
  line-height: 16.4px;
  text-transform: none;
}
.form-checkboxes .form-item, .form-radios .form-item {
  /* Pack groups of checkboxes and radio buttons closer together */
  margin: 0;
  /* Drupal core uses "0.4em 0" */
}

.form-submit {
  /* The submit button */
}

.container-inline div,
.container-inline label {
  /* Inline labels and form divs */
  display: inline;
}

.tips {
  /* Tips for Drupal's input formats */
}

a.button {
  /* Buttons used by contrib modules like Media */
  -moz-appearance: button;
  -webkit-appearance: button;
}

/*
 * Password confirmation
 */
.password-parent,
.confirm-parent {
  margin: 0;
}

/*
 * Search (search-block-form.tpl.php)
 */
#block-search-form {
  /* Wrapper for the search form */
}

/*
 * Drupal's default login form block
 */
#user-login-form {
  text-align: left;
  /* LTR */
  /*
   * OpenID
   *
   * The default styling for the OpenID login link seems to assume Garland's
   * styling of list items.
   */
}
#user-login-form ul {
  /* OpenID creates a new ul above the login form's links. */
  margin-bottom: 0;
  /* Position OpenID's ul next to the rest of the links. */
}
html.js #user-login-form li.openid-link,
#user-login-form li.openid-link {
  /* The "Log in using OpenID" link. */
  margin-top: 1.5em;
  margin-left: -20px;
  /* LTR */
  /* Un-do some of the padding on the ul list. */
}
#user-login-form li.user-link {
  /* The "Cancel OpenID login" link. */
  margin-top: 1.5em;
}

#user-login ul {
  margin: 1.5em 0;
}

/*
 * Drupal admin tables
 *
 * We overrode these styles in normalize.css, but restore them for the admin
 * section of the site.
 */
form th {
  text-align: left;
  /* LTR */
  padding-right: 1em;
  /* LTR */
  border-bottom-color: #cfcfcf;
  border-bottom-width: 3px;
  border-bottom-style: solid;
}
form tbody {
  border-top-color: #cfcfcf;
  border-top-width: 1px;
  border-top-style: solid;
}
form tr.even {
  background-color: #fff;
}
form table .item-list ul {
  margin: 0;
}

/* node editing */
.page-node-add-scheme {
  background: #F3F2E0;
}
.page-node-add-scheme .step-title {
  clear: both;
  max-width: 960px;
  border-bottom: 1px #dedede solid;
  margin: 1em auto .5em auto;
}
.page-node-add-scheme .scheme-title {
  display: none;
}
.page-node-add-scheme .step-add-title-and-description {
  display: inherit;
}
.page-node-add-scheme .description strong:first-child {
  display: block;
  font-size: 2.5em;
  font-family: League, sans-serif;
  color: #414042;
  text-transform: uppercase;
  font-weight: normal;
  line-height: 1.5;
  color: #7C7F7E;
}
.page-node-add-scheme .description strong:nth-child(2) {
  display: block;
  font-size: 20.04px;
  font-family: League, sans-serif;
  color: #414042;
  text-transform: uppercase;
  font-weight: normal;
  line-height: 1.25;
  color: #7C7F7E;
}
.page-node-add-scheme h3 {
  margin-top: 0;
  font-size: 2.5em;
  line-height: 1.5;
  color: #7C7F7E;
}
.page-node-add-scheme label[for=edit-title] {
  text-transform: lowercase;
}
.page-node-add-scheme label[for=edit-title]::first-letter {
  text-transform: capitalize;
}
.page-node-add-scheme input#edit-skip,
.page-node-add-scheme input#edit-preview {
  display: none;
}
.page-node-add-scheme #stepper-add-scheme {
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
}
.page-node-add-scheme #stepper-add-scheme ul li {
  font-size: 1.5em;
}
.page-node-add-scheme #stepper-add-scheme ul li span {
  display: block;
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  text-transform: capitalize;
}
.page-node-add-scheme #stepper-add-scheme ul li.current {
  font-size: 2.5em;
  color: #EF3F26;
  position: relative;
  left: .1875em;
}
.page-node-add-scheme #stepper-add-scheme ul li.current:before {
  text-indent: -0.1275em;
  content: "STEP ";
}

.page-user-edit form label {
  font-size: 16.04px;
  font-family: League, sans-serif;
  color: #414042;
  text-transform: uppercase;
  font-weight: normal;
}
.page-user-edit form label.option {
  font-size: 12px;
  font-family: SourceSansPro, Tahoma, sans-serif;
  color: #7C7F7E;
  font-weight: normal;
  line-height: 16.4px;
  text-transform: none;
}
.page-user-edit form .description {
  font-style: italic;
}
.page-user-edit form #edit-picture legend {
  font-size: 16.04px;
  font-family: League, sans-serif;
  color: #414042;
  text-transform: uppercase;
  font-weight: normal;
}
.page-user-edit form .edit-value input[type="checkbox"],
.page-user-edit form .label input[type="checkbox"] {
  display: block;
  float: left;
  width: 25px;
  clear: left;
}
.page-user-edit form .edit-value label,
.page-user-edit form .label label {
  font-size: 12px;
  font-family: SourceSansPro, Tahoma, sans-serif;
  color: #7C7F7E;
  font-weight: normal;
  line-height: 16.4px;
  text-transform: none;
  display: block;
  float: left;
}
.page-user-edit form .crm-section .label:first-child {
  display: none;
}
.page-user-edit form .crm-section div.edit-value {
  margin-left: 0;
}

.page-user-edit-asb-user-profile form#user-profile-form #editrow-custom_37 .label,
.page-user-edit-asb-user-profile form#user-profile-form #editrow-custom_72 .label,
.page-user-edit-asb-user-profile form#user-profile-form #editrow-custom_73 .label,
.page-user-edit-asb-user-profile form#user-profile-form #editrow-custom_57 .label,
.page-user-edit-more-about-me form#user-profile-form #editrow-custom_37 .label,
.page-user-edit-more-about-me form#user-profile-form #editrow-custom_72 .label,
.page-user-edit-more-about-me form#user-profile-form #editrow-custom_73 .label,
.page-user-edit-more-about-me form#user-profile-form #editrow-custom_57 .label {
  display: block;
}
.page-user-edit-asb-user-profile form#user-profile-form #editrow-custom_37 .resizable-textarea,
.page-user-edit-asb-user-profile form#user-profile-form #editrow-custom_72 .resizable-textarea,
.page-user-edit-asb-user-profile form#user-profile-form #editrow-custom_73 .resizable-textarea,
.page-user-edit-asb-user-profile form#user-profile-form #editrow-custom_57 .resizable-textarea,
.page-user-edit-more-about-me form#user-profile-form #editrow-custom_37 .resizable-textarea,
.page-user-edit-more-about-me form#user-profile-form #editrow-custom_72 .resizable-textarea,
.page-user-edit-more-about-me form#user-profile-form #editrow-custom_73 .resizable-textarea,
.page-user-edit-more-about-me form#user-profile-form #editrow-custom_57 .resizable-textarea {
  clear: left;
  display: block;
}
.page-user-edit-asb-user-profile form#user-profile-form .crm-section .label:first-child,
.page-user-edit-more-about-me form#user-profile-form .crm-section .label:first-child {
  display: inherit;
}
.page-user-edit-asb-user-profile form#user-profile-form .description,
.page-user-edit-more-about-me form#user-profile-form .description {
  margin-left: 0;
  font-style: italic;
}
.page-user-edit-asb-user-profile form#user-profile-form table.form-layout-compressed,
.page-user-edit-more-about-me form#user-profile-form table.form-layout-compressed {
  clear: left;
}
.page-user-edit-asb-user-profile form#user-profile-form #editrow-custom_23 > div:nth-child(1) > label:nth-child(1),
.page-user-edit-asb-user-profile form#user-profile-form #editrow-custom_101 > div:nth-child(1) > label:nth-child(1),
.page-user-edit-asb-user-profile form#user-profile-form #editrow-custom_72 > div:nth-child(1) > label:nth-child(1),
.page-user-edit-asb-user-profile form#user-profile-form #editrow-custom_57 > div:nth-child(1) > label:nth-child(1),
.page-user-edit-more-about-me form#user-profile-form #editrow-custom_23 > div:nth-child(1) > label:nth-child(1),
.page-user-edit-more-about-me form#user-profile-form #editrow-custom_101 > div:nth-child(1) > label:nth-child(1),
.page-user-edit-more-about-me form#user-profile-form #editrow-custom_72 > div:nth-child(1) > label:nth-child(1),
.page-user-edit-more-about-me form#user-profile-form #editrow-custom_57 > div:nth-child(1) > label:nth-child(1) {
  font-size: 16.04px;
  font-family: League, sans-serif;
  color: #414042;
  text-transform: uppercase;
  font-weight: normal;
}
.page-user-edit-asb-user-profile form#user-profile-form #editrow-custom_101 > div:nth-child(2) > label:nth-child(2),
.page-user-edit-asb-user-profile form#user-profile-form #editrow-custom_101 > div:nth-child(2) > label:nth-child(4),
.page-user-edit-more-about-me form#user-profile-form #editrow-custom_101 > div:nth-child(2) > label:nth-child(2),
.page-user-edit-more-about-me form#user-profile-form #editrow-custom_101 > div:nth-child(2) > label:nth-child(4) {
  display: inline;
  float: none;
}

.page-user-edit-name-and-address form#user-profile-form .crm-profile-name-name_and_address #crm-container.crm-container .label,
.page-user-edit-more-about-me form#user-profile-form .crm-profile-name-name_and_address #crm-container.crm-container .label {
  display: inherit;
}

form#user-profile-form .crm-profile-name-ASB_User_Profile_19 #helprow-custom_54 .content,
form#user-profile-form .crm-profile-name-ASB_User_Profile_19 #helprow-custom_23 .content {
  margin-left: 0;
  padding-top: 1.2em;
  font-size: 18.04px;
  font-family: League, sans-serif;
  color: #414042;
  text-transform: uppercase;
  font-weight: normal;
}
form#user-profile-form #edit-account .form-item-pass {
  padding-top: 20px;
  padding-bottom: 10px;
  border-top-color: #cfcfcf;
  border-top-width: 1px;
  border-top-style: solid;
  border-bottom-color: #cfcfcf;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
form#user-profile-form #edit-account .form-item-pass:before {
  content: "Change Password";
  font-size: 33.4284px;
  font-family: League, sans-serif;
  color: #414042;
  text-transform: uppercase;
  font-weight: normal;
  padding-bottom: 10px;
}
form#user-profile-form #edit-account .form-item-pass .password-parent {
  padding-top: 10px;
}
form#user-profile-form #edit-account .form-item-pass .password-suggestions {
  border-color: #56CBC8;
  border-width: 1px;
  border-style: solid;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding: 4px 7px;
}
form#user-profile-form #edit-picture {
  border-bottom-color: #cfcfcf;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
form#user-profile-form #edit-picture legend .fieldset-legend {
  font-size: 33.4284px;
  font-family: League, sans-serif;
  color: #414042;
  text-transform: uppercase;
  font-weight: normal;
}
form#user-profile-form #edit-picture legend .fieldset-legend:before {
  content: "Profile ";
  padding-bottom: 10px;
}
form#user-profile-form #edit-actions input#edit-cancel {
  display: inline-block;
  padding: 0 20px;
  height: 30px;
  line-height: 30px;
  background-color: #56CBC8;
  color: white;
  font-size: 20.04px;
  font-family: League, sans-serif;
  border-radius: 4px;
  text-align: center;
  text-transform: uppercase;
}
form#user-profile-form #edit-actions input#edit-cancel:hover, form#user-profile-form #edit-actions input#edit-cancel:focus {
  background-color: #912A1B;
  color: white;
}

.comment-form {
  clear: left;
  margin-bottom: 20px;
  padding: 10px 20px 35px 20px;
}
.comment-form #edit-author--2 {
  display: none;
}
.comment-form fieldset.filter-wrapper {
  display: none;
}

.section-node-edit.node-type-scheme .description {
  font-style: italic;
}
.section-node-edit.node-type-scheme .form-item-title,
.section-node-edit.node-type-scheme .form-field-name-field-location,
.section-node-edit.node-type-scheme .form-field-name-field-brief-internal-description,
.section-node-edit.node-type-scheme .form-field-name-field-issues-goals,
.section-node-edit.node-type-scheme .field-name-body,
.section-node-edit.node-type-scheme .form-field-name-field-featured,
.section-node-edit.node-type-scheme .form-field-name-field-from-the-movie,
.section-node-edit.node-type-scheme .form-field-name-field-progress,
.section-node-edit.node-type-scheme .form-field-name-field-facilitator,
.section-node-edit.node-type-scheme .form-field-name-field-private-description,
.section-node-edit.node-type-scheme .workflow-form-container,
.section-node-edit.node-type-scheme .form-field-name-field-video,
.section-node-edit.node-type-scheme .form-field-name-field-material-needs,
.section-node-edit.node-type-scheme .form-field-name-field-people-skills,
.section-node-edit.node-type-scheme .form-field-name-field-funding-needs,
.section-node-edit.node-type-scheme .field-type-text-with-summary,
.section-node-edit.node-type-scheme .form-field-name-field-image {
  clear: left;
  border-bottom-color: #cfcfcf;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
.section-node-edit.node-type-scheme .form-item-title label:first-child,
.section-node-edit.node-type-scheme .form-field-name-field-location label:first-child,
.section-node-edit.node-type-scheme .form-field-name-field-brief-internal-description label:first-child,
.section-node-edit.node-type-scheme .form-field-name-field-issues-goals label:first-child,
.section-node-edit.node-type-scheme .field-name-body label:first-child,
.section-node-edit.node-type-scheme .form-field-name-field-featured label:first-child,
.section-node-edit.node-type-scheme .form-field-name-field-from-the-movie label:first-child,
.section-node-edit.node-type-scheme .form-field-name-field-progress label:first-child,
.section-node-edit.node-type-scheme .form-field-name-field-facilitator label:first-child,
.section-node-edit.node-type-scheme .form-field-name-field-private-description label:first-child,
.section-node-edit.node-type-scheme .workflow-form-container label:first-child,
.section-node-edit.node-type-scheme .form-field-name-field-video label:first-child,
.section-node-edit.node-type-scheme .form-field-name-field-material-needs label:first-child,
.section-node-edit.node-type-scheme .form-field-name-field-people-skills label:first-child,
.section-node-edit.node-type-scheme .form-field-name-field-funding-needs label:first-child,
.section-node-edit.node-type-scheme .field-type-text-with-summary label:first-child,
.section-node-edit.node-type-scheme .form-field-name-field-image label:first-child {
  font-size: 33.4284px;
  font-family: League, sans-serif;
  color: #414042;
  text-transform: uppercase;
  font-weight: normal;
  line-height: 1.2;
}
.section-node-edit.node-type-scheme .form-item-title {
  padding-bottom: 1.5em;
}
.section-node-edit.node-type-scheme .form-field-name-field-issues-goals .description {
  clear: left;
  padding-top: .55em;
}
.section-node-edit.node-type-scheme .form-field-name-field-progress .sliderfield-display-values-field {
  display: inline-block;
  font-size: 12px;
  font-family: SourceSansPro, Tahoma, sans-serif;
  color: #414042;
  font-weight: bold;
  line-height: 16.4px;
  text-transform: none;
}
.section-node-edit.node-type-scheme .form-field-name-field-progress .sliderfield-display-values-field:after {
  content: '%';
}
.section-node-edit.node-type-scheme .form-field-name-field-progress .ui-slider-horizontal {
  border-color: #cfcfcf;
  border-width: 1px;
  border-style: solid;
  background: #56CBC8;
}
.section-node-edit.node-type-scheme .form-field-name-field-progress .ui-slider-handle {
  background: #EF3F26;
}
.section-node-edit.node-type-scheme .field-type-text-with-summary {
  padding-bottom: 1.5em;
}
.section-node-edit.node-type-scheme .field-type-text-with-summary .form-type-select label {
  font-size: 12px;
  font-family: SourceSansPro, Tahoma, sans-serif;
  color: #414042;
  font-weight: bold;
  line-height: 16.4px;
  text-transform: none;
}
.section-node-edit.node-type-scheme .form-field-name-field-video a.button {
  display: inline-block;
  padding: 0 20px;
  height: 24px;
  line-height: 24px;
  background-color: #EF3F26;
  color: white;
  font-size: 12px;
  font-family: SourceSansPro, Tahoma, sans-serif;
  border-radius: 4px;
  text-align: center;
  text-transform: uppercase;
}
.section-node-edit.node-type-scheme .form-field-name-field-video a.button:hover, .section-node-edit.node-type-scheme .form-field-name-field-video a.button:focus {
  background-color: #912A1B;
  color: white;
}
.section-node-edit.node-type-scheme .form-field-name-field-video a.button.launcher {
  display: inline-block;
  padding: 0 20px;
  height: 24px;
  line-height: 24px;
  background-color: #56CBC8;
  color: white;
  font-size: 12px;
  font-family: SourceSansPro, Tahoma, sans-serif;
  border-radius: 4px;
  text-align: center;
  text-transform: uppercase;
}
.section-node-edit.node-type-scheme .form-field-name-field-video a.button.launcher:hover, .section-node-edit.node-type-scheme .form-field-name-field-video a.button.launcher:focus {
  background-color: #912A1B;
  color: white;
}
.section-node-edit.node-type-scheme .form-field-name-field-video a.button.remove {
  display: inline-block;
  padding: 0 20px;
  height: 24px;
  line-height: 24px;
  background-color: #56CBC8;
  color: white;
  font-size: 12px;
  font-family: SourceSansPro, Tahoma, sans-serif;
  border-radius: 4px;
  text-align: center;
  text-transform: uppercase;
}
.section-node-edit.node-type-scheme .form-field-name-field-video a.button.remove:hover, .section-node-edit.node-type-scheme .form-field-name-field-video a.button.remove:focus {
  background-color: #912A1B;
  color: white;
}
.section-node-edit.node-type-scheme .form-field-name-field-video a.button.remove:after {
  content: ' \2716';
}
.section-node-edit.node-type-scheme .form-field-name-field-video .preview.launcher {
  clear: left;
  padding-bottom: 1.5em;
}
.section-node-edit.node-type-scheme .form-field-name-field-video #field-video-add-more-wrapper .mediaBrowserLaunch-processed label {
  display: inherit;
}
.section-node-edit.node-type-scheme .form-field-name-field-video label.media-filename {
  font-size: 12px;
  font-family: SourceSansPro, Tahoma, sans-serif;
  color: #7C7F7E;
  font-weight: bold;
  line-height: 18.4px;
  text-transform: none;
}
.section-node-edit.node-type-scheme .form-field-name-field-image label,
.section-node-edit.node-type-scheme .form-field-name-field-image label:first-child {
  font-size: 12px;
  font-family: SourceSansPro, Tahoma, sans-serif;
  color: #414042;
  font-weight: bold;
  line-height: 16.4px;
  text-transform: none;
}
.section-node-edit.node-type-scheme .form-field-name-field-image legend {
  font-size: 33.4284px;
  font-family: League, sans-serif;
  color: #414042;
  text-transform: uppercase;
  font-weight: normal;
  line-height: 1.2;
}
.section-node-edit.node-type-scheme .form-field-name-field-image input[type="submit"] {
  display: inline-block;
  padding: 0 20px;
  height: 24px;
  line-height: 24px;
  background-color: #56CBC8;
  color: white;
  font-size: 12px;
  font-family: SourceSansPro, Tahoma, sans-serif;
  border-radius: 4px;
  text-align: center;
  text-transform: uppercase;
}
.section-node-edit.node-type-scheme .form-field-name-field-image input[type="submit"]:hover, .section-node-edit.node-type-scheme .form-field-name-field-image input[type="submit"]:focus {
  background-color: #912A1B;
  color: white;
}
.section-node-edit.node-type-scheme .workflow-form-container {
  padding-bottom: 1.5em;
}
.section-node-edit.node-type-scheme .workflow-form-container .workflow-buttons input[type="submit"] {
  display: inline-block;
  padding: 0 20px;
  height: 24px;
  line-height: 24px;
  background-color: #56CBC8;
  color: white;
  font-size: 12px;
  font-family: SourceSansPro, Tahoma, sans-serif;
  border-radius: 4px;
  text-align: center;
  text-transform: uppercase;
}
.section-node-edit.node-type-scheme .workflow-form-container .workflow-buttons input[type="submit"]:hover, .section-node-edit.node-type-scheme .workflow-form-container .workflow-buttons input[type="submit"]:focus {
  background-color: #912A1B;
  color: white;
}
.section-node-edit.node-type-scheme .form-field-name-field-material-needs thead tr th {
  border: none;
}
.section-node-edit.node-type-scheme .form-actions input[type="submit"]#edit-preview {
  display: none;
}
.section-node-edit.node-type-scheme .form-actions input[type="submit"]#edit-delete {
  display: inline-block;
  padding: 0 20px;
  height: 30px;
  line-height: 30px;
  background-color: #56CBC8;
  color: white;
  font-size: 20.04px;
  font-family: League, sans-serif;
  border-radius: 4px;
  text-align: center;
  text-transform: uppercase;
}
.section-node-edit.node-type-scheme .form-actions input[type="submit"]#edit-delete:hover, .section-node-edit.node-type-scheme .form-actions input[type="submit"]#edit-delete:focus {
  background-color: #912A1B;
  color: white;
}
.section-node-edit.node-type-scheme .form-actions input[type="submit"]#edit-delete:after {
  content: ' \2716';
}
.section-node-edit.node-type-scheme .field-add-more-submit {
  display: inline-block;
  padding: 0 20px;
  height: 24px;
  line-height: 24px;
  background-color: #56CBC8;
  color: white;
  font-size: 12px;
  font-family: SourceSansPro, Tahoma, sans-serif;
  border-radius: 4px;
  text-align: center;
  text-transform: uppercase;
}
.section-node-edit.node-type-scheme .field-add-more-submit:hover, .section-node-edit.node-type-scheme .field-add-more-submit:focus {
  background-color: #912A1B;
  color: white;
}

.section-messages #main form#privatemsg-list {
  margin-top: 10px;
}
.section-messages #main #privatemsg-filter-tags {
  margin-top: 10px;
}
.section-messages #main .privatemsg-message-participants {
  margin-top: 10px;
  font-size: 1.25rem;
  font-family: SourceSansPro, Tahoma, sans-serif;
  color: #7C7F7E;
  font-weight: normal;
  line-height: 16.4px;
  text-transform: none;
  border-bottom-color: #cfcfcf;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
.section-messages .privatemsg-author-avatar,
.section-messages .privatemsg-message-column {
  float: left;
}
.section-messages .privatemsg-author-avatar {
  width: 10%;
  min-width: 30px;
  padding-right: 1%;
}
.section-messages .privatemsg-message-column {
  width: 89%;
}
.section-messages .privatemsg-message-column .privatemsg-message-information {
  border-bottom-color: #cfcfcf;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
.section-messages .privatemsg-message-column .privatemsg-message-information .privatemsg-author-name,
.section-messages .privatemsg-message-column .privatemsg-message-information .privatemsg-message-date {
  font-size: 1.25rem;
  font-family: SourceSansPro, Tahoma, sans-serif;
  color: #7C7F7E;
  font-weight: normal;
  line-height: 16.4px;
  text-transform: none;
}
.section-messages .privatemsg-message-column .privatemsg-message-body {
  margin-left: 0;
}
.section-messages .privatemsg-message-column .privatemsg-message-body p {
  margin: 10px 0;
}

#canned-email-form {
  margin-top: 10px;
}

/*
 * Drupal core wrongly puts this in system.menus.css. Since we override that, add it back.
 */
td.menu-disabled {
  background: #ccc;
}

.page-node-add-scheme #content form {
  font-size: 1.2rem;
}
.page-node-add-scheme #edit-field-issues-goals-und {
  *zoom: 1;
}
.page-node-add-scheme #edit-field-issues-goals-und:after {
  content: "";
  display: table;
  clear: both;
}
.page-node-add-scheme #edit-field-issues-goals-und .description {
  *zoom: 1;
}
.page-node-add-scheme #edit-field-issues-goals-und .description:after {
  content: "";
  display: table;
  clear: both;
}
.page-node-add-scheme #edit-field-issues-goals-und .form-item {
  float: left;
  width: 28%;
  margin-right: 3%;
  display: inline-block;
  margin-bottom: .5em;
  line-height: 1.5;
}

#modalContent.donate-skills #modal-content,
#modalContent.request-membership #modal-content {
  height: auto !important;
}
#modalContent.donate-skills div.ctools-modal-content .form-item label,
#modalContent.request-membership div.ctools-modal-content .form-item label {
  width: auto;
}
#modalContent.donate-skills #edit-skills .form-item,
#modalContent.request-membership #edit-skills .form-item {
  display: inline-block;
  margin-right: .5em;
  margin-bottom: .25em;
  padding: .5em .75em;
  border-radius: .25em;
  background: rgba(0, 0, 0, 0.1);
}
