/*@import "font-icons";*/
/* line 128, ../sass/includes/_entypo.scss */
.ctools-modal-content .popups-container .modal-header .close:before, .ctools-modal-content .modal-head-wrapper .close:before, #newsletterModal .newsletter-modal-head-wrapper .close:before {
  content: '\2716';
}

/* line 13, ../sass/_extends.scss */
.civi-button, #newsletterModal .button {
  display: inline-block;
  padding: 0 20px;
  height: 30px;
  line-height: 30px;
  background-color: #EF3F26;
  color: white;
  font-size: 20.04px;
  font-family: League, sans-serif;
  border-radius: 4px;
  text-align: center;
  text-transform: uppercase;
  border: none !important;
  text-shadow: none !important;
  color: white !important;
}
/* line 318, ../sass/_mixins.scss */
.civi-button:hover, #newsletterModal .button:hover, .civi-button:focus, #newsletterModal .button:focus {
  background-color: #912A1B;
  color: white;
}
/* line 19, ../sass/_extends.scss */
.civi-button span, #newsletterModal .button span {
  line-height: 2;
}
/* line 21, ../sass/_extends.scss */
.civi-button span .icon, #newsletterModal .button span .icon {
  display: none !important;
}

/* line 30, ../sass/_extends.scss */
.clearfix:before, #newsletterModal .newsletter-modal-head-wrapper:before, .clearfix:after, #newsletterModal .newsletter-modal-head-wrapper:after {
  content: " ";
  display: table;
}
/* line 35, ../sass/_extends.scss */
.clearfix:after, #newsletterModal .newsletter-modal-head-wrapper:after {
  clear: both;
}

/* line 5, ../sass/modals.scss */
.ui-dialog {
  z-index: 1100;
}

/* line 9, ../sass/modals.scss */
.ctools-modal-content .popups-container .modal-header .close, .ctools-modal-content .modal-head-wrapper .close, #newsletterModal .newsletter-modal-head-wrapper .close {
  float: right;
  position: relative;
  right: -0.5em;
  top: -2.5em;
  color: #EF3F26 !important;
  display: block;
  cursor: pointer;
}
/* line 40, ../sass/_mixins.scss */
.ctools-modal-content .popups-container .modal-header .close:before, .ctools-modal-content .modal-head-wrapper .close:before, #newsletterModal .newsletter-modal-head-wrapper .close:before {
  font-family: "entypo";
  font-style: normal;
  font-size: 4em;
  line-height: 1;
  margin-right: 0em;
  text-align: left;
  display: inline-block;
  width: 0.5em;
  color: inherit;
  vertical-align: middle;
}
/* line 20, ../sass/modals.scss */
.ctools-modal-content .popups-container .modal-header .close span, .ctools-modal-content .modal-head-wrapper .close span, #newsletterModal .newsletter-modal-head-wrapper .close span {
  display: none;
}

/* line 26, ../sass/modals.scss */
.ctools-modal-content {
  border: none !important;
  position: relative;
  background: transparent !important;
}
/* line 32, ../sass/modals.scss */
.ctools-modal-content header .modal-update-title {
  padding: .5em;
}
/* line 36, ../sass/modals.scss */
.ctools-modal-content label {
  float: none !important;
  display: block;
}
/* line 41, ../sass/modals.scss */
.ctools-modal-content .form-textarea-wrapper {
  margin: 0 !important;
}
/* line 45, ../sass/modals.scss */
.ctools-modal-content .filter-help {
  display: none;
}
/* line 49, ../sass/modals.scss */
.ctools-modal-content #edit-field-people-skills .form-type-select {
  display: block;
}
/* line 53, ../sass/modals.scss */
.ctools-modal-content ul.tips {
  margin: 0;
  padding: 0;
}
/* line 58, ../sass/modals.scss */
.ctools-modal-content .popups-container {
  overflow: visible !important;
  height: auto !important;
}
/* line 61, ../sass/modals.scss */
.ctools-modal-content .popups-container .modal-header {
  background: #F3F2E0;
  width: auto;
}
/* line 64, ../sass/modals.scss */
.ctools-modal-content .popups-container .modal-header .close {
  text-indent: none;
  background-image: none;
  top: -1.5em;
  background: #F3F2E0;
  border-radius: 1em;
  right: -1.5em;
  position: relative;
  overflow: hidden;
}
/* line 74, ../sass/modals.scss */
.ctools-modal-content .popups-container .modal-header .close::before {
  text-indent: 0;
  position: absolute;
  left: 0;
  top: -.225em;
  display: block;
}
/* line 85, ../sass/modals.scss */
.ctools-modal-content .messages {
  margin-top: 1em;
  border: none !important;
}
/* line 90, ../sass/modals.scss */
.ctools-modal-content .modal-head-wrapper {
  z-index: 5;
  width: 100%;
}
/* line 93, ../sass/modals.scss */
.ctools-modal-content .modal-head-wrapper h2.element-invisible {
  display: none;
}
/* line 101, ../sass/modals.scss */
.ctools-modal-content .popups-container,
.ctools-modal-content .modal-content-wrapper {
  border: none;
}
/* line 106, ../sass/modals.scss */
.ctools-modal-content .modal-scroll, .ctools-modal-content #newsletterModal .newsletter-modal-scroll, #newsletterModal .ctools-modal-content .newsletter-modal-scroll,
.ctools-modal-content .modal-content-wrapper {
  background: #F3F2E0;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.2);
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.2);
  padding-top: 1em;
}
/* line 115, ../sass/modals.scss */
.ctools-modal-content .popups-body,
.ctools-modal-content .modal-content {
  overflow: visible !important;
  padding: 0 1em 1em 1em !important;
  height: auto !important;
}

/* line 124, ../sass/modals.scss */
#modalContent.login .ctools-modal-content {
  min-height: 350px !important;
  height: auto !important;
}

/* line 130, ../sass/modals.scss */
#edit-field-issues-goals .form-type-checkbox {
  line-height: 2;
  border-bottom: 1px #dedede solid;
  padding: .25em 0 .25em;
  float: left;
  width: 24em;
  margin: 0 1em 0 0;
}

/* line 140, ../sass/modals.scss */
#field-video-add-more-wrapper {
  padding-top: .125em;
}
/* line 144, ../sass/modals.scss */
#field-video-add-more-wrapper .mediaBrowserLaunch-processed label {
  display: none;
}
/* line 148, ../sass/modals.scss */
#field-video-add-more-wrapper .form-submit {
  margin-left: 1em;
}
/* line 152, ../sass/modals.scss */
#field-video-add-more-wrapper .preview {
  display: block !important;
  margin-top: 1em;
  width: 100%;
  margin-bottom: 1em;
}
/* line 159, ../sass/modals.scss */
#field-video-add-more-wrapper .preview .form-item {
  margin: 0;
}
/* line 165, ../sass/modals.scss */
#field-video-add-more-wrapper .preview iframe {
  padding: 0 !important;
  margin: 0 !important;
  width: 100%;
  height: 400px;
  border: none;
}
/* line 175, ../sass/modals.scss */
#field-video-add-more-wrapper .media-item {
  width: auto !important;
  border: none !important;
  background-color: transparent;
}
/* line 180, ../sass/modals.scss */
#field-video-add-more-wrapper .media-item .label-wrapper {
  width: auto;
  height: auto;
}
/* line 185, ../sass/modals.scss */
#field-video-add-more-wrapper .media-item .label-wrapper:hover {
  border: none;
  background: none;
  box-shadow: none;
  text-decoration: none;
}
/* line 192, ../sass/modals.scss */
#field-video-add-more-wrapper .media-item .media-filename {
  width: auto;
  border: none;
  background: none;
  font-size: 1.25em;
  font-weight: normal;
  color: #7C7F7E;
}

/* line 207, ../sass/modals.scss */
#edit-field-image tr.even {
  background-color: transparent;
}
/* line 211, ../sass/modals.scss */
#edit-field-image td {
  padding-top: 1em;
  padding-bottom: .5em;
  border-bottom: 1px #dedede solid;
  vertical-align: top;
}
/* line 218, ../sass/modals.scss */
#edit-field-image > legend,
#edit-field-image thead,
#edit-field-image .tabledrag-changed,
#edit-field-image .tabledrag-toggle-weight-wrapper {
  display: none !important;
}
/* line 225, ../sass/modals.scss */
#edit-field-image a.tabledrag-handle {
  display: inline-block;
}
/* line 231, ../sass/modals.scss */
#edit-field-image table .image-widget {
  float: none;
  width: auto;
}
/* line 236, ../sass/modals.scss */
#edit-field-image table .image-preview {
  width: 180px;
  float: left;
}
/* line 239, ../sass/modals.scss */
#edit-field-image table .image-preview img {
  display: block;
}
/* line 244, ../sass/modals.scss */
#edit-field-image table .image-widget-data {
  width: 320px;
}
/* line 246, ../sass/modals.scss */
#edit-field-image table .image-widget-data .file,
#edit-field-image table .image-widget-data .file-size {
  display: none;
}
/* line 250, ../sass/modals.scss */
#edit-field-image table .image-widget-data label {
  float: none;
}
/* line 253, ../sass/modals.scss */
#edit-field-image table .image-widget-data .description {
  white-space: normal;
  width: 300px;
  margin-bottom: 1em;
}
/* line 258, ../sass/modals.scss */
#edit-field-image table .image-widget-data input[type="text"] {
  width: 300px;
  font-size: .875em;
  display: block;
}
/* line 265, ../sass/modals.scss */
#edit-field-image table input[value="Remove"] {
  width: 24px;
  height: 24px;
  padding: 0;
  text-indent: -3000px;
  overflow: hidden;
  vertical-align: top;
  position: relative;
  color: #fff;
  top: .125em;
  background-color: transparent !important;
  background-image: url(/sites/all/themes/asb/images/button-remove.png);
  background-repeat: no-repeat;
}

/* line 284, ../sass/modals.scss */
div.ctools-modal-content .form-type-mfw-managed-file {
  background: #fff;
  border-radius: 6px;
  padding: 1em;
}
/* line 290, ../sass/modals.scss */
div.ctools-modal-content .form-type-mfw-managed-file label {
  display: block;
  float: none;
}
/* line 295, ../sass/modals.scss */
div.ctools-modal-content .form-type-mfw-managed-file .image-widget.form-managed-file.clearfix, div.ctools-modal-content .form-type-mfw-managed-file #newsletterModal .image-widget.form-managed-file.newsletter-modal-head-wrapper, #newsletterModal div.ctools-modal-content .form-type-mfw-managed-file .image-widget.form-managed-file.newsletter-modal-head-wrapper {
  clear: none;
  float: left;
}
/* line 298, ../sass/modals.scss */
div.ctools-modal-content .form-type-mfw-managed-file .image-widget.form-managed-file.clearfix input[value="Upload"], div.ctools-modal-content .form-type-mfw-managed-file #newsletterModal .image-widget.form-managed-file.newsletter-modal-head-wrapper input[value="Upload"], #newsletterModal div.ctools-modal-content .form-type-mfw-managed-file .image-widget.form-managed-file.newsletter-modal-head-wrapper input[value="Upload"] {
  margin-left: 1em;
  position: relative;
  top: .125em;
}

/* line 307, ../sass/modals.scss */
#modal-throbber .modal-throbber-wrapper {
  border-radius: 4px;
  min-height: 12em;
  width: 100%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.9);
  background-image: url("/sites/all/modules/custom/asb_modal/images/ajax-loader.gif");
  background-position: center center;
  background-repeat: no-repeat;
}

/* line 323, ../sass/modals.scss */
.form-item-field-people-skills-und .chosen-container {
  width: 100% !important;
}

/* line 328, ../sass/modals.scss */
.offscreen {
  position: absolute;
  top: -99999em;
  width: 1px;
  height: 1px;
  overflow: hidden;
  outline: 0;
}

/* line 332, ../sass/modals.scss */
#newsletterModal {
  @extends #modalContent;
  position: fixed;
  z-index: 1000;
  transition-property: top;
  transition-duration: .25s;
  width: 100%;
  height: 100%;
  top: -100%;
  display: none;
}
/* line 345, ../sass/modals.scss */
#newsletterModal.active {
  background-color: rgba(255, 255, 255, 0.8);
  display: block;
  top: 0;
}
/* line 351, ../sass/modals.scss */
#newsletterModal .newsletter-modal-content {
  background-color: #F3F2E0;
  width: 450px;
  min-height: 180px;
  margin: 0 auto;
  padding: 2em;
}
/* line 359, ../sass/modals.scss */
#newsletterModal .newsletter-modal-head-wrapper {
  position: relative;
}
/* line 362, ../sass/modals.scss */
#newsletterModal .newsletter-modal-head-wrapper .close {
  position: absolute;
  right: -.75em;
  top: .25em;
  border-radius: 50%;
  border: 2px #F3F2E0 solid;
  padding: 0 0 0 0;
}
/* line 370, ../sass/modals.scss */
#newsletterModal .newsletter-modal-head-wrapper .close::before {
  line-height: .5;
}
/* line 376, ../sass/modals.scss */
#newsletterModal .modal-title {
  font-size: 3em;
  color: #000;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1;
}
/* line 384, ../sass/modals.scss */
#newsletterModal .newsletter-modal-scroll {
  padding-top: 0;
}
/* line 387, ../sass/modals.scss */
#newsletterModal .newsletter-modal-scroll.spinner {
  background-repeat: no-repeat;
  background-image: url(/sites/all/themes/asb/images/spinner.gif);
  background-position: center center;
}
/* line 394, ../sass/modals.scss */
#newsletterModal .blurb {
  font-size: 16px;
}
/* line 398, ../sass/modals.scss */
#newsletterModal #email-Primary {
  width: 100%;
  box-sizing: border-box;
  margin: 0;
}
/* line 404, ../sass/modals.scss */
#newsletterModal .button {
  width: 100%;
}

/**
 * Colorbox module style:
 */
/* line 415, ../sass/modals.scss */
#colorbox {
  background: #F3F2E0;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
/* line 421, ../sass/modals.scss */
#colorbox #cboxWrapper {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
/* line 427, ../sass/modals.scss */
#colorbox #cboxContent {
  background: #F3F2E0;
  overflow: visible;
  padding: 1em;
}
/* line 433, ../sass/modals.scss */
#colorbox #cboxClose {
  background: #F3F2E0 url("/sites/all/themes/asb/images/button-remove.png") no-repeat 0 0;
  border-radius: 50%;
}
/* line 436, ../sass/modals.scss */
#colorbox #cboxClose:hover, #colorbox #cboxClose:focus {
  background-position: 0 0;
}
