/*@import "font-icons";*/
/* line 128, ../sass/includes/_entypo.scss */
.ctools-modal-content .modal-head-wrapper a.close:before {
  content: '\2716';
}

/* line 5, ../sass/modals.scss */
.ui-dialog {
  z-index: 1100;
}

/* line 9, ../sass/modals.scss */
.ctools-modal-content {
  border: none !important;
  position: relative;
  background: transparent !important;
}
/* line 15, ../sass/modals.scss */
.ctools-modal-content header .modal-update-title {
  padding: .5em;
}
/* line 19, ../sass/modals.scss */
.ctools-modal-content label {
  float: none !important;
  display: block;
}
/* line 24, ../sass/modals.scss */
.ctools-modal-content .form-textarea-wrapper {
  margin: 0 !important;
}
/* line 28, ../sass/modals.scss */
.ctools-modal-content .filter-help {
  display: none;
}
/* line 32, ../sass/modals.scss */
.ctools-modal-content #edit-field-people-skills .form-type-select {
  display: block;
}
/* line 36, ../sass/modals.scss */
.ctools-modal-content ul.tips {
  margin: 0;
  padding: 0;
}
/* line 41, ../sass/modals.scss */
.ctools-modal-content .messages {
  margin-top: 1em;
  border: none !important;
}
/* line 46, ../sass/modals.scss */
.ctools-modal-content .modal-head-wrapper {
  z-index: 5;
  width: 100%;
}
/* line 49, ../sass/modals.scss */
.ctools-modal-content .modal-head-wrapper h2.element-invisible {
  display: none;
}
/* line 52, ../sass/modals.scss */
.ctools-modal-content .modal-head-wrapper a.close {
  float: right;
  position: relative;
  right: -0.5em;
  top: -2.5em;
  color: #ef3f26;
  display: inline-block;
  cursor: pointer;
}
/* line 40, ../sass/_mixins.scss */
.ctools-modal-content .modal-head-wrapper a.close:before {
  font-family: "entypo";
  font-style: normal;
  font-size: 4em;
  line-height: 1;
  margin-right: 0em;
  text-align: left;
  display: inline-block;
  width: 0.5em;
  color: inherit;
  vertical-align: middle;
}
/* line 62, ../sass/modals.scss */
.ctools-modal-content .modal-head-wrapper a.close span {
  display: none;
}
/* line 69, ../sass/modals.scss */
.ctools-modal-content .popups-container,
.ctools-modal-content .modal-content-wrapper {
  border: none;
}
/* line 73, ../sass/modals.scss */
.ctools-modal-content .modal-content-wrapper {
  background: #f3f2e0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.2);
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.2);
  padding-top: 1em;
  padding-bottom: 1em;
}
/* line 81, ../sass/modals.scss */
.ctools-modal-content .modal-content {
  overflow: auto;
  padding: 0 1em;
  height: auto !important;
}

/* line 89, ../sass/modals.scss */
#modalContent.login .ctools-modal-content {
  min-height: 350px !important;
  height: auto !important;
}

/* line 95, ../sass/modals.scss */
#edit-field-issues-goals .form-type-checkbox {
  line-height: 2;
  border-bottom: 1px #dedede solid;
  padding: .25em 0 .25em;
  float: left;
  width: 24em;
  margin: 0 1em 0 0;
}

/* line 105, ../sass/modals.scss */
#field-video-add-more-wrapper {
  padding-top: .125em;
}
/* line 109, ../sass/modals.scss */
#field-video-add-more-wrapper .mediaBrowserLaunch-processed label {
  display: none;
}
/* line 113, ../sass/modals.scss */
#field-video-add-more-wrapper .form-submit {
  margin-left: 1em;
}
/* line 117, ../sass/modals.scss */
#field-video-add-more-wrapper .preview {
  display: block !important;
  margin-top: 1em;
  width: 100%;
  height: 400px;
  margin-bottom: 1em;
}
/* line 125, ../sass/modals.scss */
#field-video-add-more-wrapper .preview .form-item {
  margin: 0;
}
/* line 131, ../sass/modals.scss */
#field-video-add-more-wrapper .preview div,
#field-video-add-more-wrapper .preview iframe {
  padding: 0 !important;
  margin: 0 !important;
  width: 100%;
  height: 100%;
  border: none;
}
/* line 141, ../sass/modals.scss */
#field-video-add-more-wrapper .media-item {
  width: auto !important;
  border: none !important;
  background-color: transparent;
}
/* line 146, ../sass/modals.scss */
#field-video-add-more-wrapper .media-item .label-wrapper {
  width: auto;
  height: auto;
}
/* line 151, ../sass/modals.scss */
#field-video-add-more-wrapper .media-item .label-wrapper:hover {
  border: none;
  background: none;
  box-shadow: none;
  text-decoration: none;
}
/* line 158, ../sass/modals.scss */
#field-video-add-more-wrapper .media-item .media-filename {
  width: auto;
  border: none;
  background: none;
  font-size: 1.25em;
  font-weight: normal;
  color: #7c7f7e;
}

/* line 173, ../sass/modals.scss */
#edit-field-image tr.even {
  background-color: transparent;
}
/* line 177, ../sass/modals.scss */
#edit-field-image td {
  padding-top: 1em;
  padding-bottom: .5em;
  border-bottom: 1px #dedede solid;
  vertical-align: top;
}
/* line 187, ../sass/modals.scss */
#edit-field-image > legend,
#edit-field-image thead,
#edit-field-image .tabledrag-changed,
#edit-field-image .tabledrag-toggle-weight-wrapper {
  display: none !important;
}
/* line 191, ../sass/modals.scss */
#edit-field-image a.tabledrag-handle {
  display: inline-block;
}
/* line 197, ../sass/modals.scss */
#edit-field-image table .image-widget {
  float: none;
  width: auto;
}
/* line 202, ../sass/modals.scss */
#edit-field-image table .image-preview {
  width: 180px;
  float: left;
}
/* line 205, ../sass/modals.scss */
#edit-field-image table .image-preview img {
  display: block;
}
/* line 210, ../sass/modals.scss */
#edit-field-image table .image-widget-data {
  width: 320px;
}
/* line 213, ../sass/modals.scss */
#edit-field-image table .image-widget-data .file,
#edit-field-image table .image-widget-data .file-size {
  display: none;
}
/* line 216, ../sass/modals.scss */
#edit-field-image table .image-widget-data label {
  float: none;
}
/* line 219, ../sass/modals.scss */
#edit-field-image table .image-widget-data .description {
  white-space: normal;
  width: 300px;
  margin-bottom: 1em;
}
/* line 224, ../sass/modals.scss */
#edit-field-image table .image-widget-data input[type="text"] {
  width: 300px;
  font-size: .875em;
  display: block;
}
/* line 231, ../sass/modals.scss */
#edit-field-image table input[value="Remove"] {
  width: 24px;
  height: 24px;
  padding: 0;
  text-indent: -3000px;
  overflow: hidden;
  vertical-align: top;
  position: relative;
  color: #fff;
  top: .125em;
  background-color: transparent !important;
  background-image: url(/sites/all/themes/asb/images/button-remove.png);
  background-repeat: no-repeat;
}

/* line 250, ../sass/modals.scss */
div.ctools-modal-content .form-type-mfw-managed-file {
  background: #fff;
  border-radius: 6px;
  padding: 1em;
}
/* line 256, ../sass/modals.scss */
div.ctools-modal-content .form-type-mfw-managed-file label {
  display: block;
  float: none;
}
/* line 261, ../sass/modals.scss */
div.ctools-modal-content .form-type-mfw-managed-file .image-widget.form-managed-file.clearfix {
  clear: none;
  float: left;
}
/* line 264, ../sass/modals.scss */
div.ctools-modal-content .form-type-mfw-managed-file .image-widget.form-managed-file.clearfix input[value="Upload"] {
  margin-left: 1em;
  position: relative;
  top: .125em;
}

/* line 273, ../sass/modals.scss */
#modal-throbber .modal-throbber-wrapper {
  border-radius: 4px;
  min-height: 12em;
  width: 100%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.9);
  background-image: url("/sites/all/modules/custom/asb_modal/images/ajax-loader.gif");
  background-position: center center;
  background-repeat: no-repeat;
}
