/**
 * @file
 * Node Styling
 *
 * Style anything that isn't in the $content variable.
 */
/*@import "font-icons";*/
/* line 13, ../sass/_extends.scss */
.civi-button {
  display: inline-block;
  padding: 0 20px;
  height: 30px;
  line-height: 30px;
  background-color: #ef3f26;
  color: white;
  font-size: 20.04px;
  font-family: League, sans-serif;
  border-radius: 4px;
  text-align: center;
  text-transform: uppercase;
  border: none;
  text-shadow: none;
  color: white !important;
}
/* line 319, ../sass/_mixins.scss */
.civi-button:hover, .civi-button:focus {
  background-color: #912a1b;
  color: white;
}
/* line 19, ../sass/_extends.scss */
.civi-button span {
  line-height: 30px;
}
/* line 21, ../sass/_extends.scss */
.civi-button span .icon {
  display: none;
}
/* line 25, ../sass/_extends.scss */
.civi-button span div.icon {
  display: none;
}

/* line 10, ../sass/nodes.scss */
.node-unpublished {
  /* Unpublished nodes */
  /* background-color: #fff4f4; */
  /* Drupal core uses a #fff4f4 background */
}
/* line 13, ../sass/nodes.scss */
.node-unpublished p.unpublished {
  /* The word "Unpublished" displayed underneath the content. */
  height: 0;
  overflow: visible;
  color: #d8d8d8;
  font-size: 75px;
  line-height: 1;
  font-family: Impact, "Arial Narrow", Helvetica, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  word-wrap: break-word;
}
/* line 249, ../sass/_mixins.scss */
.lt-ie8 .node-unpublished p.unpublished > * {
  position: relative;
}
