/**
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */
/* line 61, ../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
* html {
  font-size: 75%;
}

/* line 64, ../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 12px;
  line-height: 1.2em;
}

@font-face {
  font-family: "League";
  src: url("../fonts/league_gothic.eot");
  src: url("../fonts/league_gothic.eot?#iefix") format("embedded-opentype"), url("../fonts/league_gothic.woff") format("woff"), url("../fonts/league_gothic.ttf") format("truetype"), url("../fonts/league_gothic.svg#leaguegothic") format("svg");
  font-weight: normal;
  font-style: normal;
  font-stretch: none;
}

@font-face {
  font-family: "SourceSansPro";
  src: url("../fonts/sourcesanspro-regular.eot");
  src: url("../fonts/sourcesanspro-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/sourcesanspro-regular.woff") format("woff"), url("../fonts/sourcesanspro-regular.ttf") format("truetype"), url("../fonts/sourcesanspro-regular.svg#source_sans_proregular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-stretch: none;
}

@font-face {
  font-family: "SourceSansPro";
  src: url("../fonts/sourcesanspro-italic.eot");
  src: url("../fonts/sourcesanspro-italic.eot?#iefix") format("embedded-opentype"), url("../fonts/sourcesanspro-italic.woff") format("woff"), url("../fonts/sourcesanspro-italic.ttf") format("truetype"), url("../fonts/sourcesanspro-italic.svg#source_sans_proitalic") format("svg");
  font-weight: normal;
  font-style: italic;
  font-stretch: none;
}

@font-face {
  font-family: "SourceSansPro";
  src: url("../fonts/sourcesanspro-bold.eot");
  src: url("../fonts/sourcesanspro-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/sourcesanspro-bold.woff") format("woff"), url("../fonts/sourcesanspro-bold.ttf") format("truetype"), url("../fonts/sourcesanspro-bold.svg#source_sans_probold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-stretch: none;
}

@font-face {
  font-family: "SourceSansPro";
  src: url("../fonts/sourcesanspro-bolditalic.eot");
  src: url("../fonts/sourcesanspro-bolditalic.eot?#iefix") format("embedded-opentype"), url("../fonts/sourcesanspro-bolditalic.woff") format("woff"), url("../fonts/sourcesanspro-bolditalic.ttf") format("truetype"), url("../fonts/sourcesanspro-bolditalic.svg#source_sans_probold_italic") format("svg");
  font-weight: bold;
  font-style: italic;
  font-stretch: none;
}

/* line 56, ../sass/_type.scss */
h1,
h2,
h3,
h4,
h5 {
  text-transform: uppercase;
  color: #414042;
  font-family: League, Helvetica, sans;
  font-weight: normal;
}

/* line 63, ../sass/_type.scss */
a, a:link, a:visited {
  text-decoration: none;
}

/* line 68, ../sass/_type.scss */
h2#site-name,
h1#site-name {
  font-size: 4.5em;
  color: white;
}
/* line 71, ../sass/_type.scss */
h2#site-name a, h2#site-name a:link, h2#site-name a:visited,
h1#site-name a,
h1#site-name a:link,
h1#site-name a:visited {
  color: inherit;
}

/* line 79, ../sass/_type.scss */
header#header #block-system-user-menu span.title,
header#header .block-menu-block ul li span.title {
  font-size: 15px;
  color: white;
}
/* line 84, ../sass/_type.scss */
header#header #block-system-user-menu span.username,
header#header #block-system-user-menu span.description,
header#header .block-menu-block ul li span.username,
header#header .block-menu-block ul li span.description {
  display: block;
  clear: both;
  color: #7c7f7e;
}
/* line 91, ../sass/_type.scss */
header#header #block-system-user-menu a.login,
header#header #block-system-user-menu a.logout,
header#header .block-menu-block ul li a.login,
header#header .block-menu-block ul li a.logout {
  color: white;
}

/*
 * Body
 */
/* line 17, ../sass/pages.scss */
body {
  margin: 0;
  padding: 0;
}

/* line 25, ../sass/pages.scss */
#first-time {
  display: none;
}

/*
 * The skip-link link will be completely hidden until a user tabs to the link.
 * See the element-focusable rule in system.base.css.
 */
/* line 34, ../sass/pages.scss */
#skip-link {
  margin: 0;
}
/* line 38, ../sass/pages.scss */
#skip-link a,
#skip-link a:visited {
  display: block;
  width: 100%;
  padding: 2px 0 3px 0;
  text-align: center;
  background-color: #666;
  color: #fff;
}

/*
 * Header
 */
/* line 55, ../sass/pages.scss */
#logo {
  /* Wrapping link for logo */
  float: left;
  /* LTR */
  margin: 0;
  padding: 0;
}
/* line 60, ../sass/pages.scss */
#logo img {
  vertical-align: bottom;
}

/* line 69, ../sass/pages.scss */
#site-name {
  /* The name of the website */
}
/* line 81, ../sass/pages.scss */
#site-name a:hover,
#site-name a:focus {
  text-decoration: underline;
}

/* line 86, ../sass/pages.scss */
#site-slogan {
  /* The slogan (or tagline) of a website */
  margin: 0;
  font-size: 1em;
}

/* line 91, ../sass/pages.scss */
.region-header {
  /* Wrapper for any blocks placed in the header region */
  clear: both;
  /* Clear the logo */
}

/*
 * Main (container for everything else)
 */
/*
 * Content
 */
/* line 106, ../sass/pages.scss */
#content {
  clear: left;
}

/* line 113, ../sass/pages.scss */
.breadcrumb {
  /* The path to the current page in the form of a list of links */
}
/* line 114, ../sass/pages.scss */
.breadcrumb ol {
  margin: 0;
  padding: 0;
}
/* line 118, ../sass/pages.scss */
.breadcrumb li {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* line 131, ../sass/pages.scss */
h1.title,
h2.node-title,
h2.block-title,
h2.title,
h2.comment-form,
h3.title {
  /* Comment title */
  margin: 0;
}

/* line 135, ../sass/pages.scss */
tr.even {
  /* Some tables have rows marked even or odd. */
  /* background-color: #eee; */
  /* Drupal core uses a #eee background */
}

/* line 139, ../sass/pages.scss */
tr.odd {
  /* background-color: #eee; */
  /* Drupal core uses a #eee background */
}

/* line 143, ../sass/pages.scss */
div.messages {
  /* Important messages (status, warning, and error) for the user. See also the declarations in messages.css. */
  margin: 1.5em 0;
  /* Drupal core uses "6px 0" margin */
}
/* line 146, ../sass/pages.scss */
div.messages ul {
  margin-top: 0;
  margin-bottom: 0;
}

/* line 152, ../sass/pages.scss */
div.status {
  /* Normal priority messages */
}

/* line 156, ../sass/pages.scss */
div.warning,
tr.warning {
  /* Medium priority messages */
  /* border: 1px solid #f0c020; */
  /* Drupal core uses: 1px solid #f0c020 */
}

/* line 161, ../sass/pages.scss */
div.error,
tr.error {
  /* High priority messages. See also the .error declaration below. */
}

/* line 164, ../sass/pages.scss */
.error {
  /* Errors that are separate from div.messages status messages. */
  /* color: #e55; */
  /* Drupal core uses a #e55 background */
}

/* line 168, ../sass/pages.scss */
.warning {
  /* Warnings that are separate from div.messages status messages. */
  /* color: #e09010; */
  /* Drupal core uses a #e09010 background */
}

/* line 172, ../sass/pages.scss */
.tabs {
  /* See also the tabs.css file. */
}

/* line 175, ../sass/pages.scss */
.region-help {
  /* Help text on a page */
}

/* line 178, ../sass/pages.scss */
.more-help-link {
  /* Link to more help */
}

/* line 181, ../sass/pages.scss */
.region-content {
  /* Wrapper for the actual page content */
}

/* line 184, ../sass/pages.scss */
ul.inline {
  /* List of links generated by theme_links() */
  display: inline;
  padding: 0;
}
/* line 188, ../sass/pages.scss */
ul.inline li {
  display: inline;
  list-style-type: none;
  padding: 0 1em 0 0;
  /* LTR */
}

/* line 194, ../sass/pages.scss */
span.field-label {
  /* The inline field label used by the Fences module */
  padding: 0 1em 0 0;
  /* LTR */
}

/* line 198, ../sass/pages.scss */
.item-list .pager {
  /* A list of page numbers when more than 1 page of content is available */
  padding: 0;
}
/* line 201, ../sass/pages.scss */
.item-list .pager li {
  /* Each page number in the pager list */
  padding: 0 0.5em;
}

/* line 206, ../sass/pages.scss */
.feed-icon {
  /* The link to the RSS or Atom feed for the current list of content */
}

/* line 209, ../sass/pages.scss */
.more-link {
  /* Aggregator, blog, and forum more link */
}

/*
 * First sidebar (on left in LTR languages, on right in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-first
 * (see the layout.css file.)
 */
/*
 * Second sidebar (on right in LTR languages, on left in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-second
 * (see the layout.css file.)
 */
/*
 * Footer
 */
/*
 * Page bottom
 */
/* line 243, ../sass/pages.scss */
.region-bottom {
  /* Wrapper for any blocks placed in the page bottom region */
}
