/**
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */
/*@import "font-icons";*/
/* line 13, ../sass/_extends.scss */
.civi-button {
  display: inline-block;
  padding: 0 20px;
  height: 30px;
  line-height: 30px;
  background-color: #EF3F26;
  color: white;
  font-size: 20.04px;
  font-family: League, sans-serif;
  border-radius: 4px;
  text-align: center;
  text-transform: uppercase;
  border: none !important;
  text-shadow: none !important;
  color: white !important;
}
/* line 318, ../sass/_mixins.scss */
.civi-button:hover, .civi-button:focus {
  background-color: #912A1B;
  color: white;
}
/* line 19, ../sass/_extends.scss */
.civi-button span {
  line-height: 2;
}
/* line 21, ../sass/_extends.scss */
.civi-button span .icon {
  display: none !important;
}

/* line 30, ../sass/_extends.scss */
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
/* line 35, ../sass/_extends.scss */
.clearfix:after {
  clear: both;
}

/*
 * Body
 */
/* line 16, ../sass/pages.scss */
body {
  margin: 0;
  padding: 0;
}

/* line 21, ../sass/pages.scss */
#first-time {
  display: none;
}

/*
 * The skip-link link will be completely hidden until a user tabs to the link.
 * See the element-focusable rule in system.base.css.
 */
/* line 30, ../sass/pages.scss */
#skip-link {
  margin: 0;
}
/* line 32, ../sass/pages.scss */
#skip-link a,
#skip-link a:visited {
  display: block;
  width: 100%;
  padding: 2px 0 3px 0;
  text-align: center;
  background-color: #666;
  color: #fff;
}

/*
 * Header
 */
/* line 47, ../sass/pages.scss */
#logo {
  /* Wrapping link for logo */
  float: left;
  /* LTR */
  margin: 0;
  padding: 0;
}
/* line 52, ../sass/pages.scss */
#logo img {
  vertical-align: bottom;
}

/* line 57, ../sass/pages.scss */
#site-name {
  /* The name of the website */
}
/* line 58, ../sass/pages.scss */
#site-name a:hover,
#site-name a:focus {
  text-decoration: underline;
}

/* line 64, ../sass/pages.scss */
#site-slogan {
  /* The slogan (or tagline) of a website */
  margin: 0;
  font-size: 1em;
}

/* line 69, ../sass/pages.scss */
.region-header {
  /* Wrapper for any blocks placed in the header region */
  clear: both;
  /* Clear the logo */
}

/*
 * Content
 */
/* line 77, ../sass/pages.scss */
#content {
  clear: left;
}

/* line 81, ../sass/pages.scss */
.breadcrumb {
  /* The path to the current page in the form of a list of links */
}
/* line 82, ../sass/pages.scss */
.breadcrumb ol {
  margin: 0;
  padding: 0;
}
/* line 86, ../sass/pages.scss */
.breadcrumb li {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* line 94, ../sass/pages.scss */
h1.title,
h2.node-title,
h2.block-title,
h2.title,
h2.comment-form,
h3.title {
  /* Comment title */
  margin: 0;
}

/* line 103, ../sass/pages.scss */
div.messages {
  /* Important messages (status, warning, and error) for the user. See also the declarations in messages.css. */
  margin: 1.5em 0;
  /* Drupal core uses "6px 0" margin */
}
/* line 106, ../sass/pages.scss */
div.messages ul {
  margin-top: 0;
  margin-bottom: 0;
}

/* line 112, ../sass/pages.scss */
ul.inline {
  /* List of links generated by theme_links() */
  display: inline;
  padding: 0;
}
/* line 117, ../sass/pages.scss */
ul.inline li {
  display: inline;
  list-style-type: none;
  padding: 0 1em 0 0;
  /* LTR */
}

/* line 125, ../sass/pages.scss */
span.field-label {
  /* The inline field label used by the Fences module */
  padding: 0 1em 0 0;
  /* LTR */
}

/* line 129, ../sass/pages.scss */
.item-list .pager {
  /* A list of page numbers when more than 1 page of content is available */
  padding: 0;
}
/* line 132, ../sass/pages.scss */
.item-list .pager li {
  /* Each page number in the pager list */
  padding: 0 0.5em;
}
