/**
 * @file
 * Print styling
 *
 * We provide some sane print styling for Drupal using Zen's layout method.
 */
/*@import "font-icons";*/
/* line 13, ../sass/_extends.scss */
.civi-button {
  display: inline-block;
  padding: 0 20px;
  height: 30px;
  line-height: 30px;
  background-color: #EF3F26;
  color: white;
  font-size: 20.04px;
  font-family: League, sans-serif;
  border-radius: 4px;
  text-align: center;
  text-transform: uppercase;
  border: none !important;
  text-shadow: none !important;
  color: white !important;
}
/* line 318, ../sass/_mixins.scss */
.civi-button:hover, .civi-button:focus {
  background-color: #912A1B;
  color: white;
}
/* line 19, ../sass/_extends.scss */
.civi-button span {
  line-height: 2;
}
/* line 21, ../sass/_extends.scss */
.civi-button span .icon {
  display: none !important;
}

/* line 30, ../sass/_extends.scss */
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
/* line 35, ../sass/_extends.scss */
.clearfix:after {
  clear: both;
}

@media print {
  /* line 13, ../sass/print.scss */
  a:link,
  a:visited {
    /* underline all links */
    text-decoration: underline !important;
  }
  /* line 17, ../sass/print.scss */
  #site-name a:link, #site-name
  a:visited {
    /* Don't underline header */
    text-decoration: none !important;
  }

  /* line 23, ../sass/print.scss */
  #content a[href]:after {
    /* Add visible URL after links. */
    content: " (" attr(href) ")";
    font-weight: normal;
    font-size: 12px;
  }
  /* line 29, ../sass/print.scss */
  #content a[href^="javascript:"]:after,
  #content a[href^="#"]:after {
    /* Only display useful links. */
    content: "";
  }
  /* line 34, ../sass/print.scss */
  #content abbr[title]:after {
    /* Add visible title after abbreviations. */
    content: " (" attr(title) ")";
  }

  /* line 39, ../sass/print.scss */
  #content {
    /* Un-float the content */
    float: none !important;
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
  }

  /* line 46, ../sass/print.scss */
  body,
  #page,
  #main,
  #content {
    /* Turn off any background colors or images */
    color: #000;
    background-color: transparent !important;
    background-image: none !important;
  }

  /* line 55, ../sass/print.scss */
  #skip-link,
  #toolbar,
  #navigation,
  .region-sidebar-first,
  .region-sidebar-second,
  #footer,
  .breadcrumb,
  .tabs,
  .action-links,
  .links,
  .book-navigation,
  .forum-topic-navigation,
  .pager,
  .feed-icons {
    /* Hide sidebars and nav elements */
    visibility: hidden;
    display: none;
  }
}
/* End @media print */
