/**
 * @file
 * Tables Styling
 */
/*@import "font-icons";*/
.civi-button {
  display: inline-block;
  padding: 0 20px;
  height: 30px;
  line-height: 30px;
  background-color: #EF3F26;
  color: white;
  font-size: 20.04px;
  font-family: League, sans-serif;
  border-radius: 4px;
  text-align: center;
  text-transform: uppercase;
  border: none !important;
  text-shadow: none !important;
  color: white !important;
}
.civi-button:hover, .civi-button:focus {
  background-color: #912A1B;
  color: white;
}
.civi-button span {
  line-height: 2;
}
.civi-button span .icon {
  display: none !important;
}

.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}

table {
  width: 100%;
  margin: 0;
  background: transparent;
}

table td,
table th {
  border: none;
  background: transparent;
  background-color: none;
}

tr.even,
tr.odd,
tr.active,
th.active {
  border: none;
  background: transparent;
  background-color: none;
}

table th a {
  display: block;
  position: relative;
}

table th.active a {
  padding: 0 25px 0 0;
  /* LTR */
}

table th.active img {
  position: absolute;
  top: 3px;
  right: 3px;
  /* LTR */
}

/**
 * Exception for webkit bug with the right border of the last cell
 * in some tables, since it's webkit only, we can use :last-child
 */
#content .page-content table.views-table,
#content .page-content table.sticky-table,
#content .page-main-content table.views-table,
#content .page-main-content table.sticky-table {
  margin-top: 10px;
  font-size: 1.1em;
  font-family: SourceSansPro, Tahoma, sans-serif;
  color: #414042;
  font-weight: normal;
  line-height: 16.4px;
  text-transform: none;
}
#content .page-content table.views-table thead,
#content .page-content table.sticky-table thead,
#content .page-main-content table.views-table thead,
#content .page-main-content table.sticky-table thead {
  border-top-color: #cfcfcf;
  border-top-width: 1px;
  border-top-style: solid;
  border-bottom-color: #cfcfcf;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
#content .page-content table.views-table thead th,
#content .page-content table.sticky-table thead th,
#content .page-main-content table.views-table thead th,
#content .page-main-content table.sticky-table thead th {
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0 10px;
  border-bottom: none;
  font-size: 1.1em;
  font-family: SourceSansPro, Tahoma, sans-serif;
  color: #414042;
  font-weight: normal;
  line-height: 16.4px;
  text-transform: none;
}
#content .page-content table.views-table thead th:first-child,
#content .page-content table.sticky-table thead th:first-child,
#content .page-main-content table.views-table thead th:first-child,
#content .page-main-content table.sticky-table thead th:first-child {
  padding-left: 10px;
}
#content .page-content table.views-table tbody tr td,
#content .page-content table.views-table tbody tr td.active,
#content .page-content table.sticky-table tbody tr td,
#content .page-content table.sticky-table tbody tr td.active,
#content .page-main-content table.views-table tbody tr td,
#content .page-main-content table.views-table tbody tr td.active,
#content .page-main-content table.sticky-table tbody tr td,
#content .page-main-content table.sticky-table tbody tr td.active {
  padding: 10px 0;
  background: transparent;
  font-size: 1.1em;
  font-family: SourceSansPro, Tahoma, sans-serif;
  color: #414042;
  font-weight: normal;
  line-height: 16.4px;
  text-transform: none;
}
#content .page-content table.views-table tbody tr td p,
#content .page-content table.views-table tbody tr td.active p,
#content .page-content table.sticky-table tbody tr td p,
#content .page-content table.sticky-table tbody tr td.active p,
#content .page-main-content table.views-table tbody tr td p,
#content .page-main-content table.views-table tbody tr td.active p,
#content .page-main-content table.sticky-table tbody tr td p,
#content .page-main-content table.sticky-table tbody tr td.active p {
  padding: 0;
  margin: 0;
  font-size: 1em;
  font-family: SourceSansPro, Tahoma, sans-serif;
  color: #414042;
  font-weight: normal;
  line-height: 16.4px;
  text-transform: none;
}
#content .page-content table.views-table tbody tr td em,
#content .page-content table.views-table tbody tr td.active em,
#content .page-content table.sticky-table tbody tr td em,
#content .page-content table.sticky-table tbody tr td.active em,
#content .page-main-content table.views-table tbody tr td em,
#content .page-main-content table.views-table tbody tr td.active em,
#content .page-main-content table.sticky-table tbody tr td em,
#content .page-main-content table.sticky-table tbody tr td.active em {
  font-style: normal;
}
#content .page-content table.views-table tbody tr td:first-child,
#content .page-content table.views-table tbody tr td.active:first-child,
#content .page-content table.sticky-table tbody tr td:first-child,
#content .page-content table.sticky-table tbody tr td.active:first-child,
#content .page-main-content table.views-table tbody tr td:first-child,
#content .page-main-content table.views-table tbody tr td.active:first-child,
#content .page-main-content table.sticky-table tbody tr td:first-child,
#content .page-main-content table.sticky-table tbody tr td.active:first-child {
  padding-left: 10px;
}
#content .page-content table.views-table tbody tr.even,
#content .page-content table.sticky-table tbody tr.even,
#content .page-main-content table.views-table tbody tr.even,
#content .page-main-content table.sticky-table tbody tr.even {
  background: #f0f0f0;
}
#content .page-content table.views-table tbody tr.new td,
#content .page-content table.sticky-table tbody tr.new td,
#content .page-main-content table.views-table tbody tr.new td,
#content .page-main-content table.sticky-table tbody tr.new td {
  font-weight: bold;
}
#content .page-content table.views-table tbody tr.new td a,
#content .page-content table.sticky-table tbody tr.new td a,
#content .page-main-content table.views-table tbody tr.new td a,
#content .page-main-content table.sticky-table tbody tr.new td a {
  font-weight: bold;
}
#content .page-content table.views-table tbody tr ul,
#content .page-content table.sticky-table tbody tr ul,
#content .page-main-content table.views-table tbody tr ul,
#content .page-main-content table.sticky-table tbody tr ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#content .page-content table.views-table tbody tr ul li,
#content .page-content table.sticky-table tbody tr ul li,
#content .page-main-content table.views-table tbody tr ul li,
#content .page-main-content table.sticky-table tbody tr ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
}

.page-facilitator-dashboard #block-quicktabs-notifications div.views-exposed-widget div.bef-select-as-links div.form-item,
.page-facilitator-dashboard #block-quicktabs-schemes div.views-exposed-widget div.bef-select-as-links div.form-item,
.page-facilitator-dashboard #block-quicktabs-schemes-for-schemers div.views-exposed-widget div.bef-select-as-links div.form-item,
.page-dashboard #block-quicktabs-notifications div.views-exposed-widget div.bef-select-as-links div.form-item,
.page-dashboard #block-quicktabs-schemes div.views-exposed-widget div.bef-select-as-links div.form-item,
.page-dashboard #block-quicktabs-schemes-for-schemers div.views-exposed-widget div.bef-select-as-links div.form-item {
  display: inline-block;
}
.page-facilitator-dashboard #block-quicktabs-notifications div.views-exposed-widget div.bef-select-as-links div.form-item a,
.page-facilitator-dashboard #block-quicktabs-schemes div.views-exposed-widget div.bef-select-as-links div.form-item a,
.page-facilitator-dashboard #block-quicktabs-schemes-for-schemers div.views-exposed-widget div.bef-select-as-links div.form-item a,
.page-dashboard #block-quicktabs-notifications div.views-exposed-widget div.bef-select-as-links div.form-item a,
.page-dashboard #block-quicktabs-schemes div.views-exposed-widget div.bef-select-as-links div.form-item a,
.page-dashboard #block-quicktabs-schemes-for-schemers div.views-exposed-widget div.bef-select-as-links div.form-item a {
  display: inline-block;
  padding: 0 20px;
  height: 24px;
  line-height: 24px;
  background-color: #fff;
  color: #7C7F7E;
  font-size: 12px;
  font-family: SourceSansPro, Tahoma, sans-serif;
  border-radius: 4px;
  text-align: center;
  text-transform: uppercase;
}
.page-facilitator-dashboard #block-quicktabs-notifications div.views-exposed-widget div.bef-select-as-links div.form-item a:hover, .page-facilitator-dashboard #block-quicktabs-notifications div.views-exposed-widget div.bef-select-as-links div.form-item a:focus,
.page-facilitator-dashboard #block-quicktabs-schemes div.views-exposed-widget div.bef-select-as-links div.form-item a:hover,
.page-facilitator-dashboard #block-quicktabs-schemes div.views-exposed-widget div.bef-select-as-links div.form-item a:focus,
.page-facilitator-dashboard #block-quicktabs-schemes-for-schemers div.views-exposed-widget div.bef-select-as-links div.form-item a:hover,
.page-facilitator-dashboard #block-quicktabs-schemes-for-schemers div.views-exposed-widget div.bef-select-as-links div.form-item a:focus,
.page-dashboard #block-quicktabs-notifications div.views-exposed-widget div.bef-select-as-links div.form-item a:hover,
.page-dashboard #block-quicktabs-notifications div.views-exposed-widget div.bef-select-as-links div.form-item a:focus,
.page-dashboard #block-quicktabs-schemes div.views-exposed-widget div.bef-select-as-links div.form-item a:hover,
.page-dashboard #block-quicktabs-schemes div.views-exposed-widget div.bef-select-as-links div.form-item a:focus,
.page-dashboard #block-quicktabs-schemes-for-schemers div.views-exposed-widget div.bef-select-as-links div.form-item a:hover,
.page-dashboard #block-quicktabs-schemes-for-schemers div.views-exposed-widget div.bef-select-as-links div.form-item a:focus {
  background-color: #912A1B;
  color: white;
}
.page-facilitator-dashboard #block-quicktabs-notifications div.views-exposed-widget div.bef-select-as-links div.form-item.selected a,
.page-facilitator-dashboard #block-quicktabs-schemes div.views-exposed-widget div.bef-select-as-links div.form-item.selected a,
.page-facilitator-dashboard #block-quicktabs-schemes-for-schemers div.views-exposed-widget div.bef-select-as-links div.form-item.selected a,
.page-dashboard #block-quicktabs-notifications div.views-exposed-widget div.bef-select-as-links div.form-item.selected a,
.page-dashboard #block-quicktabs-schemes div.views-exposed-widget div.bef-select-as-links div.form-item.selected a,
.page-dashboard #block-quicktabs-schemes-for-schemers div.views-exposed-widget div.bef-select-as-links div.form-item.selected a {
  background: #EF3F26;
  color: white;
}
.page-facilitator-dashboard #block-quicktabs-notifications div.views-exposed-widget div.chosen-container,
.page-facilitator-dashboard #block-quicktabs-schemes div.views-exposed-widget div.chosen-container,
.page-facilitator-dashboard #block-quicktabs-schemes-for-schemers div.views-exposed-widget div.chosen-container,
.page-dashboard #block-quicktabs-notifications div.views-exposed-widget div.chosen-container,
.page-dashboard #block-quicktabs-schemes div.views-exposed-widget div.chosen-container,
.page-dashboard #block-quicktabs-schemes-for-schemers div.views-exposed-widget div.chosen-container {
  display: none !important;
}
.page-facilitator-dashboard table,
.page-dashboard table {
  margin-top: 0 !important;
}
.page-facilitator-dashboard table thead,
.page-dashboard table thead {
  border-top-color: #cfcfcf;
  border-top-width: 1px;
  border-top-style: solid;
  border-bottom-color: #cfcfcf;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
.page-facilitator-dashboard table thead th,
.page-dashboard table thead th {
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0 10px;
  font-size: 1.1em;
  font-family: SourceSansPro, Tahoma, sans-serif;
  color: #414042;
  font-weight: normal;
  line-height: 16.4px;
  text-transform: none;
}
.page-facilitator-dashboard table thead th:first-child,
.page-dashboard table thead th:first-child {
  padding-left: 10px;
}
.page-facilitator-dashboard table tbody tr td,
.page-facilitator-dashboard table tbody tr td.active,
.page-dashboard table tbody tr td,
.page-dashboard table tbody tr td.active {
  padding: 10px 0;
  background: transparent;
  font-size: 1.1em;
  font-family: SourceSansPro, Tahoma, sans-serif;
  color: #414042;
  font-weight: normal;
  line-height: 16.4px;
  text-transform: none;
}
.page-facilitator-dashboard table tbody tr td p,
.page-facilitator-dashboard table tbody tr td.active p,
.page-dashboard table tbody tr td p,
.page-dashboard table tbody tr td.active p {
  padding: 0;
  margin: 0;
  font-size: 1em;
  font-family: SourceSansPro, Tahoma, sans-serif;
  color: #414042;
  font-weight: normal;
  line-height: 16.4px;
  text-transform: none;
}
.page-facilitator-dashboard table tbody tr td mark.new,
.page-facilitator-dashboard table tbody tr td.active mark.new,
.page-dashboard table tbody tr td mark.new,
.page-dashboard table tbody tr td.active mark.new {
  display: none;
}
.page-facilitator-dashboard table tbody tr td:first-child,
.page-facilitator-dashboard table tbody tr td.active:first-child,
.page-dashboard table tbody tr td:first-child,
.page-dashboard table tbody tr td.active:first-child {
  padding-left: 10px;
}
.page-facilitator-dashboard table tbody tr.even,
.page-dashboard table tbody tr.even {
  background: #f0f0f0;
}
.page-facilitator-dashboard table tbody tr.new,
.page-dashboard table tbody tr.new {
  font-weight: bold;
}

.page-group-node #content div.view-content table.views-table,
.page-node-group #content div.view-content table.views-table,
.page-user #content div.view-content table.views-table,
.page-node-workflow #content div.view-content table.views-table,
.page-user-track #content div.view-content table.views-table,
.section-messages #content div.view-content table.views-table,
.section-user #content div.view-content table.views-table {
  font-size: 1.1em;
  font-family: SourceSansPro, Tahoma, sans-serif;
  color: #414042;
  font-weight: normal;
  line-height: 16.4px;
  text-transform: none;
}
.page-group-node #content div.view-content table.views-table thead,
.page-node-group #content div.view-content table.views-table thead,
.page-user #content div.view-content table.views-table thead,
.page-node-workflow #content div.view-content table.views-table thead,
.page-user-track #content div.view-content table.views-table thead,
.section-messages #content div.view-content table.views-table thead,
.section-user #content div.view-content table.views-table thead {
  border-top-color: #cfcfcf;
  border-top-width: 1px;
  border-top-style: solid;
  border-bottom-color: #cfcfcf;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
.page-group-node #content div.view-content table.views-table thead th,
.page-node-group #content div.view-content table.views-table thead th,
.page-user #content div.view-content table.views-table thead th,
.page-node-workflow #content div.view-content table.views-table thead th,
.page-user-track #content div.view-content table.views-table thead th,
.section-messages #content div.view-content table.views-table thead th,
.section-user #content div.view-content table.views-table thead th {
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0 10px;
  border-bottom: none;
  font-size: 1.1em;
  font-family: SourceSansPro, Tahoma, sans-serif;
  color: #414042;
  font-weight: normal;
  line-height: 16.4px;
  text-transform: none;
}
.page-group-node #content div.view-content table.views-table thead th:first-child,
.page-node-group #content div.view-content table.views-table thead th:first-child,
.page-user #content div.view-content table.views-table thead th:first-child,
.page-node-workflow #content div.view-content table.views-table thead th:first-child,
.page-user-track #content div.view-content table.views-table thead th:first-child,
.section-messages #content div.view-content table.views-table thead th:first-child,
.section-user #content div.view-content table.views-table thead th:first-child {
  padding-left: 10px;
}
.page-group-node #content div.view-content table.views-table tbody tr td,
.page-group-node #content div.view-content table.views-table tbody tr td.active,
.page-node-group #content div.view-content table.views-table tbody tr td,
.page-node-group #content div.view-content table.views-table tbody tr td.active,
.page-user #content div.view-content table.views-table tbody tr td,
.page-user #content div.view-content table.views-table tbody tr td.active,
.page-node-workflow #content div.view-content table.views-table tbody tr td,
.page-node-workflow #content div.view-content table.views-table tbody tr td.active,
.page-user-track #content div.view-content table.views-table tbody tr td,
.page-user-track #content div.view-content table.views-table tbody tr td.active,
.section-messages #content div.view-content table.views-table tbody tr td,
.section-messages #content div.view-content table.views-table tbody tr td.active,
.section-user #content div.view-content table.views-table tbody tr td,
.section-user #content div.view-content table.views-table tbody tr td.active {
  padding: 10px 0;
  background: transparent;
  font-size: 1.1em;
  font-family: SourceSansPro, Tahoma, sans-serif;
  color: #414042;
  font-weight: normal;
  line-height: 16.4px;
  text-transform: none;
}
.page-group-node #content div.view-content table.views-table tbody tr td p,
.page-group-node #content div.view-content table.views-table tbody tr td.active p,
.page-node-group #content div.view-content table.views-table tbody tr td p,
.page-node-group #content div.view-content table.views-table tbody tr td.active p,
.page-user #content div.view-content table.views-table tbody tr td p,
.page-user #content div.view-content table.views-table tbody tr td.active p,
.page-node-workflow #content div.view-content table.views-table tbody tr td p,
.page-node-workflow #content div.view-content table.views-table tbody tr td.active p,
.page-user-track #content div.view-content table.views-table tbody tr td p,
.page-user-track #content div.view-content table.views-table tbody tr td.active p,
.section-messages #content div.view-content table.views-table tbody tr td p,
.section-messages #content div.view-content table.views-table tbody tr td.active p,
.section-user #content div.view-content table.views-table tbody tr td p,
.section-user #content div.view-content table.views-table tbody tr td.active p {
  padding: 0;
  margin: 0;
  font-size: 1em;
  font-family: SourceSansPro, Tahoma, sans-serif;
  color: #414042;
  font-weight: normal;
  line-height: 16.4px;
  text-transform: none;
}
.page-group-node #content div.view-content table.views-table tbody tr td em,
.page-group-node #content div.view-content table.views-table tbody tr td.active em,
.page-node-group #content div.view-content table.views-table tbody tr td em,
.page-node-group #content div.view-content table.views-table tbody tr td.active em,
.page-user #content div.view-content table.views-table tbody tr td em,
.page-user #content div.view-content table.views-table tbody tr td.active em,
.page-node-workflow #content div.view-content table.views-table tbody tr td em,
.page-node-workflow #content div.view-content table.views-table tbody tr td.active em,
.page-user-track #content div.view-content table.views-table tbody tr td em,
.page-user-track #content div.view-content table.views-table tbody tr td.active em,
.section-messages #content div.view-content table.views-table tbody tr td em,
.section-messages #content div.view-content table.views-table tbody tr td.active em,
.section-user #content div.view-content table.views-table tbody tr td em,
.section-user #content div.view-content table.views-table tbody tr td.active em {
  font-style: normal;
}
.page-group-node #content div.view-content table.views-table tbody tr td:first-child,
.page-group-node #content div.view-content table.views-table tbody tr td.active:first-child,
.page-node-group #content div.view-content table.views-table tbody tr td:first-child,
.page-node-group #content div.view-content table.views-table tbody tr td.active:first-child,
.page-user #content div.view-content table.views-table tbody tr td:first-child,
.page-user #content div.view-content table.views-table tbody tr td.active:first-child,
.page-node-workflow #content div.view-content table.views-table tbody tr td:first-child,
.page-node-workflow #content div.view-content table.views-table tbody tr td.active:first-child,
.page-user-track #content div.view-content table.views-table tbody tr td:first-child,
.page-user-track #content div.view-content table.views-table tbody tr td.active:first-child,
.section-messages #content div.view-content table.views-table tbody tr td:first-child,
.section-messages #content div.view-content table.views-table tbody tr td.active:first-child,
.section-user #content div.view-content table.views-table tbody tr td:first-child,
.section-user #content div.view-content table.views-table tbody tr td.active:first-child {
  padding-left: 10px;
}
.page-group-node #content div.view-content table.views-table tbody tr.even,
.page-node-group #content div.view-content table.views-table tbody tr.even,
.page-user #content div.view-content table.views-table tbody tr.even,
.page-node-workflow #content div.view-content table.views-table tbody tr.even,
.page-user-track #content div.view-content table.views-table tbody tr.even,
.section-messages #content div.view-content table.views-table tbody tr.even,
.section-user #content div.view-content table.views-table tbody tr.even {
  background: #f0f0f0;
}
.page-group-node #content div.view-content table.views-table tbody tr.new,
.page-node-group #content div.view-content table.views-table tbody tr.new,
.page-user #content div.view-content table.views-table tbody tr.new,
.page-node-workflow #content div.view-content table.views-table tbody tr.new,
.page-user-track #content div.view-content table.views-table tbody tr.new,
.section-messages #content div.view-content table.views-table tbody tr.new,
.section-user #content div.view-content table.views-table tbody tr.new {
  font-weight: bold;
}
.page-group-node #content div.view-content table.views-table tbody tr ul,
.page-node-group #content div.view-content table.views-table tbody tr ul,
.page-user #content div.view-content table.views-table tbody tr ul,
.page-node-workflow #content div.view-content table.views-table tbody tr ul,
.page-user-track #content div.view-content table.views-table tbody tr ul,
.section-messages #content div.view-content table.views-table tbody tr ul,
.section-user #content div.view-content table.views-table tbody tr ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.page-group-node #content div.view-content table.views-table tbody tr ul li,
.page-node-group #content div.view-content table.views-table tbody tr ul li,
.page-user #content div.view-content table.views-table tbody tr ul li,
.page-node-workflow #content div.view-content table.views-table tbody tr ul li,
.page-user-track #content div.view-content table.views-table tbody tr ul li,
.section-messages #content div.view-content table.views-table tbody tr ul li,
.section-user #content div.view-content table.views-table tbody tr ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
}

.page-user-messages table.privatemsg-list {
  margin-top: 10px;
  font-size: 1.1em;
  font-family: SourceSansPro, Tahoma, sans-serif;
  color: #414042;
  font-weight: normal;
  line-height: 16.4px;
  text-transform: none;
}
.page-user-messages table.privatemsg-list thead {
  border-top-color: #cfcfcf;
  border-top-width: 1px;
  border-top-style: solid;
  border-bottom-color: #cfcfcf;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
.page-user-messages table.privatemsg-list thead th {
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0 10px;
  border-bottom: none;
  font-size: 1.1em;
  font-family: SourceSansPro, Tahoma, sans-serif;
  color: #414042;
  font-weight: normal;
  line-height: 16.4px;
  text-transform: none;
}
.page-user-messages table.privatemsg-list thead th:first-child {
  padding-left: 10px;
}
.page-user-messages table.privatemsg-list tbody tr td,
.page-user-messages table.privatemsg-list tbody tr td.active {
  padding: 10px 0;
  background: transparent;
  font-size: 1.1em;
  font-family: SourceSansPro, Tahoma, sans-serif;
  color: #414042;
  font-weight: normal;
  line-height: 16.4px;
  text-transform: none;
}
.page-user-messages table.privatemsg-list tbody tr td p,
.page-user-messages table.privatemsg-list tbody tr td.active p {
  padding: 0;
  margin: 0;
  font-size: 1em;
  font-family: SourceSansPro, Tahoma, sans-serif;
  color: #414042;
  font-weight: normal;
  line-height: 16.4px;
  text-transform: none;
}
.page-user-messages table.privatemsg-list tbody tr td em,
.page-user-messages table.privatemsg-list tbody tr td.active em {
  font-style: normal;
}
.page-user-messages table.privatemsg-list tbody tr td:first-child,
.page-user-messages table.privatemsg-list tbody tr td.active:first-child {
  padding-left: 10px;
}
.page-user-messages table.privatemsg-list tbody tr.even {
  background: #f0f0f0;
}
.page-user-messages table.privatemsg-list tbody tr.new {
  font-weight: bold;
}
.page-user-messages table.privatemsg-list tbody tr ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.page-user-messages table.privatemsg-list tbody tr ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
}

.crm-container .messages td.tasklist {
  padding: 10px 0;
  background: transparent;
  font-size: 1.1em;
  font-family: SourceSansPro, Tahoma, sans-serif;
  color: #414042;
  font-weight: normal;
  line-height: 16.4px;
  text-transform: none;
}
.crm-container .messages td.tasklist p {
  padding: 0;
  margin: 0;
  font-size: 1em;
  font-family: SourceSansPro, Tahoma, sans-serif;
  color: #414042;
  font-weight: normal;
  line-height: 16.4px;
  text-transform: none;
}
.crm-container .messages td.tasklist em {
  font-style: normal;
}
.crm-container .messages td.tasklist:first-child {
  padding-left: 10px;
}
.crm-container .messages td.tasklist:nth-child(odd) {
  background: #f0f0f0;
}
.crm-container .messages td.tasklist ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.crm-container .messages td.tasklist ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
}
