/**
 * @file
 * Tabs Styling
 *
 * Adds styles for the primary and secondary tabs.
 *
 * Compare this with default CSS found in the system module's stylesheet (a copy
 * of which is in drupal7-reference.css.)
 */
/*@import "font-icons";*/
/* line 6, ../sass/includes/_entypo.scss */
ul.tabs-primary.primary li a[href*="email"]:before {
  content: '\2709';
}

/* line 8, ../sass/includes/_entypo.scss */
ul.tabs-primary.primary li a[href*="edit"]:before {
  content: '\270E';
}

/* line 11, ../sass/includes/_entypo.scss */
ul.tabs-primary.primary li a[href$="list"]:before {
  content: '\E777';
}

/* line 16, ../sass/includes/_entypo.scss */
ul.tabs-primary.primary li a[href*="members"]:before {
  content: '\1F465';
}

/* line 44, ../sass/includes/_entypo.scss */
ul.tabs-primary.primary li a[href*="group"]:before {
  content: '\2699';
}

/* line 49, ../sass/includes/_entypo.scss */
ul.tabs-primary.primary li.active a[href^="/asb_scheme"]:before, ul.tabs-primary.primary li a[href*="updates"]:before,
ul.tabs-primary.primary li a[href^="/asb_scheme"]:before {
  content: '\1F4E3';
}

/* line 62, ../sass/includes/_entypo.scss */
ul.tabs-primary.primary li.active a[href^="/scheme"]:before, ul.tabs-primary.primary li a[href^="/scheme"]:before, ul.tabs-primary.primary li a[href^="/messages/view/"]:before {
  content: '\E70A';
}

/* line 149, ../sass/includes/_entypo.scss */
ul.tabs-primary.primary li a[href*="outline"]:before {
  content: '\E005';
}

/* line 164, ../sass/includes/_entypo.scss */
ul.tabs-primary.primary li a[href$="sent"]:before {
  content: '\1F4E4';
}

/* line 165, ../sass/includes/_entypo.scss */
ul.tabs-primary.primary li a[href$="messages"]:before {
  content: '\1F4E5';
}

/* line 188, ../sass/includes/_entypo.scss */
ul.tabs-primary.primary li a[href*="workflow"]:before {
  content: '\1F56A';
}

/* line 13, ../sass/_extends.scss */
.civi-button {
  display: inline-block;
  padding: 0 20px;
  height: 30px;
  line-height: 30px;
  background-color: #EF3F26;
  color: white;
  font-size: 20.04px;
  font-family: League, sans-serif;
  border-radius: 4px;
  text-align: center;
  text-transform: uppercase;
  border: none !important;
  text-shadow: none !important;
  color: white !important;
}
/* line 318, ../sass/_mixins.scss */
.civi-button:hover, .civi-button:focus {
  background-color: #912A1B;
  color: white;
}
/* line 19, ../sass/_extends.scss */
.civi-button span {
  line-height: 2;
}
/* line 21, ../sass/_extends.scss */
.civi-button span .icon {
  display: none !important;
}

/* line 30, ../sass/_extends.scss */
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
/* line 35, ../sass/_extends.scss */
.clearfix:after {
  clear: both;
}

/*
 * Basic positioning styles shared by primary and secondary tabs.
 */
/* line 23, ../sass/tabs.scss */
ul.tabs-primary.primary {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
  font-size: 14.04px;
}
/* line 49, ../../../../../../../../.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.3/stylesheets/compass/typography/lists/_inline-block-list.scss */
ul.tabs-primary.primary li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  white-space: nowrap;
}
/* line 78, ../sass/_mixins.scss */
ul.tabs-primary.primary a,
ul.tabs-primary.primary a:link {
  border: none;
  color: #414042;
  font-weight: normal;
  text-decoration: none;
}
/* line 85, ../sass/_mixins.scss */
ul.tabs-primary.primary a:visited {
  border: none;
  color: #414042;
  text-decoration: none;
}
/* line 90, ../sass/_mixins.scss */
ul.tabs-primary.primary a:hover {
  border: none;
  color: #5a595c;
  text-decoration: none;
}
/* line 28, ../sass/tabs.scss */
ul.tabs-primary.primary a, ul.tabs-primary.primary a:link {
  color: #414042 !important;
}
/* line 32, ../sass/tabs.scss */
ul.tabs-primary.primary li {
  margin: 0 -2px;
  line-height: 34px;
  height: 35px;
  background-color: #F3F2E0;
  background-image: url(/sites/all/themes/asb/images/tabs/left.png), url(/sites/all/themes/asb/images/tabs/right.png);
  background-position: left bottom, right bottom;
  background-repeat: no-repeat, no-repeat;
}
/* line 40, ../sass/tabs.scss */
ul.tabs-primary.primary li a {
  padding-right: 1em;
  padding-left: 1em;
  display: inline-block;
  padding-right: 1em;
  padding-left: 1em;
  box-shadow: inset 0 4px 2px -3px #7C7F7E;
}
/* line 40, ../sass/_mixins.scss */
ul.tabs-primary.primary li a:before {
  font-family: "entypo";
  font-style: normal;
  font-size: 1.65em;
  line-height: 1;
  margin-right: 0.1em;
  text-align: left;
  display: inline-block;
  width: 0.75em;
  color: inherit;
  vertical-align: middle;
}
/* line 48, ../sass/tabs.scss */
ul.tabs-primary.primary li a.active {
  box-shadow: none;
}
/* line 53, ../sass/tabs.scss */
ul.tabs-primary.primary li.active a {
  box-shadow: none;
}
/* line 58, ../sass/tabs.scss */
ul.tabs-primary.primary li.update-tab a {
  box-shadow: inset 0 4px 2px -3px #7C7F7E;
}
/* line 61, ../sass/tabs.scss */
ul.tabs-primary.primary li.update-tab a.active {
  box-shadow: none;
}

/* line 120, ../sass/tabs.scss */
ul#updates-tabs.tabs-primary li.update-tab a {
  box-shadow: none;
}

/* line 126, ../sass/tabs.scss */
ul.tabs-secondary {
  margin: 0;
  padding: 0;
}
/* line 129, ../sass/tabs.scss */
ul.tabs-secondary li {
  margin: 0;
  padding: 0;
  display: inline-block;
}
/* line 133, ../sass/tabs.scss */
ul.tabs-secondary li a {
  display: inline-block;
  padding: 0 20px;
  height: 24px;
  line-height: 24px;
  background-color: #9c897a;
  color: white;
  font-size: 12px;
  font-family: SourceSansPro, Tahoma, sans-serif;
  border-radius: 4px;
  text-align: center;
  text-transform: uppercase;
}
/* line 318, ../sass/_mixins.scss */
ul.tabs-secondary li a:hover, ul.tabs-secondary li a:focus {
  background-color: #912A1B;
  color: white;
}
/* line 135, ../sass/tabs.scss */
ul.tabs-secondary li a.active {
  display: inline-block;
  padding: 0 20px;
  height: 24px;
  line-height: 24px;
  background-color: #EF3F26;
  color: white;
  font-size: 12px;
  font-family: SourceSansPro, Tahoma, sans-serif;
  border-radius: 4px;
  text-align: center;
  text-transform: uppercase;
}
/* line 318, ../sass/_mixins.scss */
ul.tabs-secondary li a.active:hover, ul.tabs-secondary li a.active:focus {
  background-color: #912A1B;
  color: white;
}
