/**
 * @file
 * Wireframes Styling
 *
 * Add wireframes to the basic layout elements.
 */
/* line 61, ../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
* html {
  font-size: 87.5%;
}

/* line 64, ../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 14px;
  line-height: 1.28571em;
}

@font-face {
  font-family: "League";
  src: url("../fonts/league_gothic.eot");
  src: url("../fonts/league_gothic.eot?#iefix") format("embedded-opentype"), url("../fonts/league_gothic.woff") format("woff"), url("../fonts/league_gothic.ttf") format("truetype"), url("../fonts/league_gothic.svg#leaguegothic") format("svg");
  font-weight: normal;
  font-style: normal;
  font-stretch: none;
}

@font-face {
  font-family: "SourceSansPro";
  src: url("../fonts/sourcesanspro-regular.eot");
  src: url("../fonts/sourcesanspro-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/sourcesanspro-regular.woff") format("woff"), url("../fonts/sourcesanspro-regular.ttf") format("truetype"), url("../fonts/sourcesanspro-regular.svg#source_sans_proregular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-stretch: none;
}

@font-face {
  font-family: "SourceSansPro";
  src: url("../fonts/sourcesanspro-italic.eot");
  src: url("../fonts/sourcesanspro-italic.eot?#iefix") format("embedded-opentype"), url("../fonts/sourcesanspro-italic.woff") format("woff"), url("../fonts/sourcesanspro-italic.ttf") format("truetype"), url("../fonts/sourcesanspro-italic.svg#source_sans_proitalic") format("svg");
  font-weight: normal;
  font-style: italic;
  font-stretch: none;
}

@font-face {
  font-family: "SourceSansPro";
  src: url("../fonts/sourcesanspro-bold.eot");
  src: url("../fonts/sourcesanspro-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/sourcesanspro-bold.woff") format("woff"), url("../fonts/sourcesanspro-bold.ttf") format("truetype"), url("../fonts/sourcesanspro-bold.svg#source_sans_probold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-stretch: none;
}

@font-face {
  font-family: "SourceSansPro";
  src: url("../fonts/sourcesanspro-bolditalic.eot");
  src: url("../fonts/sourcesanspro-bolditalic.eot?#iefix") format("embedded-opentype"), url("../fonts/sourcesanspro-bolditalic.woff") format("woff"), url("../fonts/sourcesanspro-bolditalic.ttf") format("truetype"), url("../fonts/sourcesanspro-bolditalic.svg#source_sans_probold_italic") format("svg");
  font-weight: bold;
  font-style: italic;
  font-stretch: none;
}

/* line 56, ../sass/_type.scss */
h1,
h2,
h3,
h4,
h5 {
  text-transform: uppercase;
  color: #414042;
  font-family: League, Helvetica, sans;
  font-weight: normal;
}

/* line 64, ../sass/_type.scss */
h2#site-name,
h1#site-name {
  font-size: 4.5em;
  color: white;
}
/* line 67, ../sass/_type.scss */
h2#site-name a, h2#site-name a:link, h2#site-name a:visited,
h1#site-name a,
h1#site-name a:link,
h1#site-name a:visited {
  color: inherit;
}

/* line 19, ../sass/wireframes.scss */
.with-wireframes #header,
.with-wireframes #main,
.with-wireframes #content,
.with-wireframes #navigation,
.with-wireframes .region-sidebar-first,
.with-wireframes .region-sidebar-second,
.with-wireframes #footer,
.with-wireframes .region-bottom {
  outline: 1px solid #ccc;
}
