/**
 * @file
 * Wireframes Styling
 *
 * Add wireframes to the basic layout elements.
 */
/*@import "font-icons";*/
/* line 13, ../sass/_extends.scss */
.civi-button {
  display: inline-block;
  padding: 0 20px;
  height: 30px;
  line-height: 30px;
  background-color: #EF3F26;
  color: white;
  font-size: 20.04px;
  font-family: League, sans-serif;
  border-radius: 4px;
  text-align: center;
  text-transform: uppercase;
  border: none !important;
  text-shadow: none !important;
  color: white !important;
}
/* line 318, ../sass/_mixins.scss */
.civi-button:hover, .civi-button:focus {
  background-color: #912A1B;
  color: white;
}
/* line 19, ../sass/_extends.scss */
.civi-button span {
  line-height: 2;
}
/* line 21, ../sass/_extends.scss */
.civi-button span .icon {
  display: none !important;
}

/* line 30, ../sass/_extends.scss */
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
/* line 35, ../sass/_extends.scss */
.clearfix:after {
  clear: both;
}

/* line 12, ../sass/wireframes.scss */
.with-wireframes #header,
.with-wireframes #main,
.with-wireframes #content,
.with-wireframes #navigation,
.with-wireframes .region-sidebar-first,
.with-wireframes .region-sidebar-second,
.with-wireframes #footer,
.with-wireframes .region-bottom {
  outline: 1px solid #ccc;
}
