/**
 * @file
 * Wireframes Styling
 *
 * Add wireframes to the basic layout elements.
 */
/*@import "font-icons";*/
/* line 13, ../sass/_extends.scss */
.civi-button {
  display: inline-block;
  padding: 0 20px;
  height: 30px;
  line-height: 30px;
  background-color: #ef3f26;
  color: white;
  font-size: 20.04px;
  font-family: League, sans-serif;
  border-radius: 4px;
  text-align: center;
  text-transform: uppercase;
  border: none;
  text-shadow: none;
  color: white !important;
}
/* line 319, ../sass/_mixins.scss */
.civi-button:hover, .civi-button:focus {
  background-color: #912a1b;
  color: white;
}
/* line 19, ../sass/_extends.scss */
.civi-button span {
  line-height: 30px;
}
/* line 21, ../sass/_extends.scss */
.civi-button span .icon {
  display: none;
}
/* line 25, ../sass/_extends.scss */
.civi-button span div.icon {
  display: none;
}

/* line 19, ../sass/wireframes.scss */
.with-wireframes #header,
.with-wireframes #main,
.with-wireframes #content,
.with-wireframes #navigation,
.with-wireframes .region-sidebar-first,
.with-wireframes .region-sidebar-second,
.with-wireframes #footer,
.with-wireframes .region-bottom {
  outline: 1px solid #ccc;
}
/* line 23, ../sass/wireframes.scss */
.lt-ie8 .with-wireframes #header, .lt-ie8
.with-wireframes #main, .lt-ie8
.with-wireframes #content, .lt-ie8
.with-wireframes #navigation, .lt-ie8
.with-wireframes .region-sidebar-first, .lt-ie8
.with-wireframes .region-sidebar-second, .lt-ie8
.with-wireframes #footer, .lt-ie8
.with-wireframes .region-bottom {
  border: 1px solid #ccc;
  /* IE6/7 do not support the outline property. */
}
